[package]
name = "schema"
version = "0.0.0"
edition = "2021"

[features]
proptest-min = ["proptest", "proptest-derive"]
proptest-low = ["proptest", "proptest-derive"]
proptest-high = ["proptest", "proptest-derive"]
proptest-max = ["proptest", "proptest-derive"]

[dependencies]
codec-html-trait = { path = "../codec-html-trait" }
codec-jats-trait = { path = "../codec-jats-trait" }
codec-json5-trait = { path = "../codec-json5-trait" }
codec-losses = { path = "../codec-losses" }
codec-markdown-trait = { path = "../codec-markdown-trait" }
codec-text-trait = { path = "../codec-text-trait" }
common = { path = "../common" }
monostate = "0.1.9"
node-store = { path = "../node-store" }
node-strip = { path = "../node-strip" }
proptest = { version = "1.3.1", optional = true }
proptest-derive = { version = "0.4.0", optional = true }
smol_str = "0.1.24"
