[package]
name = "schema"
version = "0.0.0"
edition = "2021"

[features]
proptest-min = ["proptest", "proptest-derive"]
proptest-low = ["proptest", "proptest-derive"]
proptest-high = ["proptest", "proptest-derive"]
proptest-max = ["proptest", "proptest-derive"]

[dependencies]
codec-dom-trait = { path = "../codec-dom-trait" }
codec-html-trait = { path = "../codec-html-trait" }
codec-info = { path = "../codec-info" }
codec-jats-trait = { path = "../codec-jats-trait" }
codec-json5-trait = { path = "../codec-json5-trait" }
codec-latex-trait = { path = "../codec-latex-trait" }
codec-markdown-trait = { path = "../codec-markdown-trait" }
codec-text-trait = { path = "../codec-text-trait" }
common = { path = "../common" }
derive_more = { workspace = true }
format = { path = "../format" }
human_name = "2.0.3"
images = { path = "../images" }
interim = { version = "0.2.1", features = ["chrono_0_4"] }
monostate = { workspace = true }
node-id = { path = "../node-id" }
node-patch-derive = { path = "../node-patch-derive" }
node-path = { path = "../node-path" }
node-probe-derive = { path = "../node-probe-derive" }
node-store = { path = "../node-store" }
node-strip = { path = "../node-strip" }
node-type = { path = "../node-type" }
node-url = { path = "../node-url" }
node-walk-derive = { path = "../node-walk-derive" }
proptest = { version = "1.6.0", optional = true }
proptest-derive = { version = "0.5.1", optional = true }
serde_with = "3.12.0"
time = { workspace = true }

[dev-dependencies]
codec = { path = "../codec" }
codec-markdown = { path = "../codec-markdown" }
common-dev = { path = "../common-dev" }

[lints]
workspace = true
