img,
.sc-isolated-node.sm-default-style.sm-image {

	// Centered with small vertical margin
	display: block;
	margin: 1rem auto;

	// No larger than container
	max-width: 100%;

	& > .se-slug {
		height: 1px;
	}

	& > .se-container {
		display: block;
		// Turn off margin from top level `img` selector
		// (otherwise get two effective margins)
		img {
			margin: 0 auto;
		}
	}

	// When seleted place outline around image, not container
	&.sm-selected {
		& > .se-container {
			background: none;
			outline: none;
		}
		img {
			outline: 2px solid $local-selection-color;
		}
	}
}
