/**
 * Stencila `DocumentEditor` tool sets
 */

.sc-toolset {

	background: hsl($stencila-green-hue, 80%, 50%);
	opacity: 0.95;
	border-radius: 5px;

	display: flex;
	flex-direction: column;

	&.sm-disabled {
		display: none;
	}

	.se-group {
		display: flex;
		flex-direction: column;

		max-height: 0;
	    transition: max-height 0.3s;
	    overflow: hidden;

		&.sm-enabled {
			// Override this below for each group so 
			// it just fits the number of tools (so no apparent delay in animation)
			max-height: 100em;
		}
	}
	
	.se-tool {
		
		display: inline-block;
		margin: 0 0.1em;

		button {
			height: 2.5em;
			width: 2.5em;
			background: none;
			outline: none;
			border: none;
			color: white;
			
			i {
				font-size: 1.5em;
			}
		}

		// Disabled tool icons
		&.sm-disabled button i {
			color: hsl($stencila-green-hue, 80%, 60%);
		}

		// Active tool icons
		&.sm-active button i {
			color: hsl($stencila-green-hue, 15%, 50%);
		}

		.se-details {
			display: inline-block;
			line-height: normal;
			
			max-width: 0;
			overflow: hidden;
			transition: max-width 0.5s;

			&.sm-enabled {
				max-width: 10em;
			}

			input {
				outline: none;
				border: none;
				border-radius: 3px;
				padding: 0.2em;

			    background: hsla(0,0%,100%,0.5);
			    line-height: 1em;
			    height: 1em;
			    font-size: 1em;
			    margin-right: 0.3em;
			}

		}

		// Hide the Substance added tool mode
		.se-mode {
			display: none;
		}
	}
}

/**
 * Document toolset
 */
.sc-overall-toolset {
	position: fixed;
	top: 1em;
	right: 0.5em;

	.se-edit-group.sm-enabled {
		max-height: 20em;
	}
}

/**
 * Node toolset
 * 
 * Should appear in the margin to the left of the caret
 */
.node-toolset {
	position: fixed;
	top: 3em;
	left: 1em;
}

/**
 * Annotation toolset
 * 
 * Should appear as a modal above the current caret position
 */
.sc-annotation-toolset {
	position: fixed;
	top: 1em;
	left: 1em;

	flex-direction: row;
}
