/**
 * Stencila `DocumentEditor` tool sets
 */

.sc-toolset {

	border-radius: 3px;
	border: 1px solid grey;
	padding: 0.3em;

	&.sm-disabled {
		display: none;
	}
	
	.se-tool {
		
		display: inline-block;
		margin: 0 0.1em;

		button {
			height: 2em;
			width: 2em;
			background: none;
			outline: none;
			border: 1px solid grey;
			border-radius: 50%;
		}
	}
}

.document-toolset {
	position: fixed;
	top: 1em;
	right: 1em;
}

.text-toolset {
	position: fixed;
	top: 1em;
	left: 1em;
}
