@import '../fonts/lato';
@import '../fonts/source-code-pro';
@import '../node_modules/font-awesome/scss/font-awesome.scss';

$stencila-green-hue: 93;
$stencila-green-saturation: 90%;
$stencila-green-lightness: 50%;

body {
	padding-top: 3em;
}

@import 'content';
@import 'toolsets';
