// Fonts
@import '../fonts/lato';
@import '../fonts/source-code-pro';
@import '../node_modules/font-awesome/scss/font-awesome.scss';

// Substance styles
// Generally we only using Substance styles that are "non-visual" and
// more related to implementing functionality (e.g. positioning) of
// Substance components
$local-selection-color: hsla(93, 100%, 70%, 0.5);
$collaborator-color-1: #A4E57A;
$collaborator-color-2: #BC90FF;
$collaborator-color-3: #D6BB4C;
$collaborator-color-4: #BAA6A0;
$collaborator-color-5: #7BB5B3;
$collaborator-color-6: #FF7B7B;
$collaborator-color-7: #A0CC00;
$collaborator-color-8: #89CAFF;
$collaborator-color-9: #FF9FBF;
$collaborator-color-10: #FFB533;
@import '../node_modules/substance/styles/components/text-property';
@import '../node_modules/substance/styles/components/inline-node';
@import '../node_modules/substance/styles/components/isolated-node';
@import '../node_modules/substance/styles/components/scroll-pane';
@import '../node_modules/substance/styles/components/overlay';


$sans-font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
$mono-font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, 'Source Code Pro', monospace;
$stencila-green-hue: 93;
$stencila-green-saturation: 90%;
$stencila-green-lightness: 50%;
$z-index-discussion: 100;

// Application styles
@import 'app';
@import 'toolsets';

// Document styles
.stencila-selected {
	background: hsla($stencila-green-hue, 100%, 85%, 0.5);
	outline: 2px solid hsla($stencila-green-hue, 100%, 70%, 0.5);
}
@import 'resets';
@import 'content';
