.sc-edit-cell-expression-tool {
  width: 100%;
}

/* HACK: Make this use up all available space */
.sc-tool-group.sm-edit-cell-expression {
  flex: 1 1 0 !important;
}

.sc-edit-cell-expression-tool input {
  width: 100%;
  border: none;
}

.sc-edit-cell-expression-tool .se-function-icon {
  border-right: 1px solid #ddd;
  padding-right: 15px;
  position: absolute;
  left: 15px;
  top: 2px;
  font-size: 18px;
  color: #999;
}
.sc-edit-cell-expression-tool sub {
  vertical-align: sub;
  font-size: smaller;
}

.sc-edit-cell-expression-tool .sc-sheet-cell-editor {
  margin-left: 50px;
  font-size: 14px;
  padding-top: 5px;
  border: none;
}
