.sc-formula-bar .se-function-icon {
  border-right: 1px solid #ddd;
  padding-right: 16px;
  position: absolute;
  left: 16px;
  height: 28px;
  top: 6px;
  font-size: 18px;
  color: #999;
}

.sc-formula-bar sub {
  vertical-align: sub;
  font-size: smaller;
}

.sc-formula-bar .sc-code-editor {
  margin-left: 50px;
  font-size: 14px;
  border: none;
}
