/* TODO: this should go into _variables.css */
:root {
  --sheet-header-width: 50px;
  --sheet-header-height: 32px;
  --sheet-header-height-plus-1: 33px;
  --sheet-header-background: #dddddd;
  --sheet-header-bordercolor: #C1C1C1;
  --sheet-scrollbar-width: 16px;
  --sheet-cell-bordercolor: #d5d5d5;
  --sheet-error-color: #CC0000;
  --sheet-error-bgcolor: rgba(204, 0, 0, 0.3);
  --sheet-warning-color: #CE9D07;
  --sheet-warning-bgcolor: rgba(206, 157, 7, 0.3);
}
