@import './styles/_sheet';
@import './styles/_cell';
@import './styles/_constant';
@import './styles/_error';
@import './styles/_expression';
@import './styles/_boolean';
@import './styles/_primitive-expression';
@import './styles/_html-cell';
@import './styles/_image-expression';
@import './styles/_function';
@import './styles/_select-function';
@import './styles/_cell-teaser';
@import './styles/_toolbar';
@import './styles/_display-mode-tool';
@import './styles/_sheet-editor';

.sc-sheet-editor {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
