language: node_js

node_js:
  - 7
  - 6

# Dependencies for `canvas` (required by `d3`)
# See https://github.com/Automattic/node-canvas/blob/master/.travis.yml
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libcairo2-dev
      - libjpeg8-dev
      - libpango1.0-dev
      - libgif-dev
      - g++-4.9
env:
  - CXX=g++-4.9

cache:
  directories:
    - node_modules

script:
  - make lint
  - make cover
  - make docs

after_success:
  - bash <(curl -s https://codecov.io/bash)
