.stencil-text {
  background: hsla($stencil-node-ok-hue, 90%, 50%, 0.5);
  border-bottom: 1px dashed hsl($stencil-node-ok-hue, 50%, 50%);
  color: hsl($stencil-node-ok-hue, 50%, 50%);
  cursor: pointer;

  &.highlighted {
    color: hsl(100, 90%, 40%);
  }

  &.error {
    background: hsla($stencil-node-error-hue, 90%, 50%, 0.5);
    border-bottom: 1px dashed hsl($stencil-node-error-hue, 50%, 50%);
    color: hsl($stencil-node-error-hue, 50%, 50%);
  }
}