// Match for writer and reader markup
.stencil-text {
  color: $source-node-color;
  cursor: pointer;

  &.highlighted {
    color: hsl(100, 90%, 40%);
  }

  &.error {
    color: $error-node-color;
  }
}

.se-stencil-text {
  .stencil-text-source {
    background: #2B303B;
    color: #fff;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 13px;
    padding: 1px;
    vertical-align: middle;
  }
}
