code,
.sc-code {
	// Use a shaded background but don't colour text
	// so that a `code` node can also be a `link`
	padding: 1px 0;
	background: hsl(0,0%,93%);
	border-bottom: 1px solid hsl(0,0%,90%);
	font-family: $mono-font-family;
}
