@import "components/font-awesome/less/font-awesome.less";
@FontAwesomePath:   "components/font-awesome/font";

body {
    background: #333333;
}

.icon {
    color: #7bcc38;
}

.icon-menu {
    .icon;
}
.icon-menu:before {
    content: "\f00a"; //icon-th
}

.stencil {
    margin: 10px;
    
    width: 21cm;
    
    background: #EEEEEE;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    padding: 10px;
    
    font-family: Helvetica, Ariel, sans-serif;
}

