.title {
  @apply flex justify-between items-center py-4 px-3 sticky z-10 top-0 bg-white;
  color: var(--color-key);

  h1 {
    @apply inline m-0 text-lg pr-4;
  }
}

.secondaryText {
  @apply text-base font-normal m-0;
  color: var(--color-neutral-500);
}

h2 {
  @apply text-base font-normal pl-3;
  color: var(--color-neutral-500);
}

* + stencila-button {
  @apply ml-2;
}

stencila-menu stencila-icon {
  @apply pr-1;
}
