.settingsWindow {
  @apply flex flex-row max-h-screen overflow-hidden min-h-screen;
  background-color: var(--color-neutral-800);

  main {
    @apply px-4 py-12 w-full;
    background-color: var(--color-stock);
    max-height: 100vh;
    overflow: auto;

    & > * {
      @apply block mx-auto;
    }
  }
}
