.se-home-tool {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  img {
  	height: 28px;
  	width: 28px;
  }
  .se-address {
  	margin-left: 0.5em;
    font-size: 1.25em;
    color: #AEAEAE;
    padding: 0 0 3px 0;
  }
}
