app-onboarding-root {
  @apply flex items-center justify-center p-12 h-full w-full text-center;
}

.app-onboarding > stencila-icon {
  @apply text-6xl p-4 rounded-lg;
  color: var(--color-neutral-600);
  background: var(--color-neutral-50);
}

h1 {
  @apply text-2xl mt-8 mb-2;
  color: var(--color-key);
}

p {
  @apply text-lg leading-normal mt-0 mb-0;
  color: var(--color-key);

  &:last-of-type {
    @apply mb-8;
  }
}

stencila-button {
  @apply block mb-2;
}

.skipSection {
  @apply text-sm;
  color: var(--color-neutral-600);
}

.logo {
  width: 200px;
}
