build: 'off'

artifacts:
  - path: stencila-win-x64.zip
    name: Stencila Bin

install:
  - ps: Install-Product node 12
  - npm install

test_script:
  - npm run build

after_test:
  - ps: 7z a stencila-win-x64.zip bin\stencila.exe

deploy:
  release: $(appveyor_build_version)
  description: 'Stencila CLI Windows Release'
  provider: GitHub
  auth_token:
    secure: oXth+pYh6Nm8XlKDc27EeOuKlY6lTYt0lfeGNcQgI5T1ZwE8PCIKO5DhAA/UPL4W
  artifact: stencila-win-x64.zip
  draft: false
  prerelease: false
  skip_tags: true
  tag: $(APPVEYOR_REPO_TAG_NAME)
  on:
    branch: master
    APPVEYOR_REPO_TAG: true
