# Ignore everything except what is needed
# This is beneficial for build times and security https://codefresh.io/blog/not-ignore-dockerignore-2/
# Although the folders for SDKs are not used in the build they need
# to be included here because they are configured in the root `Cargo.toml`.
*
!Cargo.*
!package*.json
!assistants/builtin
!json/context.jsonld
!node/Cargo.toml
!node/src
!python/Cargo.toml
!python/src
!rust
!rust-toolchain.toml
!web
