# Ignore Vagrant cache
.vagrant

# Ignore the sandbox
.sandbox

# Ignore code editor and IDE project and workspace files
*.sublime-workspace
.Rhistory

# Ignore Node.js modules
node_modules
npm-debug.log
