{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": [
    "stylelint-selector-pattern",
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-declaration-strict-value",
    "stylelint-selector-tag-no-without-class"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      { "ignoreAtRules": ["extend", "define-mixin", "mixin"] }
    ],
    "selector-pseudo-class-case": null,
    "no-descending-specificity": null,
    "plugin/declaration-block-no-ignored-properties": true,
    "plugin/selector-tag-no-without-class": "tag",
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": ["/^stencila-/"]
      }
    ],
    "scale-unlimited/declaration-strict-value": [
      ["/color/", "font-size", "fill", "stroke"],
      {
        "ignoreKeywords": ["currentColor", "inherit"],
        "disableFix": true
      }
    ],
    "value-keyword-case": [
      "lower",
      {
        "ignoreProperties": ["/^--/", "font-family"]
      }
    ],
    "xi/selector-pattern": [
      "^(?:{element}{pseudo}?).*$",
      {
        "subpatterns": {
          "semantic": ":--[A-z][A-z0-9]+",
          "element": "(?:\\w*:--[A-z][A-z0-9]+|:root|^stencila-)",
          "pseudo": "(?::{1,2}(?:\\w|-)+)|(:not(?:\\w|-)+)",
          "combinator": "(:?\\s*(?:>|\\+|~|\\s+|\\|\\|)\\s*)"
        }
      }
    ]
  },
  "ignoreFiles": ["src/shared/styles/mathjax.css"]
}
