[workspace]

# Python and R binding are not added as members here yet until more developed
members = ["rust", "cli", "node"]

[profile.release]
# Settings that help reduce the binary size based on https://github.com/johnthagen/min-sized-rust
lto = true
codegen-units = 1
# Currently, disable `panic = 'abort'` given that it causes the linking error described here
# https://stackoverflow.com/questions/39844260/how-to-use-panic-abort-with-external-dependencies
# because the crate `human_name` specifies `dylib` as one of its library types.
# panic = 'abort'
