[workspace]
resolver = "2"
members = ["rust/*", "node", "python"]

# Profile aimed at reducing disk usage and improving build times on CI
# At time of writing, these settings produced a ./target/ci that was 5G vs a
# ./target/debug of 15G.
[profile.ci]
inherits = "dev"
debug = false
strip = true
opt-level = "z"

# Profile that help reduce the binary size based on https://github.com/johnthagen/min-sized-rust
[profile.release]
strip = true
lto = true
codegen-units = 1
panic = "abort"
