[workspace]
resolver = "2"
members = ["rust/*", "node/stencila-node", "python/stencila"]

# Reduce the amount of debug info in dev binaries. 
# Initially introduced to avoid a fatal error when running tests for the Node SDK
# seemingly caused by large addon size.
[profile.dev]
debug = 1

# Profile to reduce the binary size based on https://github.com/johnthagen/min-sized-rust
[profile.release]
strip = true
lto = true
codegen-units = 1
panic = "abort"

[workspace.dependencies]
base64 = "0.22.0"
cached = { version = "0.53.0", features = ["async", "disk_store"] }
flate2 = "1.0.31"
mime = "0.3.17"
mime_guess = "2.0.5"
quick-xml = "0.36.0"
