[package]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
name = "stencila"
version = "0.34.3"
authors = ["Stencila <hello@stenci.la>"]
edition = "2018"

[features]
# Compile time feature flags. See https://www.worthe-it.co.za/blog/2018-11-18-compile-time-feature-flags-in-rust.html
# Formats available for `decode` and `encode` methods
json = []
yaml = ["serde_yaml"]
# Languages available for the `query` method
jsonptr = [] #"json-pointer"]
jmespath = [] #"jmespatch"]
# JSON-RPC interface and protocols
request = []
request-stdio = []
request-http = ["reqwest"]#, "jsonwebtoken"]
request-ws = ["tokio-tungstenite"]#, "jsonwebtoken"]
serve = []
serve-stdio = []
serve-http = ["warp"]#, "jsonwebtoken"]
serve-ws = ["warp"]#, "jsonwebtoken"]
# Command line interface
cli = ["structopt", "exitcode"]#, "crossterm"]
# All features are on by default, use `--no-default-features --features="json http ..."` to
# cherry pick certain features
default = [
    "json",
    "yaml",
    "jsonptr",
    "jmespath",
    "request",
    "request-stdio",
    "request-http",
    "request-ws",
    "serve",
    "serve-stdio",
    "serve-http",
    "serve-ws",
    "cli",
]

[dependencies]
anyhow = "1.0.37"
# crossterm = { version = "0.19.0", optional = true }
exitcode = { version = "1.1.2", optional = true }
futures = "0.3.8"
# jmespatch = { version = "0.3.0", optional = true }
# json-pointer = { version = "0.3.4", optional = true }
jsonschema = "0.4.3"
# jsonwebtoken = { version = "7.2.0", optional = true }
regex = "1.4.2"
reqwest = { version = "0.10.0", optional = true, features = ["json"] }
serde = { version = "1.0.118", features = ["derive"] }
serde_json = { version = "1.0.61" }
serde_yaml = { version = "0.8.14", optional = true }
structopt = { version = "0.3.21", optional = true }
strum = { version = "0.20", features = ["derive"] }
tokio = { version = "0.2.24", features = ["full"] }
tokio-tungstenite = {version = "0.11.0", optional = true}
url = "2.2.0"
warp = { version = "0.2.5", optional = true }

[dev-dependencies]
pretty_assertions = "0.6.1"

[profile.release]
# Settings that help reduce the binary size based on https://github.com/johnthagen/min-sized-rust
lto = true
codegen-units = 1
panic = 'abort'
