{% extends "_base.html" %}

{% block main %}
  <div id="redoc-container"></div>
  <script src="/js/redoc.standalone.js"> </script>
  <script>
    Redoc.init('/specs/host.redoc-yaml', {
      // See available theme options at 
      // https://github.com/Rebilly/ReDoc/blob/master/src/theme.ts
      theme: {
        baseFont: {
          size: '1em',
          family: 'Lato'
        },
        headingsFont: {
          family: 'Lato'
        }
      }
    }, document.getElementById('redoc-container'))
  </script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <style type="text/css">
    pre.sc-kafWEX {
      background: #171e22;
      color: #fafbfc;
    }
  </style>
{% endblock %}