/* 
Author-year style in-text citations

See https://en.wikipedia.org/wiki/APA_style#In-text_citations
*/
@import '../cite-author-year/styles.css';

/*
Reference list

See https://en.wikipedia.org/wiki/APA_style#Reference_list
*/
:--references {
  > ol {
    padding-left: 0;
    list-style: none;
  }

  :--reference {
    :--authors {
      display: inline;
      padding-left: 0;
      list-style: none;

      :--author {
        display: inline-flex;

        :--familyNames {
          order: 1;

          :--familyName {
            white-space: nowrap;

            &::after {
              content: '\00a0';
            }

            &:last-of-type::after {
              content: normal;
            }
          }

          &::after {
            content: ',\00a0';
          }
        }

        :--givenNames {
          order: 2;

          :--givenName {
            white-space: nowrap;

            &::after {
              content: '.\00a0';
            }

            &:last-of-type::after {
              content: '.';
            }
          }
        }

        &::after {
          order: 3;
          content: ',\00a0';
        }

        &:last-of-type:not(:only-child)::before {
          content: '&\00a0';
        }

        &:last-of-type::after {
          content: normal;
        }
      }
    }

    :--datePublished {
      &::before {
        content: '\00a0(';
      }

      &::after {
        content: ').\00a0';
      }
    }

    :--title::after {
      content: '.\00a0';
    }

    :--isPartOf:--PublicationVolume {
      display: inline-flex;

      :--isPartOf:--Periodical {
        order: 1;

        :--name {
          font-style: italic;
        }

        &::after {
          content: ',\00a0';
        }
      }

      :--volumeNumber {
        order: 2;
        font-style: italic;
      }
    }

    :--isPartOf:--PublicationIssue {
      display: inline-flex;

      :--isPartOf:--PublicationVolume {
        order: 1;
      }

      :--issueNumber {
        order: 2;

        &::before {
          content: '(';
        }

        &::after {
          content: ')';
        }
      }
    }

    :--pageStart,
    :--pagination {
      &::before {
        content: ',\00a0';
      }
    }

    :--pageEnd {
      &::before {
        content: '-';
      }
    }

    &::after {
      content: '.';
    }
  }
}
