.sc-isolated-node.sm-execute {
  .se-slug {
    height: 0;
  }

  .se-container {
    width: 100%;
  }

  &.sm-selected > .se-container {
    background: none;
    outline: 0;
  }
}

[data-execute],
.sc-execute {
  display: none;

  margin: 1em 0;
  border: 1px solid black;
  border-radius: 3px;

  &[data-show='true'],
  &.sm-show {
    display: block;
  }

  .se-tools {
    background: #2f3129;

    button {
      height: 2em;
      width: 2em;
      background: none;
      outline: none;
      border: 0;
      margin-right: 1em;

      i {
        color: #18f408;
        font-size: 1.1em;
      }
    }

    input {
      font-family: mono;
      color: #18f408;
      text-align: left;
      background: none;
      border: 0;
      width: 85%;
    }
  }

  .sc-code-editor pre {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }

  &[data-status='error'] .se-tools button i {
    color: #f00;
  }

  [data-errors],
  .se-errors {
    margin: 0;
    background: #fcfcfc;
    color: #f00;
    white-space: pre-wrap;
    word-break: keep-all;
  }

  [data-result],
  .se-result {
    position: relative;
    margin: 0;
    background: #fcfcfc;
    color: #444;
    white-space: pre-wrap;
    word-break: keep-all;
    padding: .8em;

    .se-type {
      position: absolute;
      top: 0;
      left: 0;
      background: #f8c22c;
      padding: .5em;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }
}

&.sm-reveal .sc-execute {
  display: block;
}
