:--CiteGroup {
  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }

  :--Cite {
    &:not(:last-child)::after {
      content: ',\00a0';
      order: 100;
    }
  }
}

:not(:--CiteGroup) > :--Cite {
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

/* Show numeric citation format */
:--Cite > a > :first-child {
  display: inline;
}

/* Hide author-date citation format */
:--Cite > a > :last-child {
  display: none;
}

/* Ensure that at least one citation format is visible */
:--Cite > a > :only-child {
  display: inline;
}
