/* Override browser default stylesheets to avoid italicized parentheses */
:--Cite {
  &,
  :--citationPrefix::before,
  :--citationPrefix::after {
    font-style: normal;
  }

  /* But keep the reference links italicized */
  & > a {
    font-style: italic;
  }
}

/* Show numeric citation content */
:--Cite > a > :first-child {
  display: inline;
}

/* Hide other citation content */
:--Cite > a > :not(:first-child) {
  display: none;
}

/* Ensure that at least some content is visible */
:--Cite > a > :only-child {
  display: inline;
}

/* Space after citation prefix */
:--Cite :--citationPrefix::after {
  content: '\00a0';
}

/* Space before citation suffix */
:--Cite :--citationSuffix::before {
  content: '\00a0';
}

/* Square brackets around all orphan citation types */
:not(:--CiteGroup) > :--Cite:not([data-citationmode]),
:not(:--CiteGroup) > :--CiteParenthetical,
:not(:--CiteGroup) > :--CiteNarrative,
:not(:--CiteGroup) > :--CiteNarrativeAuthor,
:not(:--CiteGroup) > :--CiteNarrativeYear {
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

/* Square brackets around CiteGroup elements with commas between Cite items */
:--CiteGroup {
  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }

  :--Cite {
    &:not(:last-child)::after {
      content: ',\00a0';
      order: 100;
    }
  }
}
