/* Square brackets around CiteGroup elements with commas between Cite items */
:--CiteGroup {
  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }

  :--Cite {
    &:not(:last-child)::after {
      content: ',\00a0';
      order: 100;
    }
  }
}

/* Square brackets around orphan Cite elements */
:not(:--CiteGroup) > :--Cite {
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

/* Show numeric citation content */
:--Cite > a > :first-child {
  display: inline;
}

/* Hide author-date citation content */
:--Cite > a > :last-child {
  display: none;
}

/* Ensure that at least some content is visible */
:--Cite > a > :only-child {
  display: inline;
}
