.stencil-parameter {
	margin: 1em 0 1em 0;
	max-width: 20em;

	.name {
		font-size: 0.9em;
		font-weight: 700;
		color: #777;
	}

	.value {
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		padding: 0.2em;
		color: $source-node-color;
	}

	.error {
		color: red;
	}
}