.sc-isolated-node .sc-cell .se-expression ::selection {
  background: var(--stencila-green-transparent);
}

.sc-cell {
  border: 1px solid #ddd;
}

.sc-cell .se-cell-editor-container {
  min-height: 30px;
  position: relative;
  border: 1px solid #ddd;
}

.sc-cell .se-cell-editor-container .sc-dropdown button {
  border: none;
}

.sc-cell .se-ellipses {
  position: absolute;
  top: 0px;
  right: 0px;
}

.sc-cell .se-expression {
  font-family: var(--mono-font-family);
  font-size: 12px;
  /*padding: 10px 20px;*/
  font-weight: normal;
  background: #fafafa;
  color: #737373;
}

.sc-cell-value .se-output {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.sc-cell-value.sm-pending {
  opacity: 0.2;
}

.sc-table-value {
  table-layout: fixed;
  min-width: 100px;
}

.sc-table-value thead {
  border-bottom: 1px solid #ccc;
}

.sc-table-value th,
.sc-table-value td {
  text-align: right;
}