[package]
name = "server"
version = "2.0.0-alpha.23"
authors = ["Nokome Bentley <nokome@stencila.io"]
edition = "2021"

[dependencies]
axum = { version = "0.7.2", features = ["ws"] }
codecs = { path = "../codecs" }
common = { path = "../common" }
document = { path = "../document" }
format = { path = "../format" }
mime_guess = "2.0.4"
rust-embed = { version = "8.1.0", features = ["interpolate-folder-path", "include-exclude"] }
tower-http = { version = "0.5.0", features = ["trace"] }

[dev-dependencies]
common-dev = { path = "../common-dev" }
