[package]
name = "server"
version = "2.0.0-beta.5"
authors = ["Nokome Bentley <nokome@stencila.io"]
edition = "2021"

[dependencies]
axum = { version = "0.7.7", features = ["ws"] }
codecs = { path = "../codecs" }
common = { path = "../common" }
document = { path = "../document" }
format = { path = "../format" }
mime_guess = { workspace = true }
node-id = { path = "../node-id" }
secrets = { path = "../secrets" }
tower-cookies = "0.10.0"
tower-http = { version = "0.6.1", features = ["trace"] }
web-dist = { path = "../web-dist" }

[dev-dependencies]
common-dev = { path = "../common-dev" }
