.sc-dashboard {
  max-width: 660px;
  padding: 20px;
  margin: 0 auto;
}

.sc-dashboard .se-document-entry {
  position: relative;
  padding-bottom: 20px;
}

.sc-dashboard .se-document-entry a {
  color: var(--default-text-color);
  font-weight: 600;
  font-size: 22px;
}

.sc-dashboard .se-document-entry a:hover {
  color: var(--stencila-green);
}

.sc-dashboard .se-document-entry .se-file-path {
  color: #bbb;
  font-size: 10px;
  font-family: var(--mono-font-family);
  padding-bottom: 3px;
}

.sc-dashboard .se-document-entry .se-updated-at {
  font-size: 12px;
  font-style: italic;
}

/* Actions dropdown */

.sc-dashboard .se-document-entry .se-actions-dropdown {
  position: absolute;
  right: 0px;
  top: 5px;
}

.sc-dashboard .se-document-entry .se-actions-dropdown .se-actions-toggle {
  display: block;
  text-align: center;
  width: 20px;
}

.sc-dashboard .se-document-entry .se-actions-dropdown .se-actions-toggle:hover {
  color: var(--stencila-green);
}

.sc-dashboard .se-document-entry .se-actions-dropdown .se-actions {
  z-index: 200;
  position: absolute;
  background: var(--dark-bg-color);
  display: none;
}

.sc-dashboard .se-document-entry .se-actions-dropdown.sm-expanded .se-actions {
  display: block;
}

.sc-dashboard .se-document-entry .se-actions-dropdown.sm-expanded .se-actions button {
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  width: 100%;
}

.sc-dashboard .se-document-entry .se-actions-dropdown.sm-expanded .se-actions button:hover {
  background: black;
}
