.stencil-exec-button {
    float: right;
    opacity: 0.6;
    margin: 0.5em auto 0.5em auto;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: hsla(100, 92%, 47%, 0.81);
    text-align: center;

    &.error {
      background: hsla(0, 92%, 47%, 0.81);
    }

    i {
      color: white;
    }
  }

.stencil-exec {

  button {
    @extend .stencil-exec-button
  }

  .se-exec-source {
    margin-bottom: 2em;
    border-radius: 3px;   
    background: #333;
    padding: 1em;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 85%;
    color: #EEE;
  }
}