.stencil-exec-button {
    margin: 0.5em auto 0.5em auto;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: hsla(100, 92%, 47%, 0.81);
    text-align: center;

    &.error {
      background: hsla(0, 92%, 47%, 0.81);
    }

    i {
      color: white;
    }
  }

.stencil-exec {

  button {
    @extend .stencil-exec-button
  }

  .se-exec-source {
    background: #2B303B;
    color: rgba(255,255,255,0.9);
    padding: 10px;
    font-size: 13px;

    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    margin-bottom: 20px;    
  }
}