#Ignore outpus
outputs

#Ignore test executables and coverage output files
*.exe
*.gcov
*.gcno
*.gcda

#Ignore CodeLite C++ IDE project files
*.project

#Ignore Sublime Test project and workspace files
*.sublime-project
*.sublime-workspace
