@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic|Source+Code+Pro);

/******************************************************
 * Stencil content
 ******************************************************/
#content {
    // For readability, don't allow to be too wide,
    // or too narrow
    max-width: 47em;
    min-width: 15em;
    padding: 1em;

    // Centre on page
    margin-left: auto;
    margin-right: auto;

    // Text
    font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    text-align: justify;
    color: #555;
}


/******************************************************
 * Inline text
 ******************************************************/
#content em,
#content i {
    font-style: italic;
}
#content strong,
#content b {
    font-weight: bold;
}

#content a {
    text-decoration: none;
    color: rgb(92, 116, 216);
}

/* Super and sub scripts 
 See also http://stackoverflow.com/questions/501671/superscript-in-css-only
 */
#content sup,
#content sub {
    font-size: 0.8em;
}
#content sup {
    vertical-align: super;
}
#content sub {
    vertical-align: sub;
}

/******************************************************
 * Paragraphs
 ******************************************************/
#content p {
	margin-top: 1em;
}

/******************************************************
 * Headings
 ******************************************************/
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	font-weight: bold;
	color: #444;
    margin-top: 1em;
}
#content h1 {
    font-size: 1.2em;
}
#content h2 {
    font-size: 1.1em;
}
#content h3 {
    font-size: 1.05em;
}
#content h4 {
    font-size: 1.0em;
}

/******************************************************
 * Lists
 ******************************************************/
#content ol {
    list-style-type: decimal;
}
#content ul {
    list-style-type: disc;
}

/******************************************************
 * Code
 ******************************************************/
#content code, 
#content kbd, 
#content pre, 
#content samp {
	font-family: 'Source Code Pro', mono;
	font-size: 0.9em;
    background: #EFEFEF;
    border-radius: 3px;
    padding: 0 3px;
}

/******************************************************
 * Math <script> elements
 *
 * Shown initially until rendered by MathJax/KaTeX or
 * if rendering fails
 ******************************************************/
#content script[type^="math/tex"],
#content script[type^="math/asciimath"] {
    display: inline;
    font-family: 'Source Code Pro', mono;
    color: #BBB;
}

#content [data-equation] {
    text-align: center;
    margin: 1em 0 0 0;
}

#content [data-equation] script[type^="math/tex"],
#content [data-equation] script[type^="math/asciimath"]{
    display: block;
}

/**
 * Hide the MathJax message box (http://docs.mathjax.org/en/latest/api/message.html)
 */
#MathJax_Message {
    display: none;
}

/************************************************
 * Tables
 */

#content table {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

#content thead,
#content tbody {
    text-align: left;
}

#content th,
#content td {
    padding: 0.1em 1em 0.1em 1em;
}

#content th {
    font-weight: bold;
}

/************************************************
 * Images
 */

#content>img {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/************************************************
 * Figures
 */

#content figure {
    // Remove user agent imposed margins
    // See http://gabrieleromanato.name/css-default-styles-of-the-figure-element/
    margin: 0;
    // Add top and bottom margins back
    margin-top: 1em;
    margin-bottom: 1em;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Figure images resized to fit within content 
 * (with some margin) and centred
 */
#content figure img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/************************************************
 * Figure and table captions
 */

#content table caption,
#content figure figcaption,
#content figure caption {
    text-align: left;
    font-weight: bold;
}

#content table caption {
    margin-bottom: 1em;
}

#content figure caption,
#content figure figcaption {
    margin-top: 1em;
}

/************************************************
 * Outline
 */

#content #outline ul {
    list-style-type: none;
    padding: 0;
}

#content #outline .level-1 {
    margin-left: 0em
}
#content #outline .level-2 {
    margin-left: 1em
}
#content #outline .level-3 {
    margin-left: 2em
}
#content #outline .level-4 {
    margin-left: 3em
}
#content #outline .level-5 {
    margin-left: 4em
}
#content #outline .level-6 {
    margin-left: 5em
}
#content #outline .level-7 {
    margin-left: 6em
}


/******************************************************
 * Stencil attributes
 *
 * Informational meta-attributes
 ******************************************************/
#mode,
#theme {
	display: none;
}

#title {
	margin: 1em 0;
	font-size: 1.4em;
	font-weight: bold;
	text-align: left;
	color: #333;
}

#description,
#summary {
	margin-bottom: 2em;
    font-weight: bold;
}

/******************************************************
 * Stencil directives
 *
 * Many directive elements should be hidden
 ******************************************************/

/**
 * Hide the following  directives...
 */
//... `exec` and `on` directives containing code
[data-exec],
[data-on],
//... `when` directives (unless they are explicitly turned on, see below)
[data-when],
//... `for` directive's `each` child
[data-each],
//... `include` directive`s child elements
[data-set],
[data-delete],
[data-replace],
[data-change],
[data-before],
[data-set],
[data-after],
[data-prepend],
[data-append],
/**
 * ... `macro` 
 */
[data-macro],
/**
 * ... `comments`
 */
[data-comments],
[data-comment],
/**
 * ... any element that has the `~off`
 * flag, either explicitly, or from rendering
 */
[data-off="true"] {
    display: none;
}

/**
 * Some directives need to be explictly turned on
 * by setting off to false
 */
[data-off="false"]{
    display: inherit;
}

