/* TODO: this should go into _variables.css */
:root {
  --sheet-header-width: 50px;
  --sheet-header-height: 32px;
  --sheet-header-height-plus-1: 33px;
  --sheet-header-background: #dddddd;
  --sheet-header-bordercolor: #C1C1C1;
  --sheet-scrollbar-width: 16px;
  --sheet-cell-bordercolor: #d5d5d5;
}

.sc-spreadsheet-page {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.sc-spreadsheet-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sc-spreadsheet-editor > .sc-spreadsheet {
  flex: 1;
}

.sc-spreadsheet-editor > .se-status-bar {
  width: 100%;
  height: var(--sheet-header-height);
}

.sc-spreadsheet {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
  font-size: var(small-font-size);
}

.sc-spreadsheet .sm-hidden {
  display: none;
}

.sc-spreadsheet .se-keytrap {
  opacity: 0;
}

.sc-spreadsheet .se-corner {
  background: #d2d2d2;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
}

.sc-spreadsheet > .se-content {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.sc-spreadsheet table {
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
}

.sc-spreadsheet table > .se-head {
  height: var(--sheet-header-height);
}

.sc-spreadsheet th {
  background: var(--sheet-header-background);
  border: 1px solid var(--sheet-header-bordercolor);
}

.sc-spreadsheet tr th:first-child {
  width: var(--sheet-header-width);
}

.sc-spreadsheet td {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 1px solid var(--sheet-cell-bordercolor);
  position: relative;
  padding: 2px 5px;
}

/*
  Note: the overlay is implemented as a container with
  zero extent and no pointer events so that mouse events
  can go through to the underlying cells by default.
  Only elements with real dimensions such as buttons consume
  the events.
*/
.sc-spreadsheet > .se-overlay {
  height: 0px;
  overflow:visible;
  pointer-events:none;
  background:none !important;
}

.sc-spreadsheet > .se-overlay > .se-selection-anchor {
  position: absolute;
  border: solid 2px #2684FC;
}

.sc-spreadsheet > .se-overlay > .se-selection-range {
  position: absolute;
  border: solid 1px #2684FC;
  background: rgba(38, 132, 252, 0.1)
}

.sc-spreadsheet > .se-overlay > .se-selection-columns,
.sc-spreadsheet > .se-overlay > .se-selection-rows {
  position: absolute;
  background: rgba(0,0,0,0.05)
}

.sc-spreadsheet-cell-editor {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  border: 2px solid #2684FC;
  cursor: text;
  padding: 2px 5px;
}

.sc-spreadsheet .se-context-menu {
  position: absolute;
  background: var(--dark-bg-color);
  border: 1px solid #999;
  padding: 2px 5px;
}

.sc-table-page.sm-loading {
  background: #ccc;
}

.sc-sheet-scrollbar {
  position: absolute;
  display: flex;
  background: #FAFAFA;
  box-shadow: inset -4px 0 4px 0 rgba(25,25,25,0.04);
}

.sc-sheet-scrollbar.sm-horizontal {
  flex-direction: row;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: var(--sheet-scrollbar-width);
  width: 100%;
}

.sc-sheet-scrollbar .se-lspace {
  background: #f0f0f0;
}

.sc-sheet-scrollbar.sm-horizontal .se-lspace {
  width: var(--sheet-header-width);
  height: var(--sheet-scrollbar-width);
}

.sc-sheet-scrollbar.sm-vertical .se-lspace {
  width: var(--sheet-scrollbar-width);
  height: var(--sheet-header-height-plus-1);
  /*border: solid 1px var(--sheet-header-bordercolor);*/
}


.sc-sheet-scrollbar .se-rspace {
  background: #f0f0f0;
  border: 1px solid var(--sheet-cell-bordercolor);
  width: var(--sheet-scrollbar-width);
  height: var(--sheet-scrollbar-width);
}

.sc-sheet-scrollbar.sm-vertical {
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: var(--sheet-scrollbar-width);
  height: 100%;
}

.sc-sheet-scrollbar.sm-vertical .se-buttons {
  margin-top: 1px;
  margin-bottom: 1px;
}

.sc-sheet-scrollbar.sm-vertical .se-buttons > * + * {
  margin-top: 1px;
}

.sc-sheet-scrollbar.sm-vertical .se-button {
  padding-left: 3px;
}

.sc-sheet-scrollbar.sm-horizontal .se-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 1px;
  margin-right: 1px;
}

.sc-sheet-scrollbar.sm-horizontal .se-buttons > * + * {
  margin-left: 1px;
}

.sc-sheet-scrollbar.sm-horizontal .se-button {
  padding-left: 5px;
}

.sc-sheet-scrollbar .se-button {
  width: var(--sheet-scrollbar-width);
  height: var(--sheet-scrollbar-width);
  line-height: var(--sheet-scrollbar-width);
  background: var(--sheet-header-background);
}

.sc-sheet-scrollbar .se-button:hover {
  outline: 1px solid #666;
}

.sc-sheet-scrollbar .se-prev {
  /*background: blue;*/
}

.sc-sheet-scrollbar .se-next {
  /*background: green;*/
}

.sc-sheet-scrollbar .se-scroll-area {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.sc-sheet-scrollbar .se-thumb {
  position: absolute;
  background-color: rgba(0,0,0, 0.2);
}

.sc-sheet-scrollbar.sm-vertical .se-thumb {
  width: var(--sheet-scrollbar-width);
  min-height: var(--sheet-scrollbar-width);
}

.sc-sheet-scrollbar.sm-horizontal .se-thumb {
  height: var(--sheet-scrollbar-width);
  min-width: var(--sheet-scrollbar-width);
}
