/* Citation Styles */

@custom-selector :--citation-style-MLA [data-citation-style='MLA'];
@custom-selector :--citation-style-APA [data-citation-style='APA'];

:--references {
  ol,
  ul {
    padding-left: 0;
    list-style: none;
  }

  :--CreativeWork {
    font-size: 0.875rem;
    line-height: 1.71429;
    font-weight: normal;
  }

  :--authors {
    display: inline;

    :--Person {
      display: inline-flex;

      * {
        display: inline-flex;
      }

      :--familyName {
        order: 2;

        &::after {
          content: ', ';
          white-space: pre;
        }
      }

      :--givenName {
        order: 1;

        &::after {
          content: ' ';
          white-space: pre;
        }
      }

      &:last-child :--familyName {
        &::after {
          content: normal;
        }
      }

      a {
        border-bottom: none;
      }
    }
  }

  :--datePublished {
    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }

    + :--headline {
      display: none;
    }
  }

  :--pagination {
    &::before {
      content: ':';
    }

    &::after {
      content: '.';
    }
  }

  :--PublicationIssue {
    :--headline {
      &::after {
        content: ' ';
        white-space: pre;
      }
    }

    + :--datePublished {
      display: none;
    }
  }

  :--url {
    font-size: 0.6875rem;
    line-height: 2.18182;
    border-bottom: none;
  }

  :--abstracts {
    li {
      display: inline;

      a {
        border-bottom: none;
      }

      &::after {
        content: ' | ';
      }

      &:last-child::after {
        content: normal;
      }
    }
  }

  /* MLA Citation Styles */
  :--citation-style-MLA {
    :--CreativeWork > :--headline {
      &:first-of-type {
        display: none;
      }

      &::before {
        content: '"';
      }

      &::after {
        content: '."';
      }
    }

    :--authors + :--datePublished {
      display: none;
    }

    :--issueNumber + :--datePublished {
      &::before {
        content: ' (';
      }

      + :--pagination {
        &::after {
          content: '.';
        }
      }
    }

    :--authors {
      :--Person {
        :--familyName {
          order: 1;
        }

        :--givenName {
          order: 2;
        }

        &:nth-of-type(n + 2) {
          display: none;
        }

        &:nth-of-type(1) {
          &::after {
            content: ', et al.';
            font-style: italic;
          }

          :--givenName::after {
            content: normal;
          }
        }
      }
    }

    :--datePublished {
      + :--headline {
        display: inline;
      }
    }

    :--PublicationIssue {
      display: inline;

      + :--datePublished {
        display: inline;

        &::after {
          content: ').';
        }
      }
    }

    :--pagination {
      &::before {
        content: ': ';
      }

      &::after {
        content: normal;
      }
    }

    :--url {
      display: block;
    }
  }

  /* APA Citation Styles */
  :--citation-style-APA {
    :--CreativeWork > :--headline {
      &::after {
        content: '.';
      }
    }

    :--authors {
      :--Person {
        :--familyName {
          order: 1;

          &::after {
            content: ', ';
            white-space: pre;
          }
        }

        :--givenName {
          order: 2;

          &::after {
            content: '.,';
          }
        }

        &:last-child {
          &::before {
            content: '& ';
            white-space: pre;
          }

          :--givenName {
            &::after {
              content: '. ';
            }
          }
        }
      }
    }

    :--datePublished {
      &::after {
        content: '.';
      }
    }

    :--PublicationIssue {
      display: inline;

      :--headline {
        &::after {
          content: ', ';
          font-style: normal;
        }
      }

      :--issueNumber {
        &::after {
          content: ', ';
          font-weight: normal;
        }
      }

      :--pagination {
        &::before {
          content: normal;
        }
      }
    }
  }
}
