@import 'normalize.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 380px) {
  figure {
    max-height: 90vh;
  }
}
