@import 'normalize.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';

@import './citations.css';

article {
  label:first-of-type {
    position: sticky;
    top: 0;
    text-align: right;
    padding: 12px 24px;
    background: #fff;
    z-index: 1;
  }
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 380px) {
  figure {
    max-height: 90vh;
  }
}
