/* Types */
@custom-selector :--Article [itemtype='https://schema.org/Article'];
@custom-selector :--Cite [itemtype='https://schema.stenci.la/Cite'];
@custom-selector :--CiteGroup [itemtype='https://schema.stenci.la/CiteGroup'];
@custom-selector :--CreativeWork [itemtype='https://schema.org/CreativeWork'];
@custom-selector :--Thing [itemtype='https://schema.org/Thing'];
@custom-selector :--Entity [itemtype='https://schema.stenci.la/Entity'];
@custom-selector :--Person [itemtype='https://schema.org/Person'];
@custom-selector :--PublicationIssue [itemtype='https://schema.org/PublicationIssue'];

/* Custom Web Component */
@custom-selector :--code-chunk stencila-codechunk;

/* Properties */

/* schema.org properties */
@custom-selector :--description [itemprop='description'];
@custom-selector :--address [itemprop='address'];
@custom-selector :--affiliation [itemprop='affiliation'];
@custom-selector :--author [itemprop='author'];
@custom-selector :--citation [itemprop='citation'];
@custom-selector :--datePublished [itemprop='datePublished'];
@custom-selector :--email [itemprop='email'];
@custom-selector :--familyName [itemprop='familyName'];
@custom-selector :--givenName [itemprop='givenName'];
@custom-selector :--headline [itemprop='headline'];
@custom-selector :--issueNumber [itemprop='issueNumber'];
@custom-selector :--name [itemprop='name'];
@custom-selector :--pagination [itemprop='pagination'];
@custom-selector :--url [itemprop='url'];

/* Custom properties / names */
@custom-selector :--affiliations .affiliations;
@custom-selector :--authors .authors;
@custom-selector :--emails .emails;
@custom-selector :--references .references;
