@import './Entity.css';
@import './Person.css';

:--Article {
  @mixin CreativeWork;

  max-width: var(--article-content-max-width);
  margin-left: auto;
  margin-right: auto;
  font-family: var(--article-content-font-family);
  font-size: var(--article-content-font-size);
  line-height: var(--article-content-line-height);
  color: var(--article-content-color);
}
