/*
 * The default theme for document content
 * 
 * TODO: Refine. Currently a very minimal draft based on Tailwind's prose plugin
 * and with placeholders illustrating the used of styles targeting
 * print mode.
*/

@import './shared.css';

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:root {
  @apply mx-auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 3rem;
}

@media print {
}

@page {
  size: 21cm 29.7cm;
  margin: 1cm;
}

[root] {
  @apply text-black prose lg:prose-lg;

  > section {
    @apply min-w-80 max-w-prose mx-auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    /* background: green; */
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-1.5;
  }

  p {
    @apply mt-5 mb-0 pr-0 align-baseline leading-snug;
  }

  figure {
    @apply my-4 mx-0;
  }

  figcaption {
    @apply text-black;

    p {
      @apply italic;
    }
  }

  stencila-heading {
    display: block;
    /* background: blue; */
    border: 1px solid transparent;

    + stencila-paragraph {
      p {
        margin-top: 0;
      }
    }
  }

  stencila-paragraph {
    display: block;
    /* background: orange; */
    border: 1px solid transparent;

    &:has(+ stencila-heading) {
      p {
        margin-bottom: 0;
      }
    }
  }

  stencila-instruction-block {
    [slot='messages'] {
      display: none;
    }
  }

  stencila-list-item {
    stencila-paragraph {
      margin: 0;

      p {
        margin: 0;
      }
    }
  }

  stencila-ui-node-code {
    max-width: 100%;
  }

  stencila-ui-block-on-demand {
    div {
      /* background: goldenrod; */
    }
  }
}

[view='dynamic'] {
  > [root] {
    /* @apply max-w-prose; */
    /* max-width: 100%; */

    h1 {
      margin-top: 2rem;
    }

    figure {
      @apply m-0;
    }

    li {
      @apply m-0 list-item w-full;
    }

    stencila-figure,
    stencila-ui-block-on-demand {
      figure {
        @apply my-3 mx-0 max-w-full;
      }
    }

    stencila-instruction-block {
      [slot='messages'] {
        display: block;
      }
    }

    stencila-table {
      [slot='authors'] {
        @apply mt-3;
      }
    }

    table {
      @apply my-4;

      td {
        @apply p-0;
      }

      p {
        @apply m-0;
      }
    }
  }
}
