/*
 * LaTeX Theme
 *
 * A LaTeX-inspired theme that recreates the classic Computer Modern LaTeX
 * aesthetic.
 * 
 * Inspired by https://latex.now.sh/
 */

@import url('./base.css');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&display=swap');

:root {
    --font-family-serif: 'EB Garamond', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-family-mono: 'Inconsolata', ui-monospace, SFMono-Regular, 'SF Mono', Monaco, 'Cascadia Code', 'Roboto Mono', Consolas, 'Courier New', monospace;

    --color-accent: var(--color-red-600);
    --color-accent-dark: var(--color-red-400);
    --color-accent-muted: var(--color-red-100);
    --color-accent-muted-dark: var(--color-red-950);
}
