/*
 * Shared theme styles
 *
 * These styles are shared between themes, they should provide basic defaults
 * that can then be overridden in specific styles.
 **/
[root] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4 w-full;
  }

  h1 {
    margin-top: 3.5rem;
    line-height: 1.1;

    @apply text-3xl lg:text-4xl;
  }

  h2 {
    margin-top: 2.5rem;
    line-height: 1.1;
    @apply text-2xl lg:text-3xl;
  }

  h3 {
    margin-top: 2rem;
  }

  figure,
  stencila-image-object {
    img {
      @apply object-cover max-w-full aspect-auto m-auto block;
    }
  }
}
