/* Stencila theme
 *
 * A neutral default theme for Stencila document with relatively few overrides
 * from the base theme.
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Inter:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100..700;1,100..700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    /* Fonts: overrides of primitive font tokens */
    --font-family-serif: 'Source Serif 4', ui-serif, 'Iowan Old Style', 'Palatino Linotype', Palatino, 'Bitstream Charter', Charter, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-family-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-family-mono: 'IBM Plex Mono', ui-monospace, 'Cascadia Code', SFMono-Regular, 'SF Mono', Menlo, Monaco, 'Roboto Mono', Consolas, 'Courier New', monospace;

    /* Headings: typography */
    --heading-font-family: var(--font-family-sans);
    --heading-font-weight-decrement: 0;
    --heading-color-opacity-decrement: 0.125;

    /* Captions: typography */
    --caption-font-family: var(--font-family-sans);
    --caption-align: justify;

    /* Tables: typography */
    --table-cell-font-family: var(--font-family-sans);
    --table-notes-font-family: var(--font-family-sans);
    --table-notes-align: justify;

    /* Tables and figures: greater vertical separation from surrounding content */
    --table-spacing-top: calc(var(--content-spacing) * 2);
    --table-spacing-bottom: calc(var(--content-spacing) * 2);
    --figure-spacing-top: calc(var(--content-spacing) * 2);
    --figure-spacing-bottom: calc(var(--content-spacing) * 2);

    /* Admonitions: sans serif title */
    --admonition-title-font-family: var(--font-family-sans);

    /* Code: syntax highlighting */
    --code-theme: vscode-light;
    --code-theme-dark: vscode-dark;

    /* References: more compact layout and justified */
    --reference-spacing: calc(var(--content-spacing) * 0.5);
    --reference-text-indent: -1.25em;
    --reference-padding-left: 1.25em;
    --reference-line-height: var(--line-height-sm);
    --reference-hyphens: auto;

    /* Print: top and bottom margins with borders */
    --page-border-wide: 1px;
    --page-border-color: var(--color-blue-200);
    --page-margin-font-family: var(--font-family-sans);

    /* Print: margin content */
    --page-top-left-content: var(--document-authors);
    --page-top-right-content: var(--document-title);
    --page-bottom-left-content: var(--document-doi);
    --page-bottom-right-content: url(https://placehold.co/60x30/white/blue/png?text=Stencila);

    /* Print: No top margin content or borders on first page */
    --page1-top-left-content: '';
    --page1-top-center-content: '';
    --page1-top-right-content: '';
    --page1-top-border-wide: initial;
}

@page {
    @top-right {
        /* Print: prevent long titles from wrapping and/or extending beyond top-right margin */
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}