/**
 * Custom stencila theme for document context
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* custom properties */
  --default-text-colour: #171817;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;
}

[root] {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--default-text-colour);

  /* exclude top lvl sections */
  section section {
    @apply min-w-80 w-full mx-auto;
    max-width: 72ch;
  }

  figure,
  stencila-image-object {
    img {
      @apply object-cover max-w-full aspect-auto m-auto block;
    }
  }
}

/* tailwind container */
.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
