/*
 * Tufte Theme
 *
 * A theme inspired by Edward Tufte's books and handouts.
 *
 * Inspired by https://edwardtufte.github.io/tufte-css/
 */

@import url('./base.css');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&family=Source+Code+Pro:wght@400;500&display=swap');

:root {
    --font-family-serif: 'Crimson Text', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-family-mono: 'Source Code Pro', ui-monospace, SFMono-Regular, 'SF Mono', Monaco, 'Cascadia Code', 'Roboto Mono', Consolas, 'Courier New', monospace;

    --color-accent: var(--color-amber-600);
    --color-accent-dark: var(--color-amber-400);
    --color-accent-muted: var(--color-amber-100);
    --color-accent-muted-dark: var(--color-amber-950);
}
