:host {
  @apply block overflow-y-scroll resize-x max-w-xs;
  min-width: 12rem;

  &::-webkit-scrollbar-thumb {
    background: rgba(113, 128, 150, 0) !important;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgba(113, 128, 150, .75) !important;
  }
}

ul {
  @apply list-none py-4 pl-4 m-0;
  color: var(--color-neutral-400);
}
