/* This file is inlined at @import statements in themes and so the url paths
 * below are relative to the themes directory, not the location of this file */

@font-face {
  font-family: 'STIX Two Math';
  font-style: 'normal';
  font-weight: 'normal';
  font-display: swap;
  src: url('../fonts/stix-two-math/STIXTwoMath-Regular.ttf') format('truetype');
}
