@import '../../common/styles/common.css';
@import 'prismjs/themes/prism.css';
@import '../../common/fonts/lora/lora.css';
@import '../../common/fonts/sourceSansPro/sourceSansPro.css';

/* Custom Selectors */
@custom-selector :--CiteGroup [itemtype='https://stencila.github.io/schema/CiteGroup'];
@custom-selector :--Cite [itemtype='https://stencila.github.io/schema/Cite'];
@custom-selector :--CreativeWork [itemtype='https://schema.org/CreativeWork'];
@custom-selector :--title [itemprop='title'];
@custom-selector :--authors [itemprop='authors'];
@custom-selector :--Person [itemtype='https://schema.org/Person'];
@custom-selector :--references [itemprop='references'];
@custom-selector :--PublicationIssue [itemtype='https://stencila.github.io/schema/PublicationIssue'];
@custom-selector :--datePublished [itemprop='datePublished'];
@custom-selector :--issueNumber [itemprop='issueNumber'];
@custom-selector :--pagination [itemprop='pagination'];
@custom-selector :--url [itemprop='url'];
@custom-selector :--abstracts [itemprop='abstracts'];
@custom-selector :--authorDetails [itemprop='authorDetails'];

/* Citation Styles */
@custom-selector :--citation-style-eLife [data-citation-style='eLife'];
@custom-selector :--citation-style-MLA [data-citation-style='MLA'];
@custom-selector :--citation-style-APA [data-citation-style='APA'];

:root {
  --max-width: 680px;
  --max-width-media: 980px;
  --body-font: 'Lora', Palatino, Times, 'Times New Roman', serif;
  --secondary-font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  --heading-color: #eeeeee;
}

html,
body {
  color: #363636;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.65;
  margin: 4rem 1rem 1rem;

  &::after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 100%;
    background-color: #920b24;
    height: 39px;
  }
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

article > * {
  width: 100%;
}

/* Heading Overflow Styles */
h1 {
  font-weight: 400;
}

h2 {
  position: relative; /* child absolute */
  /* negative offset = section padding */
  margin: 0 -30px;
  /* add back section padding value */
  padding: 1.25rem 30px 0.275rem;
  background: var(--heading-color);
}

h2:before {
  content: '';
  position: absolute;
  /* fill vertically */
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 100%;
  background: var(--heading-color);
}

@media screen and (max-width: 719px) {
  h2 {
    padding: 1.25rem 0 0.275rem;
  }

  h2:before {
    z-index: -1;
    right: -16px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
hr,
a {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 125%;
  margin-top: 2rem;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 2.25rem;
}

ol + h3,
ol + h4,
ol + h5,
ol + h6,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  margin-top: 1.75rem;
}

li > *:first-child {
  margin-top: 0;
}

figure,
table,
article > pre,
img {
  max-width: 100%;
}

article > pre,
figure {
  background-color: #fff;
  width: auto;
  max-width: calc(var(--max-width) - 50px); /* desktop+ */
  max-width: max-content;
  margin: 1.25rem auto;
  border: 5px solid #dbdbdb;
  overflow-y: hidden;
  overflow-x: auto;
}

article > pre {
  background-color: #fff !important;
}

figure {
  img,
  pre {
    padding: 1rem;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  pre {
    text-align: left;
  }
}

figcaption {
  font-size: 85%;
  font-family: var(--secondary-font);
  width: 100%;
  padding: 1.5rem 1rem;

  p {
    padding-left: 0;
  }

  h6 {
    font-family: var(--body-font);
    font-size: 1rem;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

pre {
  font-size: 80% !important;

  &[class*='language-'] {
    margin: 0.5em auto;
  }
}

p {
  hyphens: auto;
  margin-bottom: 1.25rem;
}

a:link,
a:visited {
  position: relative;
  text-decoration: none;
  color: #006699;
  font-style: italic;
}

a:link {
  transition: color 125ms ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem auto 1rem;
  line-height: 1.25;
}

h1 {
  margin-top: 0;
  font-weight: 900;
  font-size: 1.953rem;
}

h2 {
  font-size: 1.563rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

h5 {
  font-size: 0.8rem;
  margin-bottom: 0;
}

h6,
small,
.text_small {
  font-size: 0.725rem;
  margin-bottom: 0;
}

h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h2 + h1,
h2 + h2,
h2 + h4,
h2 + h5,
h2 + h6,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h3 + h5,
h3 + h6,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4,
h4 + h5,
h4 + h6,
h5 + h1,
h5 + h2,
h5 + h3,
h5 + h4,
h5 + h5,
h5 + h6,
h6 + h1,
h6 + h2,
h6 + h3,
h6 + h4,
h6 + h5,
h6 + h6 {
  margin-top: 0;
}

h1:first-of-type,
h1 + h2 {
  padding-top: inherit;
  margin-top: inherit;
}

h1:first-of-type {
  font-weight: normal;
}

h1 + h2 {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: #7a7a7a;
}

h2 + h3 {
  margin-top: 1rem;
}

ul,
ol {
  padding: 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
  padding-left: 1rem;
}

li * {
  padding-left: 0;
}

table {
  text-align: left;
  border-collapse: collapse;
  font-size: 80%;
  overflow-x: auto;
}

thead {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 75%;
  letter-spacing: 1px;
  border-bottom: 2px solid #f5f5f5;
}

th {
  font-weight: 900;
  padding: 0.5em 1em;
  border-right: solid 1px #f1f1f2;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

td {
  border-right: solid 1px #f1f1f2;
  padding: 0.25em 1em;
}

blockquote {
  max-width: calc(var(--max-width) - 50px); /* desktop+ */
  margin: 1.25rem auto;
  color: #222222;
  position: relative;
  border-left: 5px solid #dadada;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  * {
    padding-left: 10px;
    font-size: 0.875rem;
  }
}

/* Microdata-based Styles */
:--publisher,
:--authors,
:--CreativeWork header h3,
:--CreativeWork header ol {
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  padding-left: 0;

  a:link {
    font-style: normal;
  }
}

:--authors,
:--CreativeWork header ol {
  li {
    display: inline;
  }

  a:link::after {
    display: none;
  }
}

:--references {
  /* Nature Citation Styles */
  list-style: none;
  counter-reset: reference-counter;
  padding: 0;

  > li {
    position: relative;
    counter-increment: reference-counter;
    font-size: 1rem;
    margin-bottom: 0.5rem;

    &::before {
      content: counter(reference-counter) '. ';
      font-size: 24px;
      margin-right: 0.5rem;
      line-height: 1;
      display: inline-block;
      text-align: right;
      width: 80px;
    }
  }

  :--CreativeWork {
    margin: -2rem 0 0 90px;
  }

  /* Shared Styles */
  ol,
  ul {
    padding-left: 0;
    list-style: none;
  }

  :--CreativeWork {
    font-size: 0.875rem;
    line-height: 1.71429;
    font-weight: normal;
  }

  :--authors {
    display: inline;

    :--Person {
      display: inline-flex;

      * {
        display: inline-flex;
      }

      [itemprop='familyName'] {
        order: 2;

        &::after {
          content: ', ';
          white-space: pre;
        }
      }

      [itemprop='givenName'] {
        order: 1;

        &::after {
          content: ' ';
          white-space: pre;
        }
      }

      &:last-child [itemprop='familyName'] {
        &::after {
          content: normal;
        }
      }

      a {
        border-bottom: none;
      }
    }
  }

  :--pagination {
    &::before {
      content: ':';
    }

    &::after {
      content: '.';
    }
  }

  :--url {
    font-size: 0.6875rem;
    line-height: 2.18182;
    border-bottom: none;
  }

  :--abstracts {
    li {
      display: inline;

      a {
        border-bottom: none;
      }

      &::after {
        content: ' | ';
      }

      &:last-child::after {
        content: normal;
      }
    }
  }

  /* MLA Citation Styles */
  /* :--citation-style-MLA { */
  :--CreativeWork > :--title {
    &:first-of-type {
      display: none;
    }

    &::before {
      content: '"';
    }

    &::after {
      content: '."';
    }
  }

  :--authors + :--datePublished {
    display: none;
  }

  :--issueNumber + :--datePublished {
    &::before {
      content: ' ';
    }
  }

  :--authors {
    :--Person {
      [itemprop='familyName'] {
        order: 1;
      }

      [itemprop='givenName'] {
        order: 2;
      }

      &:nth-of-type(n + 2) {
        display: none;
      }

      &:nth-of-type(1) {
        [itemprop='givenName']::after {
          content: normal;
        }

        &::after {
          content: ', et al.';
          white-space: pre;
        }
      }
    }
  }

  :--PublicationIssue {
    display: inline;
  }

  :--pagination {
    &::before {
      content: ': ';
    }

    + :--datePublished {
      display: inline;

      &::after {
        content: '.';
      }
    }

    &::after {
      content: normal;
    }
  }
  /* } */

  /* APA Citation Styles */
  :--citation-style-APA {
    :--CreativeWork > :--title {
      &::after {
        content: '.';
      }
    }

    :--authors {
      :--Person {
        [itemprop='familyName'] {
          order: 1;

          &::after {
            content: ', ';
            white-space: pre;
          }
        }

        [itemprop='givenName'] {
          order: 2;

          &::after {
            content: '.,';
          }
        }

        &:last-child {
          &::before {
            content: '& ';
            white-space: pre;
          }

          [itemprop='givenName'] {
            &::after {
              content: '. ';
            }
          }
        }
      }
    }

    :--datePublished {
      &::after {
        content: '.';
      }
    }

    :--PublicationIssue {
      display: inline;

      :--title {
        &::after {
          content: ', ';
          font-style: normal;
        }
      }

      :--issueNumber {
        &::after {
          content: ', ';
          font-weight: normal;
        }
      }

      :--pagination {
        &::before {
          content: normal;
        }
      }
    }
  }

  /* ol,
  ul {
    padding-left: 0 !important;

    > li {
      display: inline;
      padding-left: 0 !important;
    }
  }

  ol {
    display: inline;
  }

  li {
    > p:not(:first-child) {
      padding-left: 0;
      display: inline;
    }

    > p:first-child {
      padding-left: 0;
    }
  } */
}

:--authorDetails {
  h4,
  h5,
  h6 {
    padding-left: 0;
  }
}

@media screen and (max-width: 719px) {
  ul,
  ol {
    padding-left: 1.25rem;
  }

  /* Allow huge figures (e.g. tables) to be scrollable
     on mobile in a smaller area (vs. displayed in full
     width and height). */
  figure,
  pre[class*='language-'] {
    max-width: 100%;
    overflow-y: auto;
  }
}

@media screen and (min-width: 720px) {
  h1:first-of-type,
  :--publisher,
  :--authors,
  :--CreativeWork header h3,
  :--CreativeWork header ol {
    padding-left: 50px;
  }

  body {
    margin: 4em 20vw 1em auto;
  }

  p,
  h3,
  h4,
  h5,
  ul,
  ol {
    padding-left: 50px; /* desktop+ */
  }

  article > pre,
  pre[class*='language-'],
  figure,
  blockquote {
    max-width: calc(var(--max-width) - 100px);
    margin: 0 auto;
  }

  blockquote {
    max-width: calc(var(--max-width) - 50px);
    margin-left: 1.25rem 0 1.25rem;

    > p {
      padding-left: 10px;
    }
  }
}
