@import '../../common/styles/common.css';
@import 'prismjs/themes/prism.css';
@import '../../common/fonts/lora/lora.css';
@import '../../common/fonts/sourceSansPro/sourceSansPro.css';

:root {
  --max-width: 680px;
  --max-width-media: 980px;
  --body-font: 'Lora', Palatino, Times, 'Times New Roman', serif;
  --secondary-font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  --heading-color: #eeeeee;
}

html,
body {
  color: #363636;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.65;
  margin: 4rem 1rem 1rem;

  &::after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 100%;
    background-color: #920b24;
    height: 39px;
  }
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

article > * {
  width: 100%;
}

/* Heading Overflow Styles */
h1:--headline {
  font-weight: 400;
}

h1:not(:--headline) {
  position: relative; /* child absolute */
  /* negative offset = section padding */
  margin: 0 -30px;
  /* add back section padding value */
  padding: 1.25rem 30px 0.275rem;
  background: var(--heading-color);
}

h1:not(:--headline):before {
  content: '';
  position: absolute;
  /* fill vertically */
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 100%;
  background: var(--heading-color);
}

@media screen and (max-width: 719px) {
  h1:not(:--headline) {
    padding: 1.25rem 0 0.275rem;
  }

  h1:not(:--headline):before {
    z-index: -1;
    right: -16px;
  }
}

p,
h1:--headline,
h1:not(:--headline),
h2,
h3,
h4,
h5,
ul,
ol,
hr,
a {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

h1:--headline,
h1:not(:--headline),
h2,
h3,
h4,
h5 {
  line-height: 125%;
  margin-top: 2rem;
}

p + h1:--headline,
p + h1:not(:--headline),
p + h2,
p + h3,
p + h4,
p + h5 {
  margin-top: 2.25rem;
}

ol + h2,
ol + h3,
ol + h4,
ol + h5,
ul + h2,
ul + h3,
ul + h4,
ul + h5 {
  margin-top: 1.75rem;
}

li > *:first-child {
  margin-top: 0;
}

figure,
table,
article > pre,
img {
  max-width: 100%;
}

article > pre,
figure {
  background-color: #fff;
  width: auto;
  max-width: calc(var(--max-width) - 50px); /* desktop+ */
  max-width: max-content;
  margin: 1.25rem auto;
  border: 5px solid #dbdbdb;
  overflow-y: hidden;
  overflow-x: auto;
}

article > pre {
  background-color: #fff !important;
}

figure {
  > figure {
    border: none;
  }

  img,
  pre {
    padding: 1rem;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  pre {
    text-align: left;
  }
}

figcaption {
  font-size: 85%;
  font-family: var(--secondary-font);
  width: 100%;
  padding: 1.5rem 1rem;

  p {
    padding-left: 0;
  }

  h1:--headline,
  h1:not(:--headline),
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--body-font);
    font-size: 1rem;
    padding-left: 0;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

pre {
  font-size: 80% !important;

  &[class*='language-'] {
    margin: 0.5em auto;
  }
}

p {
  hyphens: auto;
  margin-bottom: 1.25rem;
}

a:link,
a:visited {
  position: relative;
  text-decoration: none;
  color: #006699;
  font-style: italic;
}

a:link {
  transition: color 125ms ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

h1:--headline,
h1:not(:--headline),
h2,
h3,
h4 {
  margin: 2.75rem auto 1rem;
  line-height: 1.25;
}

h1:--headline {
  padding-left: 30px;
  margin-top: 0;
  font-size: 1.953rem;
}

h1:not(:--headline) {
  font-size: 1.563rem;
}

h2 {
  font-size: 1rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0;
}

h4 {
  font-size: 0.8rem;
  margin-bottom: 0;
}

h5,
small,
.text_small {
  font-size: 0.725rem;
  margin-bottom: 0;
}

h1:--headline + h1:--headline,
h1 + h2,
h1:--headline + h2,
h1:--headline + h3,
h1:--headline + h4,
h1:--headline + h5,
h1:not(:--headline) + h1:--headline,
h1:not(:--headline) + h1:not(:--headline),
h1:not(:--headline) + h3,
h1:not(:--headline) + h4,
h1:not(:--headline) + h5,
h2 + h1:--headline,
h2 + h1:not(:--headline),
h2 + h2,
h2 + h3,
h2 + h4,
h2 + h5,
h3 + h1:--headline,
h3 + h1:not(:--headline),
h3 + h2,
h3 + h3,
h3 + h4,
h3 + h5,
h4 + h1:--headline,
h4 + h1:not(:--headline),
h4 + h2,
h4 + h3,
h4 + h4,
h4 + h5,
h5 + h1:--headline,
h5 + h1:not(:--headline),
h5 + h2,
h5 + h3,
h5 + h4,
h5 + h5 {
  margin-top: 0;
}

h1:--headline,
h1 + h2 {
  padding-top: inherit;
  margin-top: inherit;
}

h1:--headline {
  font-weight: normal;
}

h1 + h2 {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: #7a7a7a;
}

h1:not(:--headline) + h2 {
  margin-top: 1rem;
}

ul,
ol {
  padding: 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
  padding-left: 1rem;
}

li * {
  padding-left: 0;
}

table {
  font-family: var(--secondary-font);
  text-align: left;
  border-collapse: collapse;
  font-size: 80%;
  overflow-x: auto;
  max-width: calc(var(--max-width) - 100px);
  margin: 0 auto;
  border: 2px solid #d5d5d5;

  figure > & {
    max-width: 100%;
  }

  + table {
    margin-top: 1.25rem;
  }
}

thead,
tbody:first-child tr:first-child {
  font-weight: 900;
  border-bottom: 5px solid #959595;
}

th,
tbody:first-child tr:first-child {
  font-weight: 900;
  padding: 0.5em 1em;
  border-right: solid 1px #f1f1f2;
  background-color: #eeeeee;
}

td {
  border-right: solid 1px #f1f1f2;
  border-bottom: 1px solid #d5d5d5;
  padding: 0.25em 1em;
}

blockquote {
  max-width: calc(var(--max-width) - 50px); /* desktop+ */
  margin: 1.25rem auto;
  color: #222222;
  position: relative;
  border-left: 5px solid #dadada;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  * {
    padding-left: 10px;
    font-size: 0.875rem;
  }
}

/* Microdata-based Styles */
:--publisher,
:--authors,
:--CreativeWork header h2,
:--CreativeWork header ol {
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  padding-left: 0;

  a:link {
    font-style: normal;
  }
}

:--authors,
:--CreativeWork header ol {
  li {
    display: inline;
  }

  a:link::after {
    display: none;
  }
}

:--references {
  /* Nature Citation Styles */
  list-style: none;
  counter-reset: reference-counter;
  padding: 0;

  > li {
    position: relative;
    counter-increment: reference-counter;
    font-size: 1rem;
    margin-bottom: 0.5rem;

    &::before {
      content: counter(reference-counter) '. ';
      font-size: 24px;
      margin-right: 5px;
      margin-left: -90px;
      line-height: 1;
      display: inline-block;
      text-align: right;
      width: 80px;
    }
  }

  :--CreativeWork {
    margin-left: 90px;
    font-size: 17px;
  }

  :--abstracts {
    text-align: right;

    li {
      display: inline;
      padding-left: 22px;

      a {
        border-bottom: none;
        font-style: normal;
        font-family: var(--secondary-font);
        font-weight: bold;
        font-size: 13px;
      }

      &::after {
        content: normal;
      }
    }
  }

  /* MLA Citation Styles */
  :--CreativeWork > :--headline {
    &:first-of-type {
      display: none;
    }

    &::after {
      content: '.';
    }
  }

  :--authors + :--datePublished {
    display: none;
  }

  :--issueNumber + :--datePublished {
    &::before {
      content: ' (';
    }

    + :--pagination {
      &::after {
        content: '.';
      }
    }
  }

  :--authors {
    :--Person {
      :--familyName {
        order: 1;

        &::after {
          content: normal;
        }
      }

      :--givenName {
        order: 2;

        &::before {
          content: ', ';
          white-space: pre;
        }

        &::after {
          content: ',';
          white-space: pre;
        }
      }

      &:last-of-type {
        :--givenName::after {
          content: '.';
        }
      }
    }
  }

  :--datePublished {
    + :--headline {
      display: inline;
    }

    &:last-child {
      &::before {
        content: ' (';
        white-space: pre;
      }

      &::after {
        content: ').';
        white-space: pre;
      }
    }
  }

  :--PublicationIssue {
    display: inline;

    + :--datePublished {
      display: inline;

      &::after {
        content: ').';
      }
    }
  }

  :--pagination {
    &::before {
      content: ': ';
    }

    &::after {
      content: normal;
    }
  }

  :--url {
    display: block;
  }
}

:--authorDetails {
  h3,
  h4,
  h5 {
    padding-left: 0;
  }
}

@media screen and (max-width: 719px) {
  ul,
  ol {
    padding-left: 1.25rem;
  }

  /* Allow huge figures (e.g. tables) to be scrollable
     on mobile in a smaller area (vs. displayed in full
     width and height). */
  figure,
  pre[class*='language-'] {
    max-width: 100%;
    overflow-y: auto;
  }
}

@media screen and (min-width: 720px) {
  h1:--headline,
  :--publisher,
  :--authors,
  :--CreativeWork header h2,
  :--CreativeWork header ol {
    padding-left: 50px;
  }

  body {
    margin: 4em 20vw 1em auto;
  }

  p,
  h2,
  h3,
  h4,
  ul,
  ol {
    padding-left: 50px; /* desktop+ */
  }

  article > pre,
  pre[class*='language-'],
  blockquote {
    max-width: calc(var(--max-width) - 100px);
    margin: 0 auto;
  }

  blockquote {
    max-width: calc(var(--max-width) - 50px);
    margin-left: 1.25rem 0 1.25rem;

    > p {
      padding-left: 10px;
    }
  }

  figure {
    max-width: calc(var(--max-width) - 100px);
  }
}
