/*
  Note: While this theme is being refactored
  some linting rules are disabled.
*/

@import '../../extensions/math/styles.css';
@import '../../extensions/code/styles.css';
@import '../../extensions/person/styles.css';
@import '../../extensions/organization/styles.css';

@import '../../fonts/biolinum/biolinum.css';

/* Media Query sizes */
@custom-media --mq-sm (min-width: 640px);
@custom-media --mq-md (min-width: 720px);
@custom-media --mq-lg (min-width: 960px);

:--root {
  * {
    box-sizing: border-box;
  }

  --max-width: 600px;
  --max-width-media: 980px;
  --heading-color: #eee;

  /* Font Families */
  --font-family-body: harding, biolinum, palatino, times, 'Times New Roman',
    serif;
  --font-family-secondary: -apple-system, system-ui, 'Segoe UI', roboto,
    oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;
  --font-family-mono: monospace;

  /* Font Sizes */
  --font-size-body: 17px;
  --font-size-h1: 1.7647058824rem;
  --font-size-h2: 1.4117647059rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: 1rem;
  --font-size-h5: 0.8rem;
  --font-size-h6: 0.7647058824rem;
  --font-size-100: 100%;
  --font-size-90: 90%;
  --font-size-80: 80%;
  --font-size-75: 75%;

  @media only screen and (--mq-sm) {
    --font-size-h1: 2.6470588235rem;
    --font-size-h2: 1.2941176471rem;
    --font-size-h3: 1.25rem;
    --font-size-h4: 1rem;
    --font-size-h5: 0.8rem;
  }

  /* Spacing units */
  --space-sm: 0.8235294118rem;
  --space-md: 1.6470588235rem;
  --space-lg: 3.294117647rem;

  /* Theme Colors */
  --color-stock: #fff;
  --color-key: #363636;

  /* Primary: Used for primary tone of the theme, for buttons, links, and other elements */
  --COLOR-PRIMARY: #069;
  --color-primary-light: #ebf6ff;

  /* Accent: Used sparingly for design flourishes */
  --color-accent: #940720;

  /* Neutral: For backgrounds and borders */
  --color-neutral-100: #f2f2f2;
  --color-neutral-200: #f5f5ee;
  --color-neutral-300: #ebf0f3;
  --color-neutral-400: #ebebeb;
  --color-neutral-500: #979797;
  --color-neutral-600: #666;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: 1.55;
  margin: 4rem auto 1rem;
  max-width: var(--max-width);
  width: 100%;
}

:--root:--Article {
  & > [data-itemprop='about'],
  & > [data-itemprop='genre'],
  & > :--identifiers,
  & > :--keywords {
    display: none;
  }
}

/* Hide article metadata */
:--identifiers {
  display: none;
}

:--Collection,
:--Heading,
:--title,
:--List,
:--Paragraph,
:--ThematicBreak {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  width: 100%;
}

/* Typography */
:--Heading,
:--title {
  font-family: var(--font-family-body);
  font-weight: bold;
  margin: 2.75rem auto 0;
  line-height: 1.25;
  width: 100%;

  & + & {
    margin-top: 0;
  }

  a:link,
  a:visited {
    color: inherit;
  }
}

h1:--Heading,
:--title {
  font-size: var(--font-size-h1);
  line-height: 1.2;
  letter-spacing: -1.5px;

  & + h2:--Heading {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: var(--font-size-h3);
    color: var(--color-neutral-500);
  }
}

h1:--Heading:not(:--title) {
  font-size: var(--font-size-h2);
}

h2:--Heading {
  font-size: var(--font-size-h2);
}

h3:--Heading {
  font-size: var(--font-size-h3);
}

h4:--Heading {
  font-size: var(--font-size-h4);
}

h5:--Heading {
  font-size: var(--font-size-h5);
}

:--Paragraph {
  margin-bottom: 1.25rem;

  a:link,
  a:visited {
    color: var(--COLOR-PRIMARY);
  }
}

:--Link {
  &:link,
  &:visited {
    position: relative;
    text-decoration: none;
    color: var(--COLOR-PRIMARY);
    font-style: italic;
  }

  &:link {
    transition: color 125ms ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }
}

:--List,
:--Collection {
  list-style-position: inside;
  padding: 0;

  @media only screen and (--mq-md) {
    list-style-position: outside;
  }

  & + :--Heading,
  & + :--title {
    margin-top: 1.75rem;
  }
}

:--ListItem {
  & > *:first-child {
    margin-top: 0;
  }

  & > :--List,
  & > :--Collection {
    padding-left: 1rem;
  }
}

:--Figure,
:--Table,
:--Datatable,
:--CodeChunk,
:--CodeBlock,
:--ImageObject {
  max-width: 100%;
}

:--CodeBlock,
:--CodeChunk,
:--Figure {
  background-color: var(--color-neutral-100);
  border-bottom: 1px solid var(--color-neutral-500);
  margin: 1.25rem auto;
  width: 100%;
}

:--Figure {
  margin-bottom: var(--space-md);

  > :--Figure {
    border: none;
  }

  :--ImageObject:not(div) {
    border: 1px solid var(--color-neutral-100);
    display: block;
    margin: 0 auto;

    & + :--caption,
    & + figcaption {
      padding-top: 1rem;
    }
  }

  :--CodeBlock,
  :--CodeChunk {
    text-align: left;
  }
}

:--Figure figcaption,
:--caption {
  background-color: var(--color-stock);
  color: var(--color-neutral-600);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-80);
  padding-bottom: 1rem;
  width: 100%;

  :--Heading,
  :--title {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    margin-top: var(--space-md);
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

:--CodeBlock,
:--CodeChunk {
  font-size: var(--font-size-80);
  margin-left: auto;
  margin-right: auto;
}

:--CodeChunk > :--CodeBlock {
  font-size: var(--font-size-100);
}

:--Table,
:--Datatable {
  font-family: var(--font-family-secondary);
  text-align: left;
  border-collapse: collapse;
  font-size: var(--font-size-80);
  overflow-x: auto;
  margin: 0 auto;
  border: 2px solid var(--color-neutral-400);

  :--Figure > & {
    max-width: 100%;
  }

  & + & {
    margin-top: 1.25rem;
  }

  thead,
  tbody:first-child tr:first-child {
    font-weight: 900;
    border-bottom: 5px solid var(--color-neutral-500);
  }

  th,
  tbody:first-child tr:first-child {
    font-weight: 900;
    padding: 0.5em 1em;
    border-right: solid 1px var(--color-neutral-200);
    background-color: var(--color-neutral-100);
  }

  td {
    border-right: solid 1px var(--color-neutral-200);
    border-bottom: 1px solid var(--color-neutral-300);
    padding: 0.25em 1em;
  }
}

:--QuoteBlock {
  margin: 1.25rem auto;
  color: var(--color-key);
  position: relative;
  border-left: 5px solid var(--color-neutral-400);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  * {
    padding-left: 10px;
    font-size: var(--font-size-h5);
  }

  @media only screen and (--mq-md) {
    /* TODO: Verify this is needed */
    margin-left: 0;
    margin-right: 0;

    & > p {
      padding-left: 10px;
    }
  }
}

:--description {
  border-top: 1px solid var(--color-neutral-500);
  margin-top: var(--space-md);
  padding-top: var(--space-md);

  *:first-child {
    margin-top: 0;
  }
}

:--publisher,
:--authors,
:--CreativeWork header h2,
:--CreativeWork header ol {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-h5);
  padding-left: 0;

  a:link {
    font-style: normal;
  }
}

:--authors {
  margin-top: var(--space-md);

  :--author {
    color: var(--COLOR-PRIMARY);
    display: inline;
    font-family: var(--font-family-secondary);
    font-weight: bold;
    font-size: var(--font-size-h6);

    a:link,
    a:visited {
      color: inherit;
    }

    &:not(:last-child)::after {
      content: ', ';
    }
  }

  a:link::after {
    display: none;
  }
}

:--affiliations {
  list-style-position: inside;
  padding: 0;
  font-size: var(--font-size-h6);
  font-family: var(--font-family-secondary);

  :--Organization {
    color: var(--COLOR-PRIMARY);
    font-weight: bold;
  }

  @media only screen and (--mq-md) {
    list-style-position: outside;
  }

  :--Organization > * {
    display: inline;
  }
}

:--references {
  /* Nature Citation Styles */
  list-style: none;
  counter-reset: reference-counter;
  padding: 0;

  & > ol > li {
    display: list-item;
    position: relative;
    counter-increment: reference-counter;
    border-bottom: 1px solid var(--color-neutral-400);
    font-size: var(--font-size-body);
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding-bottom: var(--space-md);

    &::before {
      content: counter(reference-counter) '. ';
      font-size: var(--font-size-h2);
      line-height: 1;
      display: inline-block;
      width: 32px;
    }
  }

  :--CreativeWork {
    margin-left: 90px;
    font-size: var(--font-size-body);
  }

  :--Organization,
  :--Organization *,
  :--Organization meta {
    display: inline;
  }

  :--title,
  :--author,
  :--Person {
    color: var(--color-key);
    display: inline;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: normal;
  }

  :--description {
    text-align: right;

    li {
      display: inline;
      padding-left: 22px;

      a {
        border-bottom: none;
        font-style: normal;
        font-family: var(--font-family-secondary);
        font-weight: bold;
        font-size: var(--font-size-h6);
      }

      &::after {
        content: normal;
      }
    }
  }

  /* MLA Citation Styles */
  :--CreativeWork > :--title {
    &:first-of-type {
      display: none;
    }

    &::after {
      content: '.';
    }

    + div {
      display: inline;

      + :--datePublished {
        display: none;
      }
    }
  }

  :--authors + :--datePublished {
    display: none;
  }

  :--issueNumber + :--datePublished {
    &::before {
      content: ' (';
    }

    + :--pagination {
      &::after {
        content: '.';
      }
    }
  }

  :--authors {
    display: inline;

    :--Person {
      :--familyName {
        order: 1;

        &::after {
          content: normal;
        }
      }

      :--givenName {
        order: 2;

        &::before {
          content: ', ';
          white-space: pre;
        }

        &::after {
          content: ',';
          white-space: pre;
        }
      }

      &:last-of-type {
        :--givenName::after {
          content: '.';
        }
      }
    }
  }

  :--datePublished {
    + :--title {
      display: inline;
    }

    &:last-child {
      &::before {
        content: ' (';
        white-space: pre;
      }

      &::after {
        content: ').';
        white-space: pre;
      }
    }
  }

  :--PublicationIssue {
    display: inline;

    + :--datePublished {
      display: inline;

      &::after {
        content: ').';
      }
    }
  }

  :--pagination {
    &::before {
      content: ': ';
    }

    &::after {
      content: normal;
    }
  }

  :--url {
    display: block;
  }
}
