@import '../../extensions/cite-apa/styles.css';
@import '../../extensions/code/styles.css';
@import '../../extensions/math/styles.css';
@import '../../extensions/pages/styles.css';
@import '../../extensions/person/styles.css';
@import '../../extensions/organization/styles.css';
@import 'tufte-css/tufte.min.css';

:--root {
  --font-family-body: et-book, palatino, 'Palatino Linotype', 'Palatino LT STD',
    'Book Antiqua', georgia, serif;
  --font-family-display: var(--font-family-display);
  --font-size-body: 13pt;
  --font-size-80: 80%;
  --font-size-90: 90%;
  --font-size-110: 110%;
  --spacer-md: 1em;
  --spacer-lg: 3em;
  --max-width: 55em;

  /*
   * Color for font. Added as a variable for customization.
   * Default value is that in Tufte CSS
   */
  --color-key: #111;

  /*
   * Color variables based off the hue used by Tufte CSS for background
   * (which is `--color-neutral-100`).
   */
  --color-neutral-100: hsla(60, 100%, 99%, 1);
  --color-neutral-200: hsla(60, 100%, 97%, 1);
  --color-neutral-300: hsla(60, 100%, 95%, 1);
  --color-neutral-400: hsla(60, 100%, 90%, 1);

  background-color: var(--color-neutral-100);
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  color: var(--color-key);

  /* On larger screens use padding so that edge between
   * white and background color is not close to text */
  @media screen and (min-width: 720px) {
    padding: 10%;
  }

  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;

  > :--authors {
    padding-left: 0;

    :--author,
    :--Organization {
      :--emails::after,
      :--members::before {
        color: var(--color-key);
        font-size: var(--font-size-80);
        font-style: italic;
        line-height: 1;
        vertical-align: super;
      }

      :--emails::after {
        content: '\00a0 Email';
      }

      :--members::before {
        content: '\00a0 Members';
      }
    }
  }

  > :--authors :--author :--affiliations :--affiliation {
    font-size: var(--font-size-80);
  }

  > :--datePublished {
    display: block;
    width: 20em;
    margin: 0 auto;
    text-align: center;
    font-size: var(--font-size-110);
  }

  > [data-itemprop='about'],
  > [data-itemprop='genre'],
  > :--identifiers,
  > :--keywords {
    display: none;
  }

  > :--identifiers {
    display: none;
  }

  :--Figure,
  :--Table {
    margin: var(--spacer-lg) auto;
    max-width: 90%;

    :--ImageObject {
      display: block;
      max-height: 700px;
      margin-left: auto;
      margin-right: auto;
    }

    figcaption,
    caption {
      margin-left: auto;
      margin-right: auto;
      > * {
        text-align: justify;
        font-size: var(--font-size-90);
        line-height: 150%;
      }
    }
  }

  > :--references {
    :--reference {
      margin-top: var(--spacer-md);
    }
  }

  /* Default to author-date citation format for cite groups with fallback text */
  :--CiteGroup {
    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }

    :--Cite > a > :first-child {
      display: none;
    }

    /* Ensure that at least one citation format is visible */
    :--Cite > a > :only-child {
      display: inline;
    }
  }

  /*
  * The Tufte style has several rules for offset sections and figures.
  * But those don't work very well with the HTML that Encoda generates.
  * The following rules override those styles for a more traditional
  * single column layout.
  */

  section > p,
  section > footer,
  section > table,
  section > ol,
  section > ul,
  pre > code {
    width: inherit;
  }

  figure,
  figcaption {
    max-width: inherit;
    float: none;
  }
}
