.sc-edit-source-panel {
  .panel-content {
    padding: 0px;
    background: #272822;
  }

  .se-error {
    background: #A20808;
    padding: 10px;
    font-size: 12px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: rgba(255,255,255,0.9);
  }
}


