.sc-edit-source-panel {
  .panel-content {
    background: #2B303B;
    color: rgba(255,255,255,0.9);
    padding: 20px;
    font-size: 13px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  }
}