.app-document-editor {
  @apply block h-full overflow-hidden;

  stencila-editor {
    /* Height of the editor action bar (layout toggle button, etc.) */
    --ui-chrome-height: 1.75rem;

    @apply w-full max-h-full;
    height: calc(100% - var(--ui-chrome-height));
    --border-width: 0;

    .cm-editor,
    .cm-wrap {
      @apply h-full max-h-full;
    }

    .editorContainer:focus-within {
      box-shadow: none !important;
    }
  }
}
