.sc-hosts {
  display: flex;
  height: calc(100vh - 35px);
  flex-direction: column;
}

.sc-hosts .se-label {
  color: #555;
  font-weight: bold;
  font-size: 0.7em;
}

.sc-hosts .se-message {
  border: 1px solid #AAA;
  border-radius: 3px;
  padding: 0.5em;
  font-size: 0.8em;
  line-height: 1.1em;
  background: #ffeaea;
  color: #555;
}

.sc-hosts .se-environ,
.sc-hosts .se-hosts {
  padding: 1em;
}

.sc-hosts .se-environ-select {
  width: 100%;
  background: white;
  padding: 0.5em;
  border-radius: 3px;
  font-size: 0.9em;
}

.sc-hosts .se-host-item .se-type {
  position: relative;
  margin-left: 0.5em;
}

.sc-hosts .se-host-item .se-type::before {
  content: " ";
  position: absolute;
  left: -0.5em;
  margin: 0.6em 0;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
}

.sc-hosts .se-host-item.sm-selected {
  background: #bcffb4;
}
