.sc-hosts {
  display: flex;
  height: calc(100vh - 35px);
  flex-direction: column;
}

.sc-hosts .se-host-list {
  flex: 1;
}

.sc-hosts .se-host-item {
  border-top: 1px solid #eee;
  margin-bottom: 1em;
}

.sc-hosts .se-host-item .se-header {
  background: #F5F5F5;
  padding: 0.5em;
}

.sc-hosts .se-host-item .se-name {
}

.sc-hosts .se-host-item .se-details {
  color: #999;
  font-size: 0.8em;
}

.sc-hosts .se-host-item .se-types {
  padding: 0.5em;
}

.sc-hosts .se-host-item .se-type {
  margin-left: 0.5em;
}

.sc-hosts .se-host-item .se-type::before {
  content: " ";
  position: absolute;
  left: 0.5em;
  margin: 0.6em 0;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
}

.sc-hosts .se-host-item .se-type.sm-instantiated {
  font-weight: bold;
}

.sc-hosts .se-host-item .se-type.sm-instantiated::before {
  background-color: #ABFF00;
}

.sc-hosts .se-options {
  border-top: 1px solid #eee;
  background: #fafbfc;
  padding: 1em;
  height: 5em;
  width: 100%;
}

.sc-hosts .se-options .se-input {
  margin-left: 10px;
}
