.app-settings-side-nav {
}

nav {
  @apply p-4;
}

ul {
  @apply p-0 list-none;
}

a,
a:link,
a:visited {
  @apply block p-2 rounded no-underline whitespace-nowrap leading-none;
  color: var(--color-stock);

  & > * {
    @apply align-middle;
  }

  stencila-icon {
    @apply pr-2;
  }

  &.active,
  &:focus,
  &:hover {
    @apply block no-underline;
    color: var(--color-stock);
    background-color: var(--color-neutral-600);
  }

  &.disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

/* Nested menu items */
ul ul {
  @apply pl-6;

  a,
  a:link,
  a:visited {
    @apply text-sm py-1 my-1;
  }
}
