/* Horizontal Rule styles
 */

stencila-thematic-break {
    display: block;

    /* Spacing */
    margin-top: var(--content-spacing);
    margin-bottom: var(--content-spacing);

    hr {
        /* Browser normalization */
        margin: 0;
        border: none;

        border-top: var(--border-width-default) solid var(--border-color-default);
    }
}