.title {
  @apply flex justify-between items-center mb-4;
  color: var(--color-key);

  h1 {
    @apply inline m-0 text-lg pr-4;
  }
}

fieldset {
  @apply border-0 m-0 mt-4 p-0 align-middle;
}

label {
  @apply font-bold mt-4 mb-1 text-sm;
  color: var(--color-neutral-700);
}

.helpText {
  @apply mt-1 mb-0 text-xs;
  color: var(--color-neutral-600);
}

input {
  @apply mt-1 text-lg;

  &[type='checkbox'] {
    @apply mr-2;
  }
}

select {
  @apply block mt-1;
}
