@import url("http://static.stenci.la/css/stencila.css");

@import url('code.css');

body.stencila-r-docs {
	padding: 10px;
    font-size: 16px;
}

p {
	margin : 1px;
}

a {
	text-decoration: none;
}

div.header {
    padding: 0px;
	margin-bottom: 20px;
    float: left;
}
div.header a {
	display: inline-block;
	vertical-align: middle;
}
div.header div.details {
    margin-left: 10px;
	display: inline-block;
    vertical-align: middle;
}
div.header div.details h1 {
    margin: 0px;
    margin-bottom: 5px;
}
div.header div.details h2 {
    margin: 0px;
	color: grey;
	font-size: 16px;
}

div.header ul.links {
	display: inline;
}
div.header ul.links li {
	display: inline;
	margin-left: 5px;
	border: 1px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px 7px 3px 7px;
	background: #DDD;
}

div.warning {
	margin:10px;
	clear: both;
	border: solid 1px red;
	padding: 5px;
	background: lightyellow;
	font-size: 14px;
}

div.content {
	clear: both;
}

section {
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
}

div.rd {
    padding: 0px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
}

div.rd .brief {
    margin: 0px;
    background: #DDD;
    height: 100%;
    padding: 5px;
}

div.rd .brief h1 {
    font-size: 130%;
    margin: 0px;
}

div.rd .details {
    padding: 10px;
}

div.rd .details h3 {
    font-size: 110%;
    margin-top: 10px;
    margin-bottom: 5px;
}

div.rd .details pre {
	margin: 0px;
	background: #222;
	font-family: "Lucida Console", mono;
    font-size: 14px;
    line-height: 18px;
	padding: 10px;
	border: 1px solid grey;
}
