.sc-isolated-node .sc-cell .se-expression ::selection {
  background: var(--stencila-green-transparent);
}

.sc-cell .se-show-code {
  width: 30px;
  height: 30px;
  margin: 0 auto;

  background: #ddd;
  text-align: center;
}

.sc-cell .se-show-code:hover {
  background: #ccc;
}

.sc-cell {
  position: relative;
}

.sc-cell .se-cell-editor-container {
  position: relative;
  background: #F5F5F5;
  border-radius: 5px;
}

.sc-cell .se-ellipsis {
  position: absolute;
  top: 0px;
  right: 0px;
}

.sc-cell .se-ellipsis .sc-menu {
  position: absolute;
  top: 30px;
  right: 0px;
}

.sc-cell .se-expression {
  font-family: var(--mono-font-family);
  font-size: 13px;
  font-weight: normal;
  color: #737373;
}

.sc-cell-value img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.sc-cell-value.sm-pending {
  opacity: 0.2;
}
