// Use the same layout for "static" content as in the visual
// editor (below)
#data .content {
  margin: 1em;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.sc-visual-editor,
.sc-code-editor {
  // The layout for a Substance ScollPane is complex and not necessarily intuitve
  // But this gives fairly good results...
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;

  .se-scrollable {
    // This is effectively a "min-margin-left/right" for .se-content
    padding: 0 1em;

    .se-content {
      // Using a margin instead of padding means that overlays
      // are horizontally constrained within the area of text
      margin: 1em;
      max-width: 50em;
      margin-left: auto;
      margin-right: auto;
    }

  }
}
