// Fonts
@import '../../fonts/lato';
@import '../../fonts/source-code-pro';
@import url('font-awesome/css/font-awesome.min.css');

// TextPropertyComponent styles (re-implemented here because SASS does not
// like rgba call with CSS variable used in `../node_modules/substance/packages/css/text_property`)
.sc-text-property {
  white-space: pre-wrap;
}

@import '../../node_modules/substance/packages/inline-node/inline-node';
@import '../../node_modules/substance/packages/isolated-node/isolated-node';
@import '../../node_modules/substance/packages/scroll-pane/scroll-pane';
@import '../../node_modules/substance/packages/overlay/overlay';

$sans-font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
$mono-font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, 'Source Code Pro', monospace;
$stencila-green-hue: 93;
$stencila-green-saturation: 90%;
$stencila-green-lightness: 50%;
$z-index-discussion: 100;

// Document styles
%stencila-selected {
  background: hsla($stencila-green-hue, 100%, 85%, .5);
  outline: 2px solid hsla($stencila-green-hue, 100%, 70%, .5);
}
@import 'resets';
@import 'content';
