.sc-codeblock {

  padding: 1em 0;

  .se-source {
    max-width: 90%;
    margin: 0 auto 2em auto;
    border-radius: 3px;   
    background: #333;
    padding: 1em;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 85%;
    color: #EEE;
  }

}
