.sc-project {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sc-project .se-main-pane {
  flex: 1 1 0;
}

.sc-project .se-main-pane {
  display: flex;
  flex-direction: row;
}

.sc-project > .sc-project-bar {
  background: #fff;
  border-top: 1px solid #ddd;
  flex: 0 0 40px;
}

.sc-project .se-main-pane .se-editor-pane {
  flex: 1 1 0;
}

.sc-project .se-main-pane .sc-context-pane {
  flex: 0 0 300px;
}
