.sc-project-tab {
  position: relative;
  display: flex;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 8px;
  margin-left: 5px;
  margin-top: 5px;
  user-select: none;
  cursor: pointer;

  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #777;
}

.sc-project-tab.sm-edit {
  padding: 0px 5px;
}

.sc-project-tab.sm-active {
  background: #ececec;
  border-radius: 3px;
  color: #111;
}

.sc-project-tab.sc-add-project-tab {
  padding: 8px;
}

.sc-project-tab > .se-input {
  font-size: 13px;
  border: none;
  border: 1px solid #2484FC;
  font-weight: 600;
}

.sc-project-tab > .se-input.sm-error {
  outline: 1px solid red;
}

.sc-project-tab > .se-toggle-menu {
  padding-left: 8px;
}

.sc-project-tab > .se-doc-type {
  padding-right: 8px;
}

.sc-project-tab.sm-edit > .se-toggle-menu {
  line-height: 30px;
}

.sc-project-tab > .se-menu {
  position: absolute;
  top: auto;
  bottom: 100%;
  right: 0;
  list-style-type: none;
  margin: 3px 0px;
  padding: 2px 10px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  color: var(--default-text-color);
  background: #fff;
  z-index: 99;
}

.sc-project-tab > .se-menu > li {
  list-style: none;
  padding: 2px 10px;
}
