/* Sheet Component */
.sc-sheet {
  position: relative;
  font-family: var(--sans-font-family);
  font-size: 14px;
}

.sc-sheet > thead > th {
  text-align: center;
  background: #EEE;
}

.sc-sheet > tbody > .se-row > .se-cell:first-child {
  text-align: center;
  min-width: 3em;
  background: #EEE;
}

.sc-sheet > .se-selection {
  position: absolute;
  pointer-events:none;
  border: 2px solid var(--stencila-green);
  background: var(--stencila-green-transparent);
  z-index: 1;
}

.sc-sheet .se-expression-bar {
  font-size: 12px;
  font-family: var(--font-family-code);
}

.sc-sheet .se-expression-bar .se-label {
  padding: 1px 5px;
  text-align: right;
  color: #ccc;
  border-right: 1px solid #eee;
}

.sc-sheet .se-expression-bar .se-label sub {
  vertical-align:sub;
}

.sc-sheet .se-header-row th {
  text-align: center;
}
