.sc-boolean {
  width: 100%;

  .se-prefix {
    text-align: left;
    font-size: 12px;
    color: #ccc;
    padding-right: 0.5em;
  }
  
  .se-value {

    &.sm-true {
      color: green;
    }

    &.sm-false {
      color: red;
    }

  }

}
