.sc-cell-teaser {
	// Is a <table> element
	min-width: 150px;
	width: 100%;
	
	.se-name {
		font-size: 12px;
		color: #ccc;
		padding-right: 10px;
		float: left;
	}

	.se-content-type {
		font-weight: 600;
		font-size: 12px;
		color: #FF9F00;
		float: right;
	}
}