.se-tool.se-commit-tool {
  button {
    display: inline-block;
    padding: 0.5em;
    .se-label {
      padding-left: 0.5em;
    }
  }
  input {
    display: none;
  }
  &.sm-expanded {
    button {
      margin-right:0;
      background: #DDD;
      border-radius: 3px 0 0 3px;
    }
    input {
      display: inline-flex;
      height: 30px;
      min-width: 20em;
      margin-left:0;
      border: 1px solid #DDD;
      border-radius: 0 3px 3px 0;
      padding: 3px;
      font-size: 13px;
    }
  }
}
