.se-display-mode-tool {
  position: relative;
  z-index: 2;

  button:hover {
    background: none !important;
  }

  .se-label {
    color: #888;
    font-size: 11px;
  }

  .se-dropdown-icon {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 11px;
  }

  .se-available-display-modes {
    position: absolute;
    right: 10px;
    background: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);

    .se-display-mode {
      cursor: pointer;
      padding: 5px 30px;
      &:hover {
        background: #eee;
      }
    }
  }
}
