
.sc-primitive {
  width: 100%;

  .se-name {
    text-align: left;
    font-size: 12px;
    color: #ccc;
    padding: $default-cell-padding;
  }

  .se-loading {
    font-size: 12px;
    color: #ccc;
    padding: $default-cell-padding;
  }
  
  .se-value {
    text-align: right;
    padding: $default-cell-padding;
  }

}
