.sc-select-function {
  position: absolute;
  min-width: 300px;
  z-index: 10;
  background: #FFFFFF;
  top: 30px;
  font-size: 12px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  text-align: left;
  padding: 0.5em;

  max-height: 50em;
  overflow: auto;
}