.sc-sheet-editor {
  position: relative;

	.selection {
	  position: absolute;
	  pointer-events:none;
	  border: 2px solid #4285f4;
	  background: rgba(160, 195, 255, 0.15);
	  z-index: 1;
	}

	&.edit .selection {
	  display:none;
	}
}
