<nav id="doc-toc-outer" class="hidden md:block 
    fixed z-10 top-48 bottom-64 right-0 
    xl:sticky xl:mt-20 xl:right-0 xl:flex-none
    text-xs font-sans
    max-w-[140px] w-full h-auto max-h-[50vh]
    invisible"
>   
    <div class="font-bold px-4 mb-4 text-sm">On this page</div>
    <div id="doc-toc-scroll-container" class="text-xs font-semibold p-4 bg-gray-50/50 border border-gray-50 rounded w-full max-h-full overflow-y-auto">
        <a href="#main-heading">{{title}}</a>
        <div id="doc-toc-inner"></div>
    </div>
</nav>
