<nav id="doc-toc-outer" class="hidden xl:block 
    z-10 top-36 bottom-64 right-0 
    xl:sticky xl:mt-16 xl:right-0 xl:flex-none
    text-xs font-sans
    max-w-[160px] w-full h-auto max-h-[50vh]
    invisible"
>   
    <div class="font-bold px-4 mb-4 text-sm">Contents</div>
    <div id="doc-toc-scroll-container" class="text-xs font-semibold p-4 w-full max-h-full overflow-y-auto">
        <a href="#main-heading">{{title}}</a>
        <div id="doc-toc-inner"></div>
    </div>
</nav>
