.sc-object-value {
  font-family: monospace;
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 1em;
}

/*
Customisation of Plotly including tool bar
`.sc-plotly-value.js-plotly-plot` selector is necessary to override
plotly defaults
*/

.sc-plotly-value.js-plotly-plot .plotly div {
  margin: 10px auto;
}

.sc-plotly-value.js-plotly-plot .plotly .modebar {
  background: #000;
  border-radius: 3px;
  padding: 3px;
}

.sc-plotly-value.js-plotly-plot .plotly .modebar-btn path {
  fill: #eee;
}

.sc-plotly-value.js-plotly-plot .plotly .modebar-btn.active path,
.sc-plotly-value.js-plotly-plot .plotly .modebar-btn:hover path {
  fill: #777;
}


.sc-test-value {
  display: flex;
  align-items: center;
}

.sc-test-value .se-icon {
  flex-grow: 1;
  margin: 0px 5px 0px 2px;
}

.sc-test-value .se-message {
  flex-grow: 3;
}

.sc-test-value.sm-test-failed {
  color: #ff0d0d;
}

.sc-test-value.sm-test-passed {
  color: #68bd0b;
}

/* Table Value */
.sc-table-value {
  margin-top: 0px;
  overflow: auto;
  max-height: 600px;
}

.sc-table-value table {
  overflow: auto;
  margin: 0 auto;
  text-align: center;
  display: table;
  table-layout: fixed;
  min-width: 80px;
}

.sc-table-value table thead {
  font-weight: 600;
}

.sc-table-value table th,
.sc-table-value table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: right;
}

.sc-table-value .se-more-records {
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
}
