.sc-context-section {
  display: flex;
  flex-direction: column;
  flex: 0 2 300px;
  background: #fafbfc;
  border-left: 1px solid var(--sheet-header-bordercolor);
}

.sc-context-section > .se-context-header {
  display: flex;
  flex: 0 0 33px;
  border-bottom: 1px solid var(--sheet-header-bordercolor);
}

.sc-context-section > .se-context-content {
  flex: 1 1 0;
  overflow: auto;
  padding: 10px;
}

.sc-context-section > .se-context-header > .se-label {
  flex: 100 0 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  padding: 1px 10px;
}

.sc-context-section > .se-context-header > .se-close {
  padding: 1px 10px;
  font-size: 16px;
  line-height: 30px;
  flex: 0 0 0;
  cursor: pointer;
}
