.se-editor-pane .se-context-pane {
  flex: 0 2 300px;
  overflow: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #F3F3F3;
  border-left: 1px solid #e1e4e8;
}

/* HACK: this is a rather hacky solution */
.se-editor-pane .se-context-pane > .se-context-pane-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  background: #e8e8e8;
}

.se-editor-pane .se-context-pane > .se-context-pane-content > div {
  display: flex;
  flex-direction: column;
  broder-left: 1px solid #d2d2d2;
}

.se-editor-pane .se-context-pane .se-context-header {
  display: flex;
  flex: 0 0 40px;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
}

.se-editor-pane .se-context-pane .se-context-header > .se-title {
  flex: 1;
  padding: 10px 20px;
  color: #000;
}

.se-editor-pane .se-context-pane .se-context-header > .se-icon {
  padding: 8px 20px;
}

.se-editor-pane .se-context-pane .se-context-header > .se-icon i {
  display: inline-block;
  border-radius: 10px;
  padding: 2px;
  font-size: 11px;
  line-height: 9px;
  color: #e8e8e8;
  background: #7f7f7f;
}
