.sc-dropdown {
  z-index: 10;
}

.sc-dropdown > .sc-button {
  border-radius: 2px;
}

.sc-dropdown > .se-options {
  border: solid 1px;
  background: #fff;
}

.sc-dropdown .se-choice {
  padding: 10px;
}

.sc-dropdown .se-choice input {
  min-height: initial;
  display: inline-block;
}