.sc-function-help {
  font-weight: 600;
  padding: 20px;
}

.sc-function-help .se-title {
  color: #767676;
}

.sc-function-help .se-subtitle {
  margin: 10px 0px 15px;
  font-weight: 500;
  font-size: 13px;
  color: #4d4d4d;
}

.sc-function-help a {
  font-size: 14px;
  color: #2b8aff;
  text-decoration: none;
}

.sc-function-help .se-function-index {
  padding: 15px 0;
}

.sc-function-help .se-functions {
  margin-top: 40px;
}

.sc-function-help .se-functions-list .se-item a {
  float: left;
  margin-right: 15px;
  font-size: 14px;
  color: #2b8aff;
  text-decoration: none;
}

.sc-function-help > .se-name {
  font-family: monospace;
  font-size: 18px;
}

.sc-function-help > .se-description {
  font-size: 12px;
  margin: 5px 0 10px;
}

.sc-function-help > .se-section-title {
  font-size: 14px;
  margin: 15px 0 5px;
}

.sc-function-help > .se-example-usage,
.sc-function-help > .se-syntax {
  font-family: monospace;
  font-size: 12px;
  margin-bottom: 5px;
}

.sc-function-help > .se-param {
  display: list-item;
  list-style-type: disc;
  margin-left: 20px;
  font-size: 12px;
}

.sc-function-help > .se-param > .se-name {
  font-family: monospace;
}
