.sc-function-usage {
  font-size: 12px;
  color: #666;
  text-align: left;
}

.sc-function-usage .se-label {
  color: #888;
}

.sc-function-usage .se-example {
  padding: 10px;
}

.sc-function-usage .se-example .se-example-code {
  font-size: 13px;
  font-family: Monaco;
}

.sc-function-usage .se-documentation {
  display: flex;
  align-items: baseline;
  padding: 0 5px;
}

.sc-function-usage .se-documentation .se-read-more {
  margin-left: 10px;
  padding-left: 5px;
  font-size: 13px;
  cursor: pointer;
}

.sc-function-usage .se-documentation .se-title {
  font-weight: bold;
}

.sc-function-usage .se-documentation .se-signature {
  font-size: 12px;
  font-family: Monaco;
}

.sc-function-usage .se-documentation .se-signature .se-signature-param.sm-active {
	border-bottom: 2px solid #fff;
}

.sc-function-usage .se-documentation .se-parameters {
  font-size: 11px;
}

.sc-function-usage .se-documentation .se-parameters .se-param .se-param-name {
  font-family: Monaco;
  color: #888;
  padding-right: 10px;
}

.sc-function-usage .se-documentation .se-parameters .se-param.sm-active .se-param-name {
  text-decoration: underline;
}

.sc-function-usage-tool > .se-function-not-found {
	color: #fff;
	font-size: 12px;
	padding: 5px;
}
