/*
html,
body {
  height: 100%;
  width: 100%;
}

#stencila-code-editor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

stencila-code-editor {
  height: 80%;
  width: 80%;
  max-width: 60rem;
}
*/
