/**
 * Normalise everything with, ummm, normalize
 */
@import 'normalize';

/**
 * Apply natural box layout model to all elements.
 * See
 * 	http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * 	http://css-tricks.com/box-sizing/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Remove margin on body (normalize doesn't do this)
 */
body {
	margin: 0;
}

/**
 * Setup fonts to be used
 */
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro|Source+Code+Pro);

$serif: 'Libre Baskerville', Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$sans: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
$mono: 'Source Code Pro', mono;
