@import '../../common/styles/common.css';
@import 'prismjs/themes/prism.css';
@import '../../common/fonts/merriweather/merriweather.css';

:root {
  --max-width: 680px;
  --max-width-media: 980px;
  --body-font: Merriweather, serif;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  margin: 4em auto 1em;
  padding: 0 1em;
  line-height: 1.65;

  &::after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 100%;
    background-color: #1d63f3;
    height: 4px;
  }
}

html,
body {
  color: #363636;
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

  & > *:not(figure, table) {
    width: 100%;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
hr,
blockquote,
a {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.75rem auto 1rem;
  line-height: 1.25;

  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 0;
  }
}

h1,
h2 {
  border-top: 3px double #dbdbdb;
  padding-top: 3rem;
}

h1 {
  margin-top: 0;
  font-weight: 900;
  font-size: 1.953rem;

  &:first-of-type,
  & + h2 {
    border-top: none;
    padding-top: inherit;
    margin-top: inherit;
  }

  & + h2 {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: #7a7a7a;
  }
}

h2 {
  font-size: 1.563rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6,
small,
.text_small {
  font-size: 0.725rem;
}

p {
  & + h1,
  & + h2 {
    margin-top: 2.25rem;
  }

  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 3.75rem;
    position: relative;

    &:before {
      content: '❡';
      color: #dbdbdb;
      font-size: 1rem;
      background-color: #fafafa;
      padding-left: 0.25rem;
      position: absolute;
      top: -3.25rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  & + ul,
  & + ol {
    margin-top: 0;
  }
}

ol,
ul {
  padding: 0;
  list-style-position: inside;

  & ul,
  & ol {
    padding-left: 1rem;
  }

  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 1.75rem;
  }
}

li {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child:not(figure) {
    margin-bottom: 0;
  }
}

figure,
table,
article > pre,
img {
  max-width: 100%;
  overflow: auto;
}

article > pre,
article > pre[class*='language-'],
figure {
  background-color: #fff;
  width: auto;
  max-width: var(--max-width);
  margin: 1.25rem auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  overflow-y: hidden;
  overflow-x: auto;
}

article > pre {
  background-color: #fff;
}

pre {
  font-size: 80%;
}

figure {
  img,
  pre {
    padding: 1rem;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  > figure {
    box-shadow: none;
    border: none;
  }
}

figcaption {
  font-size: 85%;
  background-color: #f1f1f2;
  width: 100%;
  padding: 1.5rem 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 0.725rem;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    border: none;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

p {
  hyphens: auto;
  margin-bottom: 1.25rem;
}

a {
  transition: color 125ms ease-in-out;

  &:link,
  &:visited {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-style: italic;
  }

  &:link::after {
    display: block;
    width: 100%;
    content: '';
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: rgba(29, 99, 243, 0.45);
    transition: all 125ms ease-in-out;
  }

  &:hover {
    color: rgba(29, 99, 243, 1);

    &::after {
      background-color: rgba(29, 99, 243, 1);
      bottom: 0;
    }
  }
}

table {
  text-align: left;
  border-collapse: collapse;
  font-size: 80%;
  margin: 1rem auto;
  min-width: var(--max-width);
  overflow-x: auto;
  border: 2px solid #f5f5f5;

  figure & {
    margin: 0 auto;
  }
}

thead,
tbody:first-child tr:first-child {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 75%;
  letter-spacing: 1px;
  border-bottom: 2px solid #f5f5f5;
}

th,
tbody:first-child tr:first-child {
  font-weight: 900;
  padding: 0.5em 1em;
  border-right: solid 1px #f1f1f2;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

td {
  border-right: solid 1px #f1f1f2;
  padding: 0.25em 1em;
}

blockquote {
  margin: 1.25rem auto;
  padding: 2rem;
  color: rgba(74, 74, 74, 1);
  background-color: #f5f5f5;
  border-top: 3px double #b5b5b5;
  border-right: 2px double #b5b5b5;
  position: relative;

  &::before {
    content: '“';
    position: absolute;
    top: -2.5rem;
    left: -1rem;
    font-size: 5em;
    font-weight: 900;
    color: #666666;
  }

  &::after {
    content: '”';
    position: absolute;
    bottom: -5rem;
    right: -1rem;
    font-size: 5em;
    font-weight: 900;
    color: #666666;
  }

  & *:first-child {
    margin-top: 0;
  }

  & *:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 720px) {
  article > pre,
  article > pre[class*='language-'],
  figure {
    min-width: var(--max-width);
  }

  ul,
  ol {
    list-style-position: outside;
  }
}

:--references {
  :--CreativeWork {
    margin-bottom: 1rem;

    > :--title:first-of-type {
      display: block;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 600;
      border-bottom: none;
    }
  }

  :--title + :--datePublished {
    display: none;
  }
}
