/* stylelint-disable scale-unlimited/declaration-strict-value */
/* stylelint-disable xi/selector-pattern */

:root {
  --color-neutral-100: #f7fafc;
  --color-neutral-200: #edf2f7;
  --color-neutral-300: #e2e8f0;
  --color-neutral-400: #cbd5e0;
  --color-neutral-500: #a0aec0;
  --color-neutral-600: #718096;
  --color-neutral-700: #4a5568;
  --color-neutral-800: #2d3748;
  --color-neutral-900: #1a202c;
  --font-size-90: 90%;
  --font-size-110: 110%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0.95;
  border-bottom: 1px solid var(--color-neutral-400);
  height: 3rem;
  padding: 0.5rem 1rem 1rem 1rem;
  box-sizing: border-box;
  color: var(--color-neutral-600);
  font-size: var(--font-size-90);
  font-family: sans-serif;
  width: 100vw;

  * {
    vertical-align: middle;
  }

  .name {
    font-size: var(--font-size-110);
    color: var(--color-neutral-700);
  }

  img {
    height: 2rem;
  }

  .tools {
    float: right;

    label {
      margin: 0.2rem;
    }

    .github {
      img {
        margin: 0 0.5rem;
        height: 24px;
        width: 24px;
        opacity: 0.4;
      }
    }
  }
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
  padding: 3rem 0 0;
}

body > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30ch;
}

main {
  background-color: var(--color-neutral-100);
}

iframe {
  background-color: white;
  border: 1px solid var(--color-neutral-300);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.035), 0 0 80px rgba(0, 0, 0, 0.07);
  display: block;
  height: calc(100vh - 6rem);
  margin: 1.5rem auto;
  transition: width 175ms ease-out;
  width: 90%;
}

iframe.mobile {
  width: 320px;
}

menu {
  background-color: var(--color-neutral-300);
  border-right: 1px solid var(--color-neutral-400);
  flex-basis: 300px;
  flex-grow: 0;
  font-family: sans-serif;
  margin: 0;
  overflow: auto;
  padding: 1rem;
}

menu h2 {
  margin: 0;
}

#themeVariables label,
#themeVariables input {
  display: block;
  font-family: monospace;
  width: 100%;
}

#themeVariables label {
  color: var(--color-neutral-800);
  font-size: 12px;
}

#themeVariables input {
  background-color: white;
  border-radius: 2px;
  border: 1px solid var(--color-neutral-400);
  font-size: 16px;
  margin-bottom: 1rem;
  padding: 0.25rem;
}
