/* stylelint-disable xi/selector-pattern */

:root {
  --color-neutral-100: #f7fafc;
  --color-neutral-200: #edf2f7;
  --color-neutral-300: #e2e8f0;
  --color-neutral-400: #cbd5e0;
  --color-neutral-500: #a0aec0;
  --color-neutral-600: #718096;
  --color-neutral-700: #4a5568;
  --color-neutral-800: #2d3748;
  --color-neutral-900: #1a202c;
  --font-size-90: 90%;
  --font-size-110: 110%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0.95;
  border-bottom: 1px solid var(--color-neutral-400);
  height: 3rem;
  padding: 0.5rem 1rem 1rem 1rem;
  box-sizing: border-box;
  color: var(--color-neutral-600);
  font-size: var(--font-size-90);
  font-family: sans-serif;
  width: 100vw;

  * {
    vertical-align: middle;
  }

  .name {
    font-size: var(--font-size-110);
    color: var(--color-neutral-700);
  }

  img {
    height: 2rem;
  }

  .tools {
    float: right;

    label {
      margin: 0.2rem;
    }

    .github {
      img {
        margin: 0 0.5rem;
        height: 24px;
        width: 24px;
        opacity: 0.4;
      }
    }
  }
}

header + main {
  margin-top: 3rem;
}
