header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0.95;
  border-bottom: 1px solid #dedede;
  height: 3rem;
  padding: 0.5rem 1rem 1rem 1rem;
  box-sizing: border-box;
  color: #777;
  font-size: 0.9rem;
  font-family: sans-serif;
  width: 100vw;

  * {
    vertical-align: middle;
  }

  .name {
    font-size: 1.1rem;
    color: #444;
  }

  img {
    height: 2rem;
  }

  .tools {
    float: right;

    label {
      margin: 0.2rem;
    }

    .github {
      img {
        margin-left: 1rem;
        height: 24px;
        width: 24px;
        color: #777;
      }
    }
  }
}

header + main {
  margin-top: 3rem;
}
