@import url('http://static.stenci.la/stencila.css');
@import url('code.css');

body {
	padding: 15px;

    font-family: "Titillium Web", Lucida Grande, Verdana, Geneva, Arial, sans-serif;
    font-size: 16px;
}

p {
	margin : 1px;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.2em;
	color: grey;
}

h3 {
	font-size: 1.1em;
	color: grey20;
}

div.header {
    padding: 0px;
	margin-bottom: 20px;
    float: left;
}
div.header a {
	display: inline-block;
	vertical-align: middle;
}
div.header div.details {
    margin-left: 10px;
	display: inline-block;
    vertical-align: middle;
}
div.header div.details h1 {
    margin: 0px;
}
div.header div.details h2 {
    margin: 0px;
	color: grey;
	font-size: 16px;
}

div.header ul.links {
	display: inline;
    padding: 1px;
}
div.header ul.links li {
	display: inline;
	margin-left: 5px;
	border: 1px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px 7px 3px 7px;
	background: #DDD;
}

div.page {
	clear: both;
}

div.warning {
	clear: both;
	border: solid 1px red;
	padding: 5px;
	background: lightyellow;
	font-size: 14px;
}

div.code {
	background: white;
	padding: 10px;
}

div.code div.cpp,
div.code div.py,
div.code div.r {
	padding: 10px;
}

div.code div.source pre{
	margin: 0px;
	background: #222;
	font-family: mono;
	padding: 10px;
}

div.code div.output {
	margin-top: 5px;
    background: #222;
	color: green;
	font-family: mono;
	padding: 10px;
}

div.code div.output span.splat {
	color: red;
}

div.code .cpp {
	background: url('cpp-icon.png') no-repeat top left;
}

div.code .py {
	background: url('py-icon.png') no-repeat top left;
}

div.code .r {
	background: url('r-icon.png') no-repeat top left;
}
