@mixin print-colors($hue) {
  background: hsl($hue, 100%, 90%);
  border-bottom: 1px solid hsl($hue, 100%, 80%);
  color: hsl($hue, 100%, 40%);
}

.sc-print {
  &.sm-error {
    display: none;
  }
}

&.sm-reveal {

  .sc-print {
    @include print-colors(90);
    min-width: 2em;
    padding: 1px 0;

    &.sm-error {
      @include print-colors(0);
      display: inherit;
    }

  }

}
