[package]
name = "stencila-db"
edition = "2024"
version.workspace = true

[dependencies]
chrono = { workspace = true }
eyre = { workspace = true }
rusqlite = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = { workspace = true }
tracing = { workspace = true }
zstd = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }

[lints]
workspace = true
