[package]
name = "secrets"
version = "0.0.0"
edition = "2021"

[dependencies]
ask = { path = "../ask" }
cli-utils = { path = "../cli-utils" }
common = { path = "../common" }
# Use `vendored` feature so that `libdbus` does not need to be installed on Linux (which it probably isn't on non-desktop distributions).
# See the "Platform-specific issues" section at https://docs.rs/crate/keyring
keyring = { version = "3.6.2", features = ["apple-native", "windows-native", "sync-secret-service", "vendored"]}

[lints]
workspace = true
