[package]
name = "stencila-secrets"
version = "0.0.0"
edition = "2024"

[dependencies]
clap = { workspace = true }
eyre = { workspace = true }
itertools = { workspace = true }

# Use `vendored` feature so that `libdbus` does not need to be installed on Linux (which it probably isn't on non-desktop distributions).
# See the "Platform-specific issues" section at https://docs.rs/crate/keyring
keyring = { workspace = true }
serde = { workspace = true }
serde_with = { workspace = true }
stencila-ask = { path = "../ask" }
stencila-cli-utils = { path = "../cli-utils" }
tracing = { workspace = true }

[lints]
workspace = true
