[package]
name = "codecs"
version = "0.0.0"
edition = "2021"

[features]
proptest-min = ["codec/proptest-min"]
proptest-low = ["codec/proptest-low"]
proptest-high = ["codec/proptest-high"]
proptest-max = ["codec/proptest-max"]

[dependencies]
cli-utils = { path = "../cli-utils" }
codec = { path = "../codec" }
codec-cbor = { path = "../codec-cbor" }
codec-debug = { path = "../codec-debug" }
codec-directory = { path = "../codec-directory" }
codec-docx = { path = "../codec-docx" }
codec-dom = { path = "../codec-dom" }
codec-html = { path = "../codec-html" }
codec-ipynb = { path = "../codec-ipynb" }
codec-jats = { path = "../codec-jats" }
codec-json = { path = "../codec-json" }
codec-json5 = { path = "../codec-json5" }
codec-jsonld = { path = "../codec-jsonld" }
codec-latex = { path = "../codec-latex" }
codec-lexical = { path = "../codec-lexical" }
codec-markdown = { path = "../codec-markdown" }
codec-odt = {path = "../codec-odt"}
codec-pandoc = { path = "../codec-pandoc" }
codec-pdf = { path = "../codec-pdf" }
codec-swb = { path = "../codec-swb" }
codec-text = { path = "../codec-text" }
codec-yaml = { path = "../codec-yaml" }
node-strip = { path = "../node-strip" }

[dev-dependencies]
common-dev = { path = "../common-dev" }
json_value_merge = "2.0.0"

[lints]
workspace = true
