[package]
name = "codecs"
description = "The set of registered codecs, either built-in, or provided by plugins"
version = "0.0.0"
edition = "2021"

[features]
default = ["codec-json"]
cli = ["cli-utils"]

[dependencies]
codec = { path = "../codec" }
codec-format = { path = "../codec-format" }
formats = { path = "../formats" }

cli-utils = { path = "../cli-utils", features = ["pretty"], optional = true}

codec-date = { path = "../codec-date", optional = true }
codec-docx = { path = "../codec-docx", optional = true }
codec-html = { path = "../codec-html", optional = true }
codec-ipynb = { path = "../codec-ipynb", optional = true }
codec-json = { path = "../codec-json", optional = true }
codec-json5 = { path = "../codec-json5", optional = true }
codec-latex = { path = "../codec-latex", optional = true }
codec-md = { path = "../codec-md", optional = true }
codec-pandoc = { path = "../codec-pandoc", optional = true }
codec-pdf = { path = "../codec-pdf", optional = true }
codec-person = { path = "../codec-person", optional = true }
codec-png = { path = "../codec-png", optional = true }
codec-rmd = { path = "../codec-rmd", optional = true }
codec-rpng = { path = "../codec-rpng", optional = true }
codec-toml = { path = "../codec-toml", optional = true }
codec-txt = { path = "../codec-txt", optional = true }
codec-yaml = { path = "../codec-yaml", optional = true }
