[package]
name = "stencila-codecs"
version = "0.0.0"
edition = "2024"

[features]
proptest-min = ["stencila-codec/proptest-min"]
proptest-low = ["stencila-codec/proptest-low"]
proptest-high = ["stencila-codec/proptest-high"]
proptest-max = ["stencila-codec/proptest-max"]

[dependencies]
chrono = { workspace = true }
clap = { workspace = true }
futures = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
stencila-ask = { path = "../ask" }
stencila-cli-utils = { path = "../cli-utils" }
stencila-codec = { path = "../codec" }
stencila-codec-arxiv = { path = "../codec-arxiv" }
stencila-codec-biblio = { path = "../codec-biblio" }
stencila-codec-cbor = { path = "../codec-cbor" }
stencila-codec-cff = { path = "../codec-cff" }
stencila-codec-crossref = { path = "../codec-crossref" }
stencila-codec-csl = { path = "../codec-csl" }
stencila-codec-csv = { path = "../codec-csv" }
stencila-codec-debug = { path = "../codec-debug" }
stencila-codec-directory = { path = "../codec-directory" }
stencila-codec-docx = { path = "../codec-docx" }
stencila-codec-doi = { path = "../codec-doi" }
stencila-codec-dom = { path = "../codec-dom" }
stencila-codec-email = { path = "../codec-email" }
stencila-codec-gdoc = { path = "../codec-gdoc" }
stencila-codec-github = { path = "../codec-github" }
stencila-codec-html = { path = "../codec-html" }
stencila-codec-ipynb = { path = "../codec-ipynb" }
stencila-codec-jats = { path = "../codec-jats" }
stencila-codec-json = { path = "../codec-json" }
stencila-codec-json5 = { path = "../codec-json5" }
stencila-codec-jsonld = { path = "../codec-jsonld" }
stencila-codec-latex = { path = "../codec-latex" }
stencila-codec-lexical = { path = "../codec-lexical" }
stencila-codec-m365 = { path = "../codec-m365" }
stencila-codec-markdown = { path = "../codec-markdown" }
stencila-codec-meca = { path = "../codec-meca" }
stencila-codec-odt = { path = "../codec-odt" }
stencila-codec-openalex = { path = "../codec-openalex" }
stencila-codec-openrxiv = { path = "../codec-openrxiv" }
stencila-codec-pandoc = { path = "../codec-pandoc" }
stencila-codec-pdf = { path = "../codec-pdf" }
stencila-codec-pmc = { path = "../codec-pmc" }
stencila-codec-png = { path = "../codec-png" }
# stencila-codec-polars = { path = "../codec-polars", optional = true }
stencila-codec-rnw = { path = "../codec-rnw" }
stencila-codec-swb = { path = "../codec-swb" }
stencila-codec-text = { path = "../codec-text" }
stencila-codec-utils = { path = "../codec-utils" }
stencila-codec-xlsx = { path = "../codec-xlsx" }
stencila-codec-yaml = { path = "../codec-yaml" }
stencila-codec-zenodo = { path = "../codec-zenodo" }
stencila-node-strip = { path = "../node-strip" }
stencila-node-structuring = { path = "../node-structuring" }
stencila-remotes = { path = "../remotes" }
strum = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
walkdir = { workspace = true }

[dev-dependencies]
glob = { workspace = true }
insta = { workspace = true }
itertools = { workspace = true }
json_value_merge = "2.0.1"
pretty_assertions = { workspace = true }
proptest = { workspace = true }
regex = { workspace = true }
serde_yaml = { workspace = true }
smart-default = { workspace = true }
stencila-node-stabilize = { path = "../node-stabilize" }

[lints]
workspace = true
