.sc-stencil-default-node {
  background: #eee;
  color: rgba(0,0,0,0.9);
  padding: 10px;

  .label {
    font-size: 12px;
    padding-bottom: 10px;  
  }

  pre {
    font-size: 13px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    margin-bottom: 20px;
  }

}