body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*
 * Customize Shoelace
  *
 * See https://shoelace.style/getting-started/customizing
 */
:root {
  /* Shoelace's default prefixed with Lato */
  --sl-font-sans: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

/**
 * Overrides for specific custom elements
 **/

/**
 * Custom variables used within the components.
 **/
:root {
  --mt: 0;
}

/**
 * Execution info blocks
 **/
stencila-ui-execution-info {
  background: red !important;
  --mt: 0;
}
stencila-ui-execution-info + stencila-ui-execution-info {
  --mt: 0.75rem;
}
