/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900|Montserrat:wght@400;600&display=swap'); */

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
