@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat:400,600&display=swap');
/* @import url("https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css"); */

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

summary > details::marker,
::marker,
::-webkit-details-marker {
  display: unset !important;
}
