# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package]
name = "stencila"
version = "0.73.0"
authors = ["Stencila <hello@stenci.la>"]
edition = "2018"

# Compile time feature flags. See https://www.worthe-it.co.za/blog/2018-11-18-compile-time-feature-flags-in-rust.html
# All features are on by default, use `--no-default-features --features="json http ..."` to
# cherry pick certain features.
# Our use of features is somewhat over the top but should hopefully allow us to create more
# minimal binaries as needed (e.g. for creating really small container images).

[features]

cli = ["template-handlebars", "structopt"]

serve = []
serve-stdio = []
serve-http = ["warp", "jsonwebtoken"]
serve-ws = ["warp", "jsonwebtoken"]
serve-viewer = ["warp", "rust-embed"]

request = []
request-stdio = []
request-docker = ["bollard"]
request-http = ["reqwest", "jsonwebtoken"]
request-ws = ["tokio-tungstenite", "jsonwebtoken"]

plugins = ["jsonschema", "semver"]
plugins-docker = ["plugins", "bollard"]
plugins-binary = ["plugins", "self_update"]
plugins-javascript = ["plugins"]
plugins-python = ["plugins"]
plugins-r = ["plugins"]
plugins-link = ["plugins"]

upgrade = ["self_update"]

config = ["humantime", "toml", "validator"]

inspect = []

format-json = []
format-yaml = ["serde_yaml"]

query-jsonptr = [] #"json-pointer"]
query-jmespath = [] #"jmespatch"]

template-handlebars = ["handlebars"]

watch = ["notify"]

default = [
    "cli",
    "serve",
    "serve-stdio",
    "serve-http",
    "serve-ws",
    "serve-viewer",
    "request",
    "request-docker",
    "request-http",
    "request-stdio",
    "request-ws",
    "plugins",
    "plugins-binary",
    "plugins-docker",
    "plugins-link",
    "plugins-javascript",
    "plugins-python",
    "plugins-r",
    "upgrade",
    "config",
    "inspect",
    "format-json",
    "format-yaml",
    "query-jsonptr",
    "query-jmespath",
    "template-handlebars",
    "watch",
]

[dependencies]
ansi_term = "0.12.1"
async-trait = "0.1.50"
bollard = { version = "0.10.1", optional = true }
chrono = "0.4.19"
defaults = "0.2.0"
dirs-next = "2.0.0"
enum_dispatch = "0.3.7"
eyre = "0.6.5"
futures = "0.3.15"
gitignore = "1.0.7"
glob = "0.3.0"
handlebars = { version = "4.0.0", optional = true }
humantime = { version = "2.1.0", optional = true }
ignore = "0.4.17"
jsonschema = { version = "0.9.0", optional = true }
jsonwebtoken = { version = "7.2.0", optional = true }
mime_guess = "2.0.3"
nanoid = "0.4.0"
notify = { version = "4.0.17", optional = true }
once_cell = "1.7.2"
rand = "0.8.3"
regex = "1.5.4"
reqwest = { version = "0.11.3", optional = true, features = ["json"] }
rust-embed = { version = "5.9.0", optional = true }
schemars = { version = "0.8.3", features = ["preserve_order", "chrono"] }
self_update = { version = "0.27.0", optional = true, features = [
    "archive-tar",
    "archive-zip",
    "compression-flate2",
    "compression-zip-deflate",
] }
semver = { version = "1.0.2", optional = true }
serde = { version = "1.0.126", features = ["derive", "rc"] }
serde_json = { version = "1.0.64", features = ["preserve_order"] }
serde_with = "1.9.1"
serde_yaml = { version = "0.8.17", optional = true }
stencila-schema = "1.7.3"
structopt = { version = "0.3.21", optional = true }
strum = { version = "0.20", features = ["derive"] }
strum_macros = "0.20.1"
thiserror = "1.0.25"
tokio = { version = "1.6.1", features = ["full"] }
tokio-tungstenite = { version = "0.14.0", optional = true }
toml = { version = "0.5.8", optional = true }
tracing = "0.1.26"
tracing-appender = "0.1.2"
tracing-error = "0.1.2"
tracing-serde = "0.1.2"
tracing-subscriber = "0.2.18"
url = "2.2.2"
validator = { version = "0.13.0", features = ["derive"], optional = true }
warp = { version = "0.3.1", optional = true }

[dev-dependencies]
maplit = "1.0.2"
pretty_assertions = "0.7.2"
