[package]
name = "stencila"
version = "2.0.0-alpha.5"
authors = ["Nokome Bentley <nokome@stencila.io"]
edition = "2021"

[features]
tokio-console = ["console-subscriber"]

[dependencies]
axum = "0.6.19"
codecs = { path = "../codecs" }
color-eyre = { version = "0.6.2", features = ["issue-url"] }
common = { path = "../common" }
console-subscriber = { version = "0.1.10", optional = true }
document = { path = "../document" }
format = { path = "../format" }
is-terminal = "0.4.9"
syntect = "5.0.0"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "json"] }

[dev-dependencies]
common-dev = { path = "../common-dev" }
