[package]
name = "stencila"
version = "2.0.0-alpha.4"
authors = ["Nokome Bentley <nokome@stencila.io"]
edition = "2021"

[features]
tokio-console = ["console-subscriber", "tokio/tracing"]

[dependencies]
codecs = { path = "../codecs" }
color-eyre = { version = "0.6.2", features = ["issue-url"] }
common = { path = "../common" }
console-subscriber = { version = "0.1.8", optional = true }
document = { path = "../document" }
format = { path = "../format" }
is-terminal = "0.4.7"
syntect = "5.0.0"
tokio = { version = "1.27.0", features = ["full"] }
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "json"] }

[dev-dependencies]
common-dev = { path = "../common-dev" }
