[package]
edition = "2024"
name = "stencila-node"
version = "2.9.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
eyre = { workspace = true }
napi = { version = "3.5.1", default-features = false, features = [
    "async",
    "napi8",
] }
napi-derive = "3.3.1"
serde_json = { workspace = true }
stencila-codecs = { path = "../rust/codecs" }

[build-dependencies]
napi-build = "2.3.0"
