[package]
edition = "2021"
name = "node"
version = "2.0.0-alpha.22"

[lib]
crate-type = ["cdylib"]

[dependencies]
codecs = { path = "../rust/codecs" }
common = { path = "../rust/common" }
# Default enable napi4 feature, see https://nodejs.org/api/n-api.html#node-api-version-matrix
napi = { version = "2.14.0", default-features = false, features = ["async", "napi4"] }
napi-derive = "2.14.1"
schema = { path = "../rust/schema" }

[build-dependencies]
napi-build = "2.1.0"
