@font-face {
	font-family: CoreHumanistSans;
    /* A font by Alex Scholing, www.fontsbyalex.com */ 
	src: url('CoreHumanistSans-Regular.otf');
}

@font-face {
	font-family: TitilliumTextRegular;
    /* A font by Campivisivi, http://www.campivisivi.net/titillium/text/ */ 
	src: url('TitilliumText25L003.otf');
}

body {
	padding: 15px;

    font-family: TitilliumTextRegular, Lucida Grande, Verdana, Geneva, Arial, sans-serif;
    font-size: 16px;
}

p {
	margin : 1px;
}

a {
	text-decoration: none;
}
