// Stencila `VisualEditor` tool sets

.sc-toolset {

  display: none;

  background: hsl(0, 0%, 5%);
  opacity: .9;
  box-shadow: 2px 2px 10px 0 hsla(0, 0%, 0%, .3);

  border-radius: 5px;

  &.sm-enabled {
    display: block;
  }

  .se-group {
    display: flex;
    flex-direction: column;

    max-height: 0;
    transition: max-height .3s;
    overflow: hidden;

    &.sm-enabled {
      // Override this below for each group so 
      // it just fits the number of tools (so no apparent delay in animation)
      max-height: 100em;
    }
  }

  .se-tool,
  .sc-tool {
    display: inline-block;

    // When using `overflow:hidden` the height of the
    // parent element changes without this
    // See http://stackoverflow.com/questions/20310690/overflowhidden-on-inline-block-adds-height-to-parent
    vertical-align: top;

    button {
      height: 2.3em;
      width: 2.3em;
      background: none;
      outline: none;
      border: 0;

      i {
        color: hsl(0, 0%, 90%);
        font-size: 1.5em;
      }

      // Disabled tool icons
      &[disabled='true'] i {
        color: hsl(0, 0%, 20%);
      }

      // Active tool icons
      &.sm-active i {
        color: hsl($stencila-green-hue, 100%, 50%);
      }
    }

    .se-details {
      display: none;

      $details-color: hsl(200, 100%, 50%);

      color: $details-color;

      button i {
        color: $details-color;
      }

      input {
        margin-left: .5em;
        outline: none;
        border: 0;
        background: none;

        padding: .2em;
        color: $details-color;
        font-size: 80%;
        font-family: mono;
        vertical-align: text-bottom;
      }

      select {
        outline: none;
        border: 0;
        background: none;

        color: $details-color;
      }
    }

    &.sm-active .se-details {
      display: inline-block;
    }

    // Hide the Substance added tool mode
    .se-mode {
      display: none;
    }
  }
}

// Document toolset
.sc-document-toolset {
  display: flex;
  flex-direction: column;

  position: relative;
  top: .5em;
  left: .5em;
  z-index: 300;

  width: 2em;
  overflow: hidden;

  &.sm-minimized {
    max-height: 2em;
  }

  &.sm-maximized {
    max-height: 30em;
  }
  transition: max-height .8s;

  .se-edit-group {
    display: inline-block;
    width: 2em;
    overflow: hidden;

    max-height: 0;

    &.sm-enabled {
      max-height: 10em;
    }
    transition: max-height .5s;
  }
}

.sc-text-toolset {

  // To save horizontal space don't show disabled buttons
  .se-tool.sm-disabled {
    display: none;
  }

}

// Block toolset
// Should appear in the margin to the left of the cursor
.sc-block-toolset {

  .se-tool,
  &.sm-expanded .se-extension .se-tool {
    max-width: 0;
    overflow: hidden;
    transition: max-width .5s;
  }

  &.sm-expanded .se-tool,
  &.sm-expanded.sm-extended .se-extension .se-tool {
    max-width: 2.5em;
  }

  .se-tool.sm-active {
    max-width: 2.5em;
  }

  // Custom max widths for tools that need to be wider
  // than the default
  .se-tool.sm-active.sc-heading-tool {
    max-width: 5em;

    // Make H icon and number close together
    button {
      padding-right: 0;
    }

    select {
      font-size: 120%;

      option {
        padding-left: 0;
      }
    }
  }

  .se-tool.sm-active.sc-image-tool {
    max-width: 35em;
  }

  .se-tool.sm-active.sc-codeblock-tool {
    max-width: 10em;

    input {
      width: 5em;
    }
  }

  .se-tool.sm-active.sc-default-tool {
    max-width: 6em;
  }

  .se-tool.se-extend i {
    color: hsl(200, 100%, 50%);
  }

  .se-extension {
    display: inline-block;
  }

}
