.sc-codeblock {
  font-family: var(--font-family-code);
  font-size: 15px;
  background: #F5F5F5;
  border-radius: 5px;
}

.sc-switch-text-type .se-option.sm-codeblock {
  font-family: var(--font-family-code);
  font-size: 15px;
}

.sc-codeblock .se-editor {}
