.sc-codeblock {
  font-family: var(--font-family-code);
  font-size: 15px;
  border-left: 2px solid #ccc;
}

.sc-switch-text-type .se-option.sm-codeblock {
  font-family: var(--font-family-code);
  font-size: 15px;
}

.sc-codeblock .se-editor {}