@import '../../extensions/math/styles.css';

/* stylelint-disable scale-unlimited/declaration-strict-value */

:--root {
  --color-ok: #6dfc6e;

  display: inline-block;
  font-family: monospace;
  font-size: 11pt;
  line-height: 150%;
  color: #333;
  padding: 1px;
}

:--CodeChunk,
:--CodeExpression {
  /* For rPNG generation there should be no margin
  and thet should have a minimum size. */
  display: inline-block;
  margin: 0 !important;
  min-width: 1em;
  min-height: 1em;
  width: auto !important;

  /* Remove borders and add a green dot affordance */
  border: none;
  &::before {
      position: absolute;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      content: '';
      background-color: var(--color-ok);
      opacity: 0.7;
      pointer-events: none;
  }
}

/* Add spacing between the dot and the output */
:--CodeChunk stencila-node-list {
  padding: 12px !important;
}
:--CodeExpression .output {
  padding: 0 0 0 15px !important;
}

/* Hide the UI chrome etc that is not wanted */
:--CodeChunk stencila-action-menu,
:--CodeChunk [slot='text'],
:--CodeChunk .emptyContentMessage,
:--CodeExpression .actions,
:--CodeExpression .divider {
  display: none !important;
}

/* Make font-size a little bigger for outputs */
:--CodeChunk *,
:--CodeExpression * {
  font-size: 0.9rem !important;
}

/* Make display of datatables a little more pleasing */
:--Datatable {
  border: 1px solid grey;

  table,
  tr,
  th,
  td {
    border-collapse: collapse;
  }

  th {
    color: var(--color-neutral-600);
    background: rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 0.5em;
    border: 1px solid lightgrey;
  }
}
