/* This file is inlined at @import statements in themes and so the url paths
 * below are relative to the themes directory, not the location of this file */

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url('../fonts/latin-modern/LM-regular.woff2') format('woff2'),
    url('../fonts/latin-modern/LM-regular.woff') format('woff'),
    url('../fonts/latin-modern/LM-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src:
    url('../fonts/latin-modern/LM-italic.woff2') format('woff2'),
    url('../fonts/latin-modern/LM-italic.woff') format('woff'),
    url('../fonts/latin-modern/LM-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src:
    url('../fonts/latin-modern/LM-bold.woff2') format('woff2'),
    url('../fonts/latin-modern/LM-bold.woff') format('woff'),
    url('../fonts/latin-modern/LM-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src:
    url('../fonts/latin-modern/LM-bold-italic.woff2') format('woff2'),
    url('../fonts/latin-modern/LM-bold-italic.woff') format('woff'),
    url('../fonts/latin-modern/LM-bold-italic.ttf') format('truetype');
}
