.sc-select {
  color: var(--stencila-green);
}

.sc-edit-select-tool .se-settings {
  padding: 5px;
  border-bottom: 1px solid rgba(255,255,255,0.1)
}

.sc-edit-select-tool > .se-settings > input {
  font-size: 11px;
  font-family: var(--mono-font-family);
  min-height: 24px;
  padding-left: 5px;
  color: rgba(255,255,255,0.5);
  border-radius: 3px;
  display: inline-block;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.5);
}

.sc-edit-select-tool .se-settings button {
  font-size: 10px;
  display: inline-block;
  /* HACK: just tweak alignment */
  padding-left: 11px;
}

.sc-edit-select-tool > .se-options > button {
  display: block;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  color: rgba(255, 255, 255, 1);
}

.sc-edit-select-tool > .se-options > button.sm-selected {
  color: var(--stencila-green)
}

.sc-edit-select-tool > .se-options > button > .se-text {
  float: left;
}

.sc-edit-select-tool > .se-options > button > .se-value {
  float: right;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
