{{!-- subscription form for to be placed inline --}}

<form 
  data-members-form="subscribe"
  class="relative flex flex-nowrap justify-between h-[44px] mt-10"
>
    <input 
        data-members-email
        type="email"
        placeholder="Enter email to receive to updates"
        class="w-full py-0 px-4 rounded-r-none rounded-l-md border-l border-t border-b border-r-0 border-gray-200 placeholder:text-gray-400 focus:shadow-inner focus:border-gray-400 outline-none" 
    />
    <button type="submit" class="flex shrink-0 flex-nowrap justify-center items-center px-4 py-2 border border-transparent rounded-r-md shadow-sm text-sm font-semibold bg-brand-blue text-white bg-base text-center cursor-pointer hover:bg-white hover:text-brand-blue hover:border-brand-blue">
        Subscribe
    </button>
    <p data-members-error></p>
</form>
