#main-footer ul.nav {
  display: flex;
  flex-direction: column;
}

#main-footer ul.nav li {
  margin: 0.25rem 0;
}

#main-footer ul.nav li:hover {
  color: var(--ghost-accent-color);
}

/* media query to match tailwinds 'md' breakpoint */
@media only screen and (max-width: 48rem) {
  #main-footer ul.nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }
}
