/* main site nav menu */

#site-nav-menu .nav {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}


#site-nav-menu .nav li {
  margin: 0 1.5vmin 0 0;
  padding: 0;
}

#site-nav-menu .nav a {
  display: inline-block;
  padding: 0.5rem 0;
}

#site-nav-menu .nav-current a,
#site-nav-menu .nav-current-parent a {
  color: var(--ghost-accent-color);
  box-shadow: 0 -1px 0 0 currentcolor inset;
}

#secondary-nav a {
  display: block;
  color: var(--color-brand-blue);
  padding: 0.5rem;
  border: 1px solid var(--color-brand-blue);
  border-radius: 0.25rem;
  transition: background-color 150ms, color 150ms;
}

#secondary-nav a:hover {
  color: white;
  background-color: var(--color-brand-blue);
}


/* mobile menu */

#mobile-menu-container {
  scale: 0;
  opacity: 0;
  visibility: hidden;
}

#mobile-menu-container.open  {
  scale: 1;
  opacity: 1;
  visibility: visible;
}

#mobile-menu-container .nav a {
  display: block;
  /* font-size: 1.25rem; */
  padding: 0.5rem 0;
}

#main-header .nav a:not(#secondary-nav a):hover,
#main-header .nav li.nav-current a:not(#secondary-nav a) {
  color: var(--ghost-accent-color)
}


/* header background gradiant */


#header-bg {
  background: linear-gradient(
                to right,
                color-mix(in srgb, var(--ghost-accent-color) 1%, transparent 10%) 0%, 
                color-mix(in srgb, var(--ghost-accent-color) 10%, transparent 10%) 50%,
                color-mix(in srgb, var(--ghost-accent-color) 1%, transparent 10%) 100%
              );
}

