
.collapsible-section {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  max-height: 500px; /* Adjust as needed */
  opacity: 1;
  overflow: hidden;
}

.collapsible-section.collapsed {
  max-height: 0;
  opacity: 0;
}



/* sidebar on smaller devices */
@media only screen and (max-width: 64rem) {
  #sidebar {
      opacity: 0;
      pointer-events: none; /* Prevent clicks when hidden */
      transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
      transform: translateX(-100%);
  }

  #sidebar.open {
      opacity: 1;
      pointer-events: auto; /* Enable interactions when visible */
      transform: translateX(0);
  }
}

