.sc-cell-teaser {
	min-width: var(--cell-width);
	width: 100%;
}

.sc-cell-teaser .se-loading {
	font-size: 12px;
	color: #ccc;
	padding: var(--default-cell-padding);
}

.sc-cell-teaser .se-name {
	font-size: 12px;
	color: #ccc;
	text-align: left;
	padding: var(--default-cell-padding);
}

.sc-cell-teaser .se-content-type {
	text-align: right;
	font-weight: 600;
	font-size: 12px;
	color: #FF9F00;
	padding: var(--default-cell-padding);
}
