/* Sheet Component */
.sc-sheet {
  font-family: var(--sans-font-family);
  font-size: 14px;

  /* deactivate native selections */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}

.sc-sheet thead th {
  text-align: center;
  background: #EEE;
}

.sc-sheet .se-row > .se-cell:first-child {
  text-align: center;
  min-width: 3em;
  background: #EEE;
}
