.sc-sheet-editor {
  position: relative;
}

.sc-sheet-editor .selection {
  position: absolute;
  pointer-events:none;
  border: 2px solid #4285f4;
  background: rgba(160, 195, 255, 0.15);
  z-index: 1;
}

.sc-sheet-editor.sm-edit .selection {
  background: none;
}
