// Sheet Component
.sc-sheet {
  font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;

  /* deactivate native selections */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;

  thead th {
    text-align: center;
    background: #EEE;
  }

  .se-row > .se-cell:first-child {
    text-align: center;
    min-width: 3em;
    background: #EEE;
  }

}