/* Overrides for Stencila components */
:--root {
  a.button.sc-stencila-button-default,
  button.sc-stencila-button-default {
    font-family: var(--font-family-body);
  }

  stencila-button button,
  stencila-button .button {
    --font-size: 14px;

    text-transform: uppercase;
    font-size: var(--font-size) !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px;
  }

  stencila-executable-document-toolbar {
    --background: var(--color-brand);

    [data-el='Toolbar/Run Document'] {
      background-color: var(--color-secondary) !important;
      color: var(--color-stock) !important;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: box-shadow;

      &:hover {
        background-color: var(--color-secondary-dark) !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      }
    }

    &[position='fixed'] + * {
      margin-top: 3rem;
    }
  }
}
