@import '../skeleton/styles.css';
@import './components.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

:--root {
  --max-width: 560px;
  --max-width-media: 720px;
  --font-family-title: roboto, sans-serif;
  --font-family-body: roboto, sans-serif;
  --font-family-mono: monospace;
  --font-size-h1: 26px;
  --font-size-h2: 21px;
  --font-size-h3: 19px;
  --font-size-h4: 18px;
  --font-size-h5: 17px;
  --font-size-h6: 16px;
  --font-size-em: 1em;
  --color-brand: #f2673c;
  --color-stock: #fff;
  --color-key: #333;
  --color-secondary: #212a34;
  --color-secondary-dark: #151b21;
  --color-primary-100: var(--color-brand);
  --color-neutral-100: #f4f6f7;
  --color-neutral-200: #f4f6f7;
  --color-neutral-300: #e6e6e6;
  --color-neutral-400: #e4e4e4;
  --color-neutral-500: #adadad;
  --color-neutral-600: #a2a2a2;
  --color-neutral-700: #909090;
  --color-neutral-800: #888;
  --color-neutral-900: #666;

  @media (--mq-md) {
    --font-size-h6: 12px;
  }

  font-size: var(--font-size-h6);
  line-height: 1.5em;

  :--title,
  [data-itemtype~='http://schema.stenci.la/Heading'],
  :--Heading {
    font-family: var(--font-family-title);
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    color: var(--color-key);
    font-weight: 500;
  }

  :--title {
    font-size: var(--font-size-h2);
    line-height: 27.3px;
  }

  h2:--Heading {
    font-size: var(--font-size-h2);
    line-height: 27.3px;
    color: var(--color-neutral-700);
    margin-top: 14px;

    @media (--mq-md) {
      color: var(--color-key);
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  h3:--Heading {
    font-size: var(--font-size-h6);
    line-height: 20.8px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  :--Paragraph {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  a {
    font-style: normal;
    text-decoration: none;
  }

  :--Cite,
  :--Link {
    color: var(--color-primary-100);
  }

  :--Figure {
    background: #eee;
    padding: 20px;
    border-radius: 3px;
    border-width: 0;
  }

  :--Figure figcaption {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  :--references :--reference {
    :--title {
      font-size: var(--font-size-em);
      font-weight: 400;
      line-height: 24px;

      @media (--mq-md) {
        line-height: 15.6px;
      }
    }
  }
}

:--Table {
  border-collapse: collapse;
  text-align: left;

  th,
  td {
    --border-color: #d5dee2;

    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--color-stock);
    font-size: var(--font-size-h6);
    padding: 4px 8px;
    text-align: left;
  }

  thead th {
    --background: #bdccd4;

    background: var(--background);
  }

  tbody tr:nth-child(even) {
    --background: #e5ebef;

    background: var(--background);
  }

  caption {
    text-align: left;
    font-size: var(--font-size-h6);
  }

  :--caption {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
