@import url('stencila.css');
@import url('code.css');

body {
	padding: 15px;

    font-family: TitilliumTextRegular, Lucida Grande, Verdana, Geneva, Arial, sans-serif;
    font-size: 16px;
}

p {
	margin : 1px;
}

a {
	text-decoration: none;
}

div.header {
    padding: 0px;
	margin-bottom: 20px;
    float: left;
}
div.header a,
div.header img{
	display: inline;
	vertical-align: middle;
}
div.header div.details {
    margin-left: 10px;
	display: inline-block;
    vertical-align: middle;
}
div.header div.details h1 {
    margin: 0px;
}
div.header div.details h2 {
    margin: 0px;
	color: grey;
	font-size: 16px;
}

div.header ul.links {
	display: inline;
}
div.header ul.links li {
	display: inline;
	margin-left: 5px;
	border: 1px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px 7px 3px 7px;
	background: #DDD;
}

div.content {
	clear: both;
}

div.rd pre{
	margin: 0px;
	background: #DDD;
	font-family: TitilliumTextRegular;
	padding: 10px;
	border: 1px solid grey;
}
