[tool.poetry]
name = "stencila"
version = "2.0.0-alpha.17"
description = "Python SDK for Stencila"
authors = ["Stencila and Contributors <hello@stencila.io>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/stencila/stencila/tree/main/python#readme"
repository = "https://github.com/stencila/stencila"
keywords = [
    "programmable",
    "reproducible",
    "interactive",
    "documents",
    "python",
    "SDK",
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Education",
    "Topic :: Software Development",
    "License :: OSI Approved :: Apache Software License"
]

[tool.poetry.dependencies]
python = "^3.11"
dataclasses-json = "^0.6.1"

[tool.poetry.group.dev.dependencies]
black = "^23.10.1"
maturin = "^1.3.0"
pytest = "^7.4.2"
pytest-asyncio = "^0.21.1"
pip-audit = "^2.6.1"
coverage = "^7.3.2"

[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[tool.maturin]
features = ["pyo3/extension-module"]
python-source = "python"
module-name = "stencila._stencila"

[tool.pytest.ini_options]
asyncio_mode = 'auto'

[tool.coverage.run]
omit = [
    # Omit generated type files
    "python/stencila/types/*.py",
    # Omit tests
    "python/tests/*.py",
]
