table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid #ccc;
  box-shadow: none;
  border-radius: 3px;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;

  caption {
    text-align: left;
    margin-bottom: 1em;
    font-weight: bold;
  }

  thead,
  th {
    background: #eee;
  }

  tr {
    td,
    th {
      padding: .5em;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;

      td:last-child {
        border-right: 0;
      }
    }
  }
}
