[package]
name = "stencila-cli"
version = "0.0.0"
authors = ["Nokome Bentley <nokome@stencila.io"]
edition = "2024"

[[bin]]
name = "stencila"
path = "src/main.rs"

[features]
tokio-console = ["console-subscriber"]

[dependencies]
Inflector = { workspace = true }
chrono = { workspace = true }
chrono-humanize = { workspace = true }
clap = { workspace = true }
color-eyre = { version = "0.6.5", features = ["issue-url"] }
console-subscriber = { version = "0.5.0", optional = true }
eyre = { workspace = true }
flate2 = { workspace = true }
indexmap = { workspace = true }
itertools = { workspace = true }
pathdiff = { workspace = true }
reqwest = { workspace = true }
self-replace = "1.3.7"
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
stencila-ask = { path = "../ask" }
stencila-cli-utils = { path = "../cli-utils" }
stencila-cloud = { path = "../cloud" }
stencila-codec-site = { path = "../codec-site" }
stencila-codec-utils = { path = "../codec-utils" }
stencila-codecs = { path = "../codecs" }
stencila-config = { path = "../config" }
stencila-dirs = { path = "../dirs" }
stencila-document = { path = "../document" }
stencila-format = { path = "../format" }
stencila-kernels = { path = "../kernels" }
stencila-linters = { path = "../linters" }
stencila-lsp = { path = "../lsp" }
stencila-models = { path = "../models" }
stencila-node-db = { path = "../node-db" }
stencila-node-diagnostics = { path = "../node-diagnostics" }
stencila-node-execute = { path = "../node-execute" }
stencila-node-strip = { path = "../node-strip" }
stencila-node-supplements = { path = "../node-supplements" }
stencila-prompts = { path = "../prompts" }
stencila-publish = { path = "../publish" }
stencila-remotes = { path = "../remotes" }
stencila-schema = { path = "../schema" }
stencila-secrets = { path = "../secrets" }
stencila-server = { path = "../server" }
stencila-snap = { path = "../snap" }
stencila-spread = { path = "../spread" }
stencila-themes = { path = "../themes" }
stencila-tools = { path = "../tools" }
stencila-version = { path = "../version" }
strum = { workspace = true }
tar = { workspace = true }
tempfile = { workspace = true }
textwrap = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-error = { workspace = true }
tracing-subscriber = { workspace = true }
url = { workspace = true }
webbrowser = { workspace = true }
zip = { workspace = true }

[lints]
workspace = true
