[package]
name = "cli"
version = "0.0.0"
authors = ["Nokome Bentley <nokome@stencila.io"]
edition = "2021"

[[bin]]
name = "stencila"
path = "src/main.rs"

[features]
tokio-console = ["console-subscriber"]

[dependencies]
app = { path = "../app" }
cli-utils = { path = "../cli-utils" }
codecs = { path = "../codecs" }
color-eyre = { version = "0.6.3", features = ["issue-url"] }
common = { path = "../common" }
console-subscriber = { version = "0.4.1", optional = true }
document = { path = "../document" }
flate2 = { workspace = true }
format = { path = "../format" }
is-terminal = { workspace = true }
kernels = { path = "../kernels" }
lsp = { path = "../lsp" }
models = { path = "../models" }
node-execute = { path = "../node-execute" }
node-strip = { path = "../node-strip" }
plugins = { path = "../plugins" }
prompts = { path = "../prompts" }
publish = { path = "../publish" }
schema = { path = "../schema" }
secrets = { path = "../secrets" }
self-replace = "1.3.7"
server = { path = "../server" }
tracing-error = "0.2.1"
tracing-subscriber = { version = "0.3.19", features = ["env-filter", "json"] }
version = { path = "../version" }
webbrowser = "1.0.3"

[lints]
workspace = true
