[package]
name = "cli"
version = "2.0.0-beta.1"
authors = ["Nokome Bentley <nokome@stencila.io"]
edition = "2021"

[[bin]]
name = "stencila"
path = "src/main.rs"

[features]
tokio-console = ["console-subscriber"]

[dependencies]
app = { path = "../app" }
assistants = { path = "../assistants" }
cli-utils = { path = "../cli-utils" }
codecs = { path = "../codecs" }
color-eyre = { version = "0.6.3", features = ["issue-url"] }
common = { path = "../common" }
console-subscriber = { version = "0.3.0", optional = true }
document = { path = "../document" }
format = { path = "../format" }
kernels = { path = "../kernels" }
is-terminal = "0.4.12"
lsp = { path = "../lsp" }
models = { path = "../models" }
node-execute = { path = "../node-execute" }
node-strip = { path = "../node-strip" }
plugins = { path = "../plugins" }
rustyline = "14.0.0"
secrets = { path = "../secrets" }
self-replace = "1.3.7"
server = { path = "../server" }
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
yansi = "1.0.0"
