[package]
name = "common"
version = "0.0.0"
edition = "2021"

[dependencies]
Inflector = "0.11.4"
async-recursion = "1.0.4"
async-trait = "0.1.68"
base64 = "0.21.0"
chrono = { version = "0.4.24", features = ["serde"] }
clap = { version = "4.1.4", features = ["derive", "color"] }
defaults = "0.2.0"
derivative = "2.2.0"
derive_more = "0.99.17"
dirs = "4.0.0"
eyre = "0.6.8"
futures = "0.3.21"
glob = "0.3.1"
indexmap = { version = "1.9.1", features = ["serde"] }
itertools = "0.10.5"
json5 = "0.4.1"
maplit = "1.0.2"
once_cell = "1.17.1"
regex = "1.6.0"
serde = { version = "1.0.140", features = ["derive", "rc"] }
serde_json = { version = "1.0.95", features = ["preserve_order"] }
serde_with = "2.2.0"
serde_yaml = "0.9.19"
slug = "0.1.4"
strum = { version = "0.24.1", features = ["derive"] }
tempfile = "3.3.0"
tokio = { version = "1.19.2", features = ["full"] }
toml = "0.7.1"
tracing = { version = "0.1.35", features = ["log"] }
