[package]
name = "common"
version = "0.0.0"
edition = "2021"

[dependencies]
Inflector = "0.11.4"
async-recursion = "1.0.4"
async-trait = "0.1.73"
base64 = "0.21.3"
chrono = { version = "0.4.26", features = ["serde"] }
clap = { version = "4.4.1", features = ["derive", "color"] }
darling = "0.20.3"
derivative = "2.2.0"
derive_more = "0.99.17"
dirs = "5.0.1"
eyre = "0.6.8"
futures = "0.3.28"
glob = "0.3.1"
indexmap = { version = "2.0.0", features = ["serde"] }
itertools = "0.11.0"
maplit = "1.0.2"
once_cell = "1.18.0"
proc-macro2 = "1.0.66"
quote = "1.0.33"
regex = "1.9.4"
serde = { version = "1.0.188", features = ["derive", "rc"] }
serde_json = { version = "1.0.105", features = ["preserve_order"] }
serde_with = "3.3.0"
serde_yaml = "0.9.25"
similar = { version = "2.2.1", features = ["unicode"] }
slug = "0.1.4"
smart-default = "0.7.1"
strum = { version = "0.25.0", features = ["derive"] }
syn = "2.0.29"
tempfile = "3.8.0"
tokio = { version = "1.32.0", features = ["full", "tracing"] }
toml = "0.7.6"
tracing = { version = "0.1.37", features = ["log"] }
