[package]
name = "common"
version = "0.0.0"
edition = "2021"

[dependencies]
Inflector = "0.11.4"
async-recursion = "1.0.0"
async-trait = "0.1.56"
base64 = "0.13.0"
chrono = { version = "0.4.22", features = ["serde"] }
chrono-humanize = "0.2.1"
defaults = "0.2.0"
derivative = "2.2.0"
derive_more = "0.99.17"
dirs = "4.0.0"
eyre = "0.6.8"
futures = "0.3.21"
glob = "0.3.0"
indexmap = { version = "1.9.1", features = ["serde"] }
itertools = "0.10.5"
json5 = "0.4.1"
maplit = "1.0.2"
once_cell = "1.13.0"
regex = "1.6.0"
serde = { version = "1.0.140", features = ["derive", "rc"] }
serde_json = { version = "1.0.82", features = ["preserve_order"] }
serde_with = "2.0.0"
serde_yaml = "0.9.11"
slug = "0.1.4"
strum = { version = "0.24.0", features = ["derive"] }
tempfile = "3.3.0"
tokio = { version = "1.19.2", features = ["full"] }
toml = "0.5.9"
tracing = { version = "0.1.35", features = ["log"] }
