[package]
name = "common"
version = "0.0.0"
edition = "2021"

[dependencies]
Inflector = "0.11.4"
async-recursion = "1.1.1"
async-trait = "0.1.81"
bs58 = "0.5.1"
chrono = { version = "0.4.38", features = ["serde"] }
chrono-humanize = "0.2.3"
clap = { version = "4.5.13", features = ["derive", "color"] }
derivative = "2.2.0"
derive_more = "0.99.18"
dirs = "5.0.1"
eyre = "0.6.12"
futures = "0.3.30"
glob = "0.3.1"
indexmap = { version = "2.3.0", features = ["serde"] }
itertools = "0.13.0"
maplit = "1.0.2"
minijinja = { version = "1.0.21", features = ["loader", "json", "debug"] }
once_cell = "1.19.0"
proc-macro2 = "1.0.86"
quote = "1.0.36"
rand = "0.8.5"
regex = "1.10.5"
reqwest = { version = "0.12.5", features = ["json"] }
seahash = "4.1.0"
serde = { version = "1.0.204", features = ["derive", "rc"] }
serde_json = { version = "1.0.120", features = ["preserve_order"] }
serde_with = "3.8.3"
serde_yaml = "0.9.34"
similar = { version = "2.5.0", features = ["serde", "unicode"] }
slug = "0.1.5"
smart-default = "0.7.1"
smol_str = "0.2.1"
strum = { version = "0.26.3", features = ["derive"] }
syn = "2.0.70"
tar = "0.4.41"
tempfile = "3.10.1"
tokio = { version = "1.37.0", features = ["full", "tracing"] }
toml = "0.8.19"
tracing = { version = "0.1.40", features = ["log"] }
type-safe-id = "0.3.0"
uuid = { version = "1.10.0", features = ["v4"]}
which = "6.0.1"
xz2 = "0.1.7"
zip = "0.6.6"
