[package]
name = "common"
version = "0.0.0"
edition = "2021"

[dependencies]
Inflector = "0.11.4"
async-recursion = "1.0.5"
async-trait = "0.1.75"
base64 = "0.21.5"
chrono = { version = "0.4.31", features = ["serde"] }
clap = { version = "4.4.11", features = ["derive", "color"] }
derivative = "2.2.0"
derive_more = "0.99.17"
dirs = "5.0.1"
eyre = "0.6.11"
futures = "0.3.30"
glob = "0.3.1"
indexmap = { version = "2.1.0", features = ["serde"] }
itertools = "0.12.0"
maplit = "1.0.2"
once_cell = "1.19.0"
proc-macro2 = "1.0.71"
quote = "1.0.33"
regex = "1.10.2"
reqwest = { version = "0.11.23", features = ["rustls", "json"], default-features = false }
serde = { version = "1.0.193", features = ["derive", "rc"] }
serde_json = { version = "1.0.108", features = ["preserve_order"] }
serde_with = "3.4.0"
serde_yaml = "0.9.29"
similar = { version = "2.3.0", features = ["unicode"] }
slug = "0.1.5"
smart-default = "0.7.1"
strum = { version = "0.25.0", features = ["derive"] }
syn = "2.0.43"
tempfile = "3.8.1"
tokio = { version = "1.35.1", features = ["full", "tracing"] }
toml = "0.8.8"
tracing = { version = "0.1.40", features = ["log"] }
type-safe-id = "0.2.1"
uuid = "1.6.1"
