[package]
name = "common"
version = "0.0.0"
edition = "2021"

[dependencies]
Inflector = "0.11.4"
async-recursion = "1.1.0"
async-trait = "0.1.78"
base64 = "0.22.0"
bs58 = "0.5.1"
chrono = { version = "0.4.35", features = ["serde"] }
clap = { version = "4.5.3", features = ["derive", "color"] }
derivative = "2.2.0"
derive_more = "0.99.17"
dirs = "5.0.1"
eyre = "0.6.12"
futures = "0.3.30"
glob = "0.3.1"
indexmap = { version = "2.2.6", features = ["serde"] }
itertools = "0.12.1"
maplit = "1.0.2"
minijinja = { version = "1.0.14", features = ["loader", "json", "debug"] }
once_cell = "1.19.0"
proc-macro2 = "1.0.79"
quote = "1.0.35"
rand = "0.8.5"
regex = "1.10.4"
reqwest = { version = "0.12.1", features = ["json"] }
seahash = "4.1.0"
serde = { version = "1.0.197", features = ["derive", "rc"] }
serde_json = { version = "1.0.114", features = ["preserve_order"] }
serde_with = "3.7.0"
serde_yaml = "0.9.33"
similar = { version = "2.4.0", features = ["unicode"] }
slug = "0.1.5"
smart-default = "0.7.1"
smol_str = "0.2.1"
strum = { version = "0.26.2", features = ["derive"] }
syn = "2.0.53"
tar = "0.4.40"
tempfile = "3.10.1"
tokio = { version = "1.36.0", features = ["full", "tracing"] }
toml = "0.8.12"
tracing = { version = "0.1.40", features = ["log"] }
type-safe-id = "0.2.1"
uuid = "1.8.0"
which = "6.0.1"
xz2 = "0.1.7"
zip = "0.6.6"
