.annotation.stencil-text {
  background: #ddd;
  cursor: pointer;
  // color: rgba(255,255,255,0.9);
  // font-size: 13px;
  // font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.annotation.stencil-text.highlighted {
  background: #2B303B;
  color: #fff;
}