.annotation.stencil-text {
  background: #ddd;
  cursor: pointer;
}

.annotation.stencil-text.highlighted {
  background: #2B303B;
  color: #fff;
}

.se-stencil-text {
  .stencil-text-source {
    background: #2B303B;
    color: #fff;
    font-size: 13px;
    padding: 1px;
    vertical-align: middle;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  }
}
