@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic|Source+Code+Pro);

// Substance styles

@import '../node_modules/substance/styles/base/index';

// Basic sheet styling

table {
  font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;

  /* deactivate native selections */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}

td, th {
  min-width: 5em;
  padding: 0.1em 0.2em 0.1em 0.2em;
  border: 1px solid #CCC;
  text-align: center;
}

th {
  background: #EEE;
}

td {
  text-align: right;
}

tr>th:first-child {
  min-width: 3rem;
}

td.display {
  cursor: default;
}

td.display.object {
  position: relative;
  background: #F8F8F8;
  span {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 0.1em 0 0.1em;
    margin: 3px;
    background: #FFE78A;
    font-size: 12px;
  }
  pre {
    text-align: left;
  }
}

td.display.expression {
  background-color: rgba(200, 200, 200, 0.5);
  font-style: italic;
}

td.edit {
  position: relative;
  text-align: left;
  /* deactivate native selections */
  -webkit-user-select: default;
     -moz-user-select: default;
      -ms-user-select: default;
}

td.edit.expression .sc-text-property {
  position: absolute;
  top: 0px;
  bottom: 0px;
  white-space: nowrap !important;
}

.sc-sheet-editor {
  position: relative;
}

.sc-sheet-editor .selection {
  position: absolute;
  pointer-events:none;
  border: 2px solid blue;
  z-index: 1;
}

.sc-sheet-editor.edit .selection {
  display:none;
}