.sc-button.sm-theme-light {
  position: relative;
  height: 28px;
  min-width: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-radius: 14px;
  padding-left: 9px;
  padding-right: 9px;
}

.sc-button.sm-theme-light:hover:not(.sm-active):not([disabled]),
.sc-button.sm-theme-light:focus {
  color: #0071F2;
  background: #F7F7F9;
}

.sc-button.sm-theme-light.sm-active {
  background: #0071F2;
}

.sc-tool-dropdown > .se-choices {
  top: 32px;
}

.sc-menu {
  background: #fff;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #aaa;
}

.sc-menu-item {
  color: inherit;
}

/* HACK: */
.sc-menu-item .se-keyboard-shortcut {
  color: rgba(0,0,0,0.4);
}

.sc-xref {
  color: #0071F2;
  white-space: nowrap;
}

.sc-cell .se-cell-editor-container {
  position: relative;
  background: #F7F7F9;
}

.sc-menu-item:hover {
  background: #F7F7F9;
}

.sc-overlay.sm-theme-dark > .se-active-tools {
  margin: 5px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #aaa;
  color: #444;
}

.sc-overlay.sm-theme-dark::before {
  display: none;
}

.sc-edit-link-tool .sc-input {
  color: inherit;
}

/* HACK: */
.sc-button.sm-theme-dark {
  color: inherit;
}

.sc-ref-preview.sm-selected {
  color: #444;
}
