/*
  All page style goes here. This includes fonts, link colors etc. Everything
  else should live in component scope.
*/

html, body {
  /* Since we use scrollpanes throughout the app, we disable any body overflow */
  overflow: hidden;
  height: 100%;
}

.sc-app {
  height: 100%;
}

body,
input,
textarea {
  color: var(--default-text-color);
  font-family: var(--sans-font-family);
  font-size: var(--default-font-size);
  min-height: 30px;
  line-height: 1.5;
}

.strong,
strong { font-weight: var(--strong-font-weight); }

.emphasis, em { font-style: italic; }


/* Links */
a {
  text-decoration:none;
}
a:focus {
  outline: 1px solid var(--focus-outline-color);
}
button:focus {
  outline: 1px solid var(--focus-outline-color);
}
