:root {
  --sans-font-family: 'Avenir Next', Lato, Helvetica, Arial, Verdana, sans-serif;
  --mono-font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, 'Source Code Pro', monospace;
  --default-cell-padding: 1px 3px;
  --cell-height: 1.5em;
  --cell-width: 8em;

  /* Override Substance variables */
  --local-selection-color: #5CD100; /* Stencila green */
  --dark-bg-color: #2E2E2E;
}
