$sans-font-family: 'Avenir Next', Lato, Helvetica, Arial, Verdana, sans-serif;
$mono-font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, 'Source Code Pro', monospace;
$stencila-green-hue: 93;
$stencila-green-saturation: 90%;
$stencila-green-lightness: 50%;
$z-index-discussion: 100;
