/*
  The Stencila style sheet.

  Includes Stencila page style and all component styles. In some integration
  scenarios you may want to use a lighter configuration, which means you create
  a custom style entry point and use that instead of stencila.css.
*/
@import './_native-imports.css';
@import './_substance-core.css';
@import './_variables.css';
@import './_reset.css';
@import './_overrides.css';

@import './_style-transforms';
@import './_pagestyle.css';
@import '../sheet/_sheet.css';
@import '../shared/_index.css';
@import '../article/_index.css';
@import '../project/_index.css';
@import '../host/_index.css';


/* Texture styles */
@import '../../node_modules/substance-texture/texture.css';

/* Branding overrides */
@import './_branding.css';


/* READER HACKS */

.sc-editor > .se-main-section > .se-toolbar-wrapper {
  display: none !important;
}

.se-ref-list-options {
  display: none !important;
}

.se-ref-actions {
  display: none !important;
}

.sc-authors-list button {
  display: none !important;
}

.sc-editor .sc-container-editor .sc-isolated-node.sm-focused {
  outline: 1px solid transparent;
}

.sc-isolated-node.sm-default-style.sm-selected {
  outline: 1px solid transparent;
}

.sc-isolated-node-blocker {
  display: none !important;
}