@import '../../shared/styles/shared.css';
@import 'prismjs/themes/prism.css';
@import '../../shared/fonts/openSans/openSans.css';

:root {
  --max-width: 650px;
  --max-width-media: 980px;
  --body-font: Helvetica, Arial, sans-serif;
  --body-font-size: 0.8125rem;
  --body-font-weight: 400;
  --secondary-font: 'Open Sans', Helvetica, Arial, sans-serif;
  --secondary-font-weight: 600;
  --text-color: #202020;
  --light-text-color: #606060;
  --link-color: #16a127;
  --hover-color: #202020;
  --border-color: #e0e0e0;
  --figure-bg-color: #efefef;
  --bg-color: #fff;
}

/* Microdata-based Styles */
@import '../../designa/Entity.css';
@import '../../designa/Person.css';

:--Article {
  > :--headline + div {
    max-width: var(--max-width);
    margin: 0 auto 1.25rem;
    font-size: var(--body-font-size);
    color: var(--light-text-color);
    line-height: normal;

    :--authors {
      @mixin list-separated;
    }

    :--organizations {
      @mixin list-separated '; ';

      margin-top: 1.25rem;
      display: block;

      :--Organization > * {
        display: inline;
      }
    }
  }
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: var(--body-font);
  line-height: 120%;
  margin: auto;
  max-width: 69.625rem;
  padding: 0 7%;
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

article > * {
  width: 100%;

  /*
    Align miscelaneous nodes (text, math, etc) with
    the rest of article.
  */
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
hr,
blockquote,
a,
figure,
table,
article > pre,
article > pre[class*='language-'],
:--CodeChunk {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.125rem;
  font-weight: var(--body-font-weight);
  font-family: var(--body-font);
  margin: 2rem auto 1.125rem;
}

h1 {
  font-size: 1.25rem;
  line-height: 1.24138;
  margin-bottom: 1.5rem;
  padding-top: 3rem;
}

article > h1:--headline {
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weight);
  font-size: 1.625rem;
  line-height: 27px;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

h2,
h3 {
  font-weight: var(--secondary-font-weight);
}

h2 {
  line-height: 1.15385;
  padding: 1.3125rem 0;
}

h3 {
  line-height: 1.09091;
  padding: 0.75rem 0;
}

h6,
small,
.text_small {
  font-size: 0.8125rem;
  line-height: 1.84615;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 0;
  }
}

p {
  margin: 0 auto 1.25rem;
  font-size: var(--body-font-size);
  line-height: 1.125rem;

  & + h1,
  & + h2 {
    margin-top: 2.25rem;
  }

  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 3.75rem;
    position: relative;
  }
}

a:link,
a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
}

ol,
ul {
  padding: 0;

  & ul,
  & ol {
    padding-left: 1rem;
  }

  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 1.75rem;
  }
}

li {
  > *:first-child {
    margin-top: 0;
  }
}

figure,
:--CodeChunk {
  font-family: var(--body-font);
  margin: 1.25rem auto;
  overflow: auto;
  background-color: var(--figure-bg-color);

  > figure {
    margin: 0 auto;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 1.125rem;
  }
}

figcaption {
  font-size: 0.8125rem;
  width: 100%;
  padding: 0 1.125rem 1.125rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--secondary-font-weight);
    line-height: 1.84615;
  }

  *:last-child {
    margin-bottom: 0;
  }

  *:first-child {
    margin-top: 0;
  }
}

table {
  border-collapse: collapse;
  font-size: 80%;
  overflow-x: auto;
  margin-bottom: 1.5rem;
}

thead,
tbody:first-child tr:first-child {
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.38462;
  vertical-align: top;
}

th,
tbody:first-child tr:first-child {
  background-color: #f7f7f7;
}

th,
td {
  vertical-align: top;
  border: 1px solid var(--border-color);
  padding: 0.375rem;
}

blockquote {
  font-style: italic;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 380px) {
  ul,
  ol {
    padding-left: 1.25rem;
  }
}

@media only all and (min-width: 45.625em) {
  body {
    padding-left: 14%;
    padding-right: 14%;
  }
}

/* Microdata-based Styles */
:--references {
  /* PLoS Citation Styles */
  list-style: none;
  counter-reset: reference-counter;
  padding: 0;
  font-family: var(--heading-font);

  > li {
    position: relative;
    counter-increment: reference-counter;
    line-height: 1.71429;
    margin-bottom: 0.75rem;
    padding-left: 3rem;

    &::before {
      content: counter(reference-counter) '.';
      display: inline-block;
      font-weight: var(--secondary-font-weight);
      text-align: right;
      position: absolute;
      margin: 0 -2rem;
      width: 22px;
    }
  }

  :--CreativeWork > :--headline {
    &:first-of-type {
      display: none;
    }

    + div {
      display: inline;

      + :--datePublished {
        display: none;
      }
    }
  }

  :--authors + :--datePublished {
    display: none;
  }

  :--datePublished + :--headline {
    display: inline;

    &::after {
      content: '. ';
      white-space: pre;
    }
  }

  :--PublicationIssue {
    :--headline {
      &::after {
        content: '. ';
        white-space: pre;
      }
    }

    :--headline + :--datePublished {
      &:not(:last-child)::after {
        content: ';';
        white-space: pre;
      }

      &:last-child::after {
        content: '.';
        white-space: pre;
      }
    }
  }

  :--description {
    li {
      &::after {
        content: ' • ';
        white-space: pre;
      }
    }
  }

  :--authors {
    :--Person {
      :--familyName {
        order: 1;

        &::after {
          content: ' ';
          white-space: pre;
        }
      }

      :--givenName {
        order: 2;

        &::after {
          content: ', ';
          white-space: pre;
        }
      }

      &:last-of-type {
        :--familyName::after {
          content: ' ';
          white-space: pre;
        }

        :--givenName::after {
          content: '.';
          white-space: pre;
        }
      }
    }
  }

  :--datePublished {
    &::before {
      content: normal;
    }

    &:last-child::after {
      content: '.';
    }
  }
}
