@import '../../shared/styles/shared.css';
@import 'prismjs/themes/prism.css';
@import '../../shared/fonts/openSans/openSans.css';
@import '../../shared/styles/types/Person.css';

/* Microdata-based Styles */
@import '../../designa/Entity.css';
@import '../../designa/Person.css';

:--Article {
  --bg-color: #fff;
  --body-font-size: var(--font-size-body);
  --body-font-weight: 400;
  --body-font: Helvetica, Arial, sans-serif;
  --border-color: #e0e0e0;
  --figure-bg-color: #efefef;
  --font-size-body: 13px;
  --font-size-headline: 26px;
  --font-size-heading: 20px;
  --font-size-80: 80%;
  --hover-color: #202020;
  --light-text-color: #606060;
  --link-color: #16a127;
  --max-width-media: 980px;
  --max-width: 650px;
  --secondary-font-weight: 600;
  --secondary-font: 'Open Sans', Helvetica, Arial, sans-serif;
  --text-color: #202020;

  * {
    box-sizing: border-box;
  }

  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--font-size-body);
  line-height: 120%;
  margin: 0 auto 4rem auto;
  max-width: 69.625rem;
  padding: 0 7%;

  @media only screen and (min-width: 45.625em) {
    padding-left: 14%;
    padding-right: 14%;
  }

  a,
  :--Link {
    &:link,
    &:visited {
      color: var(--link-color);
    }

    &:hover {
      color: var(--hover-color);
    }
  }
}

:--Article > span {
  display: block;
}

:--Article > * {
  /*
    Align miscelaneous nodes (text, math, etc) with
    the rest of article.
  */
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

:--Paragraph,
:--Heading,
:--headline,
:--List,
:--Collection,
:--ThematicBreak,
:--QuoteBlock,
:--Figure,
:--Table,
:--CodeBlock,
:--CodeChunk {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

:--Heading,
:--headline {
  line-height: 1.125rem;
  font-weight: var(--body-font-weight);
  font-family: var(--body-font);
  margin: 2rem auto 1.125rem;

  & + & {
    margin-top: 0;
  }
}

h1:--Heading {
  font-size: var(--font-size-headline);
  line-height: 1.24138;
  margin-bottom: 1.5rem;
  padding-top: 3rem;
}

:--Article > :--headline {
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weight);
  font-size: var(--font-size-headline);
  line-height: 27px;
}

h2:--Heading,
h3:--Heading,
h4:--Heading,
h5:--Heading {
  font-size: var(--font-size-heading);
  line-height: 0.9;
}

h2:--Heading {
  padding: 1.3125rem 0;
}

h3:--Heading {
  padding: 0.75rem 0;
}

h6:--Heading {
  font-size: var(--font-size-body);
  line-height: 1.84615;
}

:--Paragraph {
  margin: 0 auto 1.25rem;
  font-size: var(--body-font-size);
  line-height: 1.125rem;

  & + h1:--Heading,
  & + h2:--Heading {
    margin-top: 2.25rem;
  }

  & + h3:--Heading,
  & + h4:--Heading,
  & + h5:--Heading,
  & + h6:--Heading {
    margin-top: 3.75rem;
    position: relative;
  }
}

:--List,
:--Collection {
  padding-left: 1.25rem;

  @media screen and (min-width: 380px) {
    padding: 0;
  }

  & & {
    padding-left: 1rem;
  }

  & + h3:--Heading,
  & + h4:--Heading,
  & + h5:--Heading,
  & + h6:--Heading {
    margin-top: 1.75rem;
  }
}

:--ListItem {
  > *:first-child {
    margin-top: 0;
  }
}

:--Figure,
:--CodeChunk {
  font-family: var(--body-font);
  margin: 1.25rem auto;
  overflow: auto;
  background-color: var(--figure-bg-color);

  > figure {
    margin: 0 auto;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 1.125rem;
  }
}

:--caption,
:--Figure figcaption {
  font-size: var(--font-size-body);
  width: 100%;
  padding: 0 1.125rem 1.125rem;

  :--Heading,
  :--headline {
    font-weight: var(--secondary-font-weight);
    line-height: 1.84615;
  }

  *:last-child {
    margin-bottom: 0;
  }

  *:first-child {
    margin-top: 0;
  }
}

:--Table {
  border-collapse: collapse;
  font-size: var(--font-size-80);
  overflow-x: auto;
  margin-bottom: 1.5rem;

  thead,
  tbody:first-child tr:first-child {
    font-weight: bold;
    font-size: var(--font-size-body);
    line-height: 1.38462;
    vertical-align: top;
  }

  th,
  tbody:first-child tr:first-child {
    background-color: var(--figure-bg-color);
  }

  th,
  td {
    vertical-align: top;
    border: 1px solid var(--border-color);
    padding: 0.375rem;
  }
}

:--QuoteBlock {
  font-style: italic;
  margin-bottom: 1.5rem;
}

:--authors,
:--organizations {
  color: var(--light-text-color);
  font-size: var(--body-font-size);
  line-height: normal;
  list-style: none;
  margin: 0 auto 1.25rem;
  max-width: var(--max-width);
  padding: 0;

  & > li {
    display: inline;
  }
}

:--authors {
  li:--author:not(:last-child) {
    content: ', ';
  }
}

:--organizations {
  margin-top: 1.25rem;
  display: block;

  :--Organization > * {
    display: inline;
  }
}

/* Microdata-based Styles */
:--references > ol {
  /* PLoS Citation Styles */
  list-style: none;
  counter-reset: reference-counter;
  padding: 0;
  font-family: var(--heading-font);

  > li {
    position: relative;
    counter-increment: reference-counter;
    line-height: 1.71429;
    margin-bottom: 0.75rem;
    padding-left: 3rem;

    &::before {
      content: counter(reference-counter) '.';
      display: inline-block;
      font-weight: var(--secondary-font-weight);
      text-align: right;
      position: absolute;
      margin: 0 -2rem;
      width: 22px;
    }
  }

  :--headline {
    color: inherit;
    display: inline;
    font-size: inherit;

    &:first-of-type {
      display: none;
    }

    + div {
      display: inline;

      + :--datePublished {
        display: none;
      }
    }
  }

  :--authors,
  :--organizations {
    color: var(--text-color);
  }

  :--authors + :--datePublished {
    display: none;
  }

  :--datePublished + :--headline {
    display: inline;

    &::after {
      content: '. ';
      white-space: pre;
    }
  }

  :--PublicationIssue {
    :--headline {
      &::after {
        content: '. ';
        white-space: pre;
      }
    }

    :--headline + :--datePublished {
      &:not(:last-child)::after {
        content: ';';
        white-space: pre;
      }

      &:last-child::after {
        content: '.';
        white-space: pre;
      }
    }
  }

  :--description {
    li {
      &::after {
        content: ' • ';
        white-space: pre;
      }
    }
  }

  :--authors {
    :--Person {
      :--familyName {
        order: 1;

        &::after {
          content: ' ';
          white-space: pre;
        }
      }

      :--givenName {
        order: 2;

        &::after {
          content: ', ';
          white-space: pre;
        }
      }

      &:last-of-type {
        :--familyName::after {
          content: ' ';
          white-space: pre;
        }

        :--givenName::after {
          content: '.';
          white-space: pre;
        }
      }
    }
  }

  :--datePublished {
    &::before {
      content: normal;
    }

    &:last-child::after {
      content: '.';
    }
  }
}
