:--root {
  /* Colors */
  --color-text-secondary: #888;

  /* Typography */
  --text-size-rem-small: 0.6875;
  --letter-spacing: 0.5px;

  /* Spacing */
  --baseline-measure: 1.5;
  --baseline-measure-rem: 1.5rem;
}
