:--root {
  /* Some names are based on those in https://github.com/elifesciences/pattern-library/blob/develop/assets/sass/_variables.scss

    - All rem sizes assume a base font size of 16px

    - A unitless numerical value is an expression of rem, unless otherwise stated, e.g. in:

       --text-size-small: 0.6875;

      0.6875 is a measure of rem

    - A name containing a unit has that unit as part of its value, e.g.:

       --text-size-small-rem: calc(var(--text-size-small) * 1rem);

     */

  /* Colors */
  --color-primary: #0288d1;
  --color-text: #212121;
  --color-text-secondary: #888;
  --color-text-ui-background: #fff;

  /* Typography */
  --text-size-default-rem: calc(1 * 1rem); /* 16px */
  --text-size-small: 0.6875; /* 11px */
  --text-size-small-rem: calc(var(--text-size-small) * 1rem);
  --text-size-medium-rem: calc(0.875 * 1rem); /* 14px */
  --text-size-main-title--narrower-viewports: 1.8125; /* 29px */
  --text-size-main-title--wider-viewports: 2.25; /* 36px */
  --letter-spacing: 0.5px;

  /* Spacing */
  --block-height-main-title--narrower-viewports: 2.25; /* 36px */
  --block-height-main-title--wider-viewports: 3; /* 48px */
  --block-size-download-icon-px--narrower-viewports: 20px;
  --block-size-download-icon-px--wider-viewports: 44px;
  --baseline-measure: 1.5;
  --baseline-measure-rem: calc(var(--baseline-measure) * 1rem);

  /* Images */
  --url-download-icon--narrower-viewports: url('https://elifesciences.org/assets/patterns/img/icons/download.ecfa2d98.svg');
  --url-download-icon--wider-viewports: url('https://elifesciences.org/assets/patterns/img/icons/download-full.6691999e.svg');
}

/* PostCSS Custom Media Queries */

@custom-media --medium-viewport (min-width: 45.625em);
@custom-media --medium-viewport-max (max-width: 45.625em);
