@import '../../shared/styles/shared.css';
@import 'prismjs/themes/prism.css';
@import '../../shared/fonts/notoSerif/notoSerif.css';
@import '../../shared/fonts/notoSans/notoSans.css';

:root {
  --max-width: 650px;
  --max-width-media: 980px;
  --heading-font: 'Noto Sans', Arial, Helvetica, sans-serif;
  --body-font: 'Noto Serif', serif;
  --text-color: #212121;
  --bg-color: #fff;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: var(--body-font);
  line-height: 1.65;
  margin: auto;
  max-width: 69.625rem;
  padding: 0 7%;
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

article > * {
  width: 100%;

  /*
    Align miscelaneous nodes (text, math, etc) with
    the rest of article.
  */
  max-width: var(--max-width);
}

p,
h1:--headline,
h1:not(:--headline),
h2,
h3,
h4,
h5,
ul,
ol,
hr,
blockquote,
a,
figure,
table,
article > pre,
article > pre[class*='language-'],
img,
:--CodeChunk {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

h1:--headline,
h1:not(:--headline),
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: 600;
  margin: 2.75rem auto 1rem;
  line-height: 1.25;
}

p {
  & + h1:--headline,
  & + h1:not(:--headline) {
    margin-top: 2.25rem;
  }

  & + h2,
  & + h3,
  & + h4,
  & + h5 {
    margin-top: 3.75rem;
    position: relative;
  }
}

ol,
ul {
  & + h2,
  & + h3,
  & + h4,
  & + h5 {
    margin-top: 1.75rem;
  }
}

li > *:first-child {
  margin-top: 0;
}

article > figure,
body > figure,
main > figure {
  font-family: var(--heading-font);
  margin: 3rem auto;
  overflow: auto;

  > figure {
    margin: 0 auto;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px solid #e0e0e0;
    padding: 0.75rem;
  }
}

figcaption {
  font-size: 0.8125rem;
  width: 100%;
  margin-top: 0.75rem;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0.75rem;
  }

  h1:--headline,
  h1:not(:--headline),
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.84615;
    font-size: 0.8125rem;
  }
}

:--CodeChunk {
  border: 1px solid #e0e0e0 !important;
  margin: 3rem auto;
  padding: 0.75rem;

  img {
    max-width: 100%;
  }
}

p {
  margin: 0 auto 1.25rem;
}

a:link,
a:visited {
  border-bottom: 1px dotted var(--text-color);
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  border-bottom-color: #0288d1;
  color: #0288d1;
}

h1:--headline,
h1:not(:--headline) {
  padding-top: 3rem;
}

h1:--headline {
  text-align: center;
  font-size: 1.8125rem;
  line-height: 1.24138;
  margin-bottom: 1.5rem;
}

h1:not(:--headline) {
  border-top: 1px solid #e0e0e0;
  font-size: 1.625rem;
  line-height: 1.15385;
  padding: 1.3125rem 0;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.09091;
  padding: 0.75rem 0;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  margin-top: 2rem;
}

h5,
small,
.text_small {
  font-size: 0.8125rem;
  line-height: 1.84615;
}

h1:--headline,
h1:not(:--headline),
h2,
h3,
h4,
h5 {
  & + h1:--headline,
  & + h1:not(:--headline),
  & + h2,
  & + h3,
  & + h4,
  & + h5 {
    margin-top: 0;
  }
}

ul,
ol {
  padding: 0;

  & ul,
  & ol {
    padding-left: 1rem;
  }
}

table {
  border-collapse: collapse;
  font-size: 80%;
  overflow-x: auto;
  margin-bottom: 1.25rem;
  font-family: var(--heading-font);
}

th,
td {
  vertical-align: top;
  border: 1px solid #e0e0e0;
  padding: 0.375rem;
}

thead,
tbody:first-child tr:first-child {
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.38462;
  vertical-align: top;
  text-align: center;
}

th,
tbody:first-child tr:first-child {
  background-color: #f7f7f7;
}

blockquote {
  font-style: italic;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 380px) {
  ul,
  ol {
    padding-left: 1.25rem;
  }
}

@media only all and (min-width: 45.625em) {
  body {
    padding-left: 14%;
    padding-right: 14%;
  }

  h1:--headline {
    font-size: 2.25rem;
    line-height: 1.33333;
  }
}

@media only all and (min-width: 56.25em) {
  h1:--headline {
    font-size: 2.875rem;
    line-height: 1.56522;
  }
}

/* Microdata-based Styles */
@import '../../designa/Entity.css';
@import '../../designa/Person.css';

:--Article {
  @mixin CreativeWork;

  > :--headline + div {
    text-align: center;
    font-family: var(--heading-font);

    :--authors {
      @mixin list-separated;

      display: block;
      margin: 0 auto;
    }

    :--organizations {
      @mixin list-separated '; ';

      font-size: 14px;

      :--Organization > * {
        display: inline;
      }
    }
  }
}

:--references {
  /* eLife Citation Styles */
  list-style: none;
  counter-reset: reference-counter;
  padding: 0;
  font-family: var(--heading-font);

  > li {
    position: relative;
    counter-increment: reference-counter;
    font-size: 0.875rem;
    line-height: 1.71429;
    margin-bottom: 0.75rem;
    padding-left: 3rem;

    &::before {
      content: counter(reference-counter);
      display: inline-block;
      text-align: right;
      font-size: 1rem;
      font-weight: 600;
      position: absolute;
      margin: 0 -2rem;
    }
  }

  :--CreativeWork {
    > :--headline:first-of-type {
      display: block;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 600;
      border-bottom: none;
    }

    > :--headline + div {
      /*
        Allow datePublished and authors to be listed
        on the same line.
      */
      display: inline;
    }
  }

  :--PublicationIssue,
  :--description {
    font-family: var(--body-font);
  }

  :--headline + :--datePublished {
    display: none;
  }
}
