/**
 * Ideally use import as below, but currently encounters build issues,
 * and inability to install as NPM package due to missing package version number.
 * @import 'eLife-pattern-library/assets/sass/build.scss';
 * due to the above issues we import and inline the built CSS file from the web
 */
@import 'https://elifesciences.org/assets/patterns/css/all.502a7c3d.css';

/**
 * Ensure fonts still resolve when not viewed on ELife website
 * This could potentially be extracted into a separate file, for more granular imports
 */
@import '../../fonts/notoSerif/notoSerif.css';
@import '../../fonts/notoSans/notoSans.css';

@import '../../extensions/person/styles.css';
@import '../../extensions/math/styles.css';

@import 'customProperties.css';

/* @extend-ing eLife's CSS may not take into account the cascade of styles
 * applied to an element upstream of the extended style. Add @mixins here for such styles
 * that apply to more than one element, that would otherwise be missed. */
@define-mixin inline-list {
  list-style: none;
  padding: 0;
}

@define-mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  user-select: none;
}

:--root {
  @extend .wrapper;
  @extend .content-container;
  @extend .grid__item;

  float: none;
  padding-left: 7%;
  padding-right: 7%;

  @extend .grid-column;

  --main-title-font-size: var(--text-size-main-title-rem--narrower-viewports);
}

@media only screen and (--medium-viewport) {
  :--root {
    padding-left: 3%;
    padding-right: 3%;

    --main-title-font-size: var(--text-size-main-title-rem--wider-viewports);
  }
}

:--Article {
  & :--authors {
    @extend .content-header__author_list;

    :--Person {
      @extend .content-header__author_list_item;

      font-size: var(--text-size-medium-rem);

      :--familyName::after {
        content: ', ';
      }

      &:last-child {
        :--familyName::after {
          content: '';
        }
      }

      :--emails::after {
        /* TODO: update to local dependency once eLife assets are available as npm module */
        content: url('https://elifesciences.org/assets/patterns/img/icons/corresponding-author@1x.89247d49.png');
      }
    }

    /* Hide until requirement is established */
    :--affiliations {
      display: none;
    }
  }

  & :--affiliations {
    @mixin inline-list;
    @extend .content-header__institution_list;

    margin-bottom: var(--baseline-measure-rem);

    :--Organization {
      display: inline;

      :--name,
      :--address {
        @extend .content-header__institution_list_item;
      }

      & :--address::after {
        content: '; ';
      }

      &:last-child :--address::after {
        content: '';
      }

      :--addressCountry::before {
        content: ' ';
      }
    }
  }

  /* Hide article metadata */
  & > :--identifiers {
    display: none;
  }

  & :--references {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;

    ol {
      counter-reset: item;
      list-style-type: none;
    }

    :--reference {
      display: block;
      font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
      font-size: var(--text-size-medium-rem);
      margin-right: 2.5rem;
      margin-bottom: 0.75rem;

      &::before {
        content: counter(item) ' ';
        counter-increment: item;
        font-weight: bold;
        float: left;
        margin-left: -2.5rem;
        text-align: right;
      }

      :--title {
        display: block;
        font-size: var(--text-size-default-rem);
        font-weight: bold;
      }

      :--authors {
        display: inline;
      }

      :--datePublished {
        display: inline-block;

        &::before {
          content: ' (';
        }

        &::after {
          content: ')';
        }
      }

      :--name {
        font-style: italic;

        &::before {
          content: '\A';
          white-space: pre;
        }
      }

      :--volumeNumber {
        font-weight: bold;

        &::after {
          content: ':';
        }
      }

      :--pageEnd::before {
        content: '-';
      }
    }
  }

  & .download-link-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: calc(var(--baseline-measure-rem) / 2);

    & > .download-link {
      flex: 0 0 20px;
      height: 20px;
      background: url('https://elifesciences.org/assets/patterns/img/icons/download.ecfa2d98.svg')
        transparent no-repeat;

      & > .download-link-text {
        @mixin visuallyhidden;
      }
    }
  }

  & .downloads {
    --link-color: var(--color-text);

    ul {
      margin-top: 0;
      margin-bottom: var(--baseline-measure-rem);

      li {
        font-size: var(--text-size-default-rem);

        a {
          background-color: var(--color-text-ui-background);
          color: var(--link-color);
          border-bottom: 1px dotted var(--color-text);
          text-decoration: none;

          &:hover {
            --link-color: var(--color-primary);

            border-bottom-color: var(--color-primary);
          }
        }
      }
    }
  }

  & .social-sharers {
    height: 20px;
    text-align: center;

    /* Added 4px because height of social sharer link is 20px instead of 24px; */
    margin-bottom: calc(var(--baseline-measure-rem) + 4px);

    & .social-sharer-link {
      display: inline-block;
      margin: 0 8px;
      padding: 3px 0 1px;
      width: 24px;
      height: 24px;
      text-align: center;
      border-radius: 3px;
      background-color: rgb(33, 33, 33);
      fill: var(--color-text-ui-background);
      stroke: none; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
      transition: 25ms ease-in-out;

      &:hover {
        background-color: var(--color-primary);
      }

      & > svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  /* Target the 'content header' at the top of the article */
  &:not(:--reference) {
    & > :--title,
    & > :--authors,
    & > :--affiliations,
    & > :--datePublished {
      text-align: center;
    }

    & > :--title {
      font-size: var(--main-title-font-size);
      line-height: calc(36 / 29);
      margin-bottom: var(--baseline-measure-rem);
    }

    & > :--datePublished {
      color: var(--color-text-secondary);
      display: block;
      font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
      font-size: var(--text-size-small-rem);
      letter-spacing: var(--letter-spacing);
      line-height: calc(var(--baseline-measure) / var(--text-size-small));
      text-align: center;
      text-transform: capitalize;
    }
  }
}

/* Visually hide 'content header' affiliations at narrower viewports, maintaining vertical whitespace */
@media screen and (--medium-viewport-max) {
  /* Target the 'content header' at the top of the article */
  :--Article:not(:--reference) {
    & > :--authors {
      margin-bottom: var(--baseline-measure-rem);
    }
    & :--affiliations {
      @mixin visuallyhidden;
    }
  }
}

@media screen and (--medium-viewport) {
  :--Article {
    & .download-link-wrapper .download-link {
      flex-basis: 44px;
      height: 44px;
      background-image: url('https://elifesciences.org/assets/patterns/img/icons/download-full.6691999e.svg');
    }

    /* Target the 'content header' at the top of the article */
    &:not(:--reference) > :--title {
      line-height: calc(48 / 36);
    }
  }
}
