/* Integer Value */
.sc-document-editor .sc-integer-value {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

/* Number Value */
.sc-document-editor .sc-number-value {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.sc-document-editor .sc-float-value.sm-has-errors,
.sc-string-value.sm-has-errors,
.sc-table-value.sm-has-errors,
.sc-integer-value.sm-has-errors,
.sc-array-value.sm-has-errors {
  opacity: 0.3;
}

/* Table Value */
.sc-table-value {
  margin-top: 20px;
}

/* String Value */
.sc-document-editor .sc-string-value {
  padding-top: 20px;
  font-size: 16px;
  color: #ad0000;
  text-align: center;
}

/* Array Value */
.sc-document-editor .sc-array-value {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.sc-document-editor .sc-array-value .se-array-item {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 2px 5px;
  margin-right: 2px;
}

/*.sc-document-editor .se-default-value {
  margin-top: 20px;
  font-size: 16px;
  color: #444;
  text-align: center;
}*/
