.sc-repro-fig {
  border: 1px solid #ddd;
  padding: 20px;
}

.sc-repro-fig > .se-label {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 10px;
}

.sc-repro-fig .se-title {
  padding-top: 20px;
  font-weight: 600;
}

/* Use a super bold font weight */
.sc-repro-fig .se-title .sc-bold {
  font-weight: 900;
}
