:host {
  @apply inline-block list-none h-full border border-solid border-t-0 border-l-0 border-b border-r text-xs text-center leading-none flex-1 flex-grow-0 border z-10;
  background: var(--color-neutral-50);
  color: var(--color-key);
  border-color: var(--color-neutral-200);

  &.isActive {
    background: var(--color-stock);
    border-bottom-color: var(--color-stock);
    box-shadow: inset 0px 3px var(--color-brand);
  }

  & > * {
    @apply align-middle;
  }

  &:hover,
  &:focus {
    &:not(.isActive) {
      background: var(--color-neutral-100);
    }

    .closeTabIcon {
      @apply opacity-100;
    }
  }

  li {
    @apply list-none;
  }

  button {
    @apply text-current text-xs whitespace-nowrap border-0 bg-transparent flex align-middle flex-row flex-nowrap items-center  pl-1 pr-11 py-2;
  }

  &.userOS-Linux,
  &.userOS-Windows_NT {
    button {
      @apply flex-row-reverse pr-1 pl-11;
    }
  }

  &.unwritten stencila-icon.documentStatusIcon {
    @apply opacity-100;
    color: var(--color-neutral-400);
  }
}

stencila-icon.documentStatusIcon {
  --height: 0.85em;
  --width: 0.85em;
  @apply mr-2 text-sm opacity-0;
}

.closeTabIcon {
  @apply opacity-0 rounded-sm mr-1;

  &:hover,
  &:active {
    color: var(--color-neutral-100);
    background: var(--color-neutral-600);
  }
}

a,
a:link,
a:visited {
  @apply block no-underline whitespace-nowrap leading-none text-current flex-grow cursor-default;
  padding-right: 1.675rem;
}
