@mixin math-colors($hue) {
  background: hsl($hue, 100%, 90%);
  border-bottom: 1px solid hsl($hue, 100%, 80%);
  color: hsl($hue, 100%, 40%);
}

.sc-math {

  // Turn of slection highlighting of
  // individual math elements.
  *::selection {
    background: none;
  }

  &.sm-error {
    // Not displayed
    display: none;
  }

}

&.sm-reveal .sc-math {

  &.sm-error {
    @include math-colors(0);
    display: inherit;
  }

}

&.sc-code-editor .sc-math {
  color: hsl(90, 100%, 50%);

  div {
    display: inline;
  }
}
