[package]
name = "models-ollama"
version = "0.0.0"
edition = "2021"

[dependencies]
cached = { workspace = true }
model = { path = "../model" }
ollama-rs = { version = "0.2.2", features = ["rustls", "stream"] }

[lints]
workspace = true
