[package]
name = "stencila-models-ollama"
version = "0.0.0"
edition = "2024"

[dependencies]
Inflector = { workspace = true }
cached = { workspace = true }
# Ensure that rustls is used to avoid adding a dependence on OpenSSL
ollama-rs = { version = "0.3.3", default-features = false, features = [
    "rustls",
    "stream",
] }
stencila-model = { path = "../model" }
tracing = { workspace = true }

[dev-dependencies]
tokio = { workspace = true }

[lints]
workspace = true
