@import '../../extensions/cite-apa/styles.css';
@import '../../extensions/code/styles.css';
@import '../../extensions/math/styles.css';
@import '../../extensions/pages/styles.css';
@import '../../extensions/person/styles.css';
@import '../../extensions/organization/styles.css';
@import 'tufte-css/tufte.min.css';

:--root {
  --font-family-body: et-book, palatino, 'Palatino Linotype', 'Palatino LT STD',
    'Book Antiqua', georgia, serif;
  --font-family-display: var(--font-family-body);
  --font-size-body: 13pt;
  --font-size-inline-code: 0.825rem;
  --font-size-80: 80%;
  --font-size-90: 90%;
  --font-size-110: 110%;
  --spacer-md: 1em;
  --spacer-lg: 3em;
  --max-width: 55%;
  --max-width-media: 90%;

  /*
   * Color for font. Added as a variable for customization.
   * Default value is that in Tufte CSS
   */
  --color-key: #111;
  --color-stock: #fffff8;
  --color-stock-pure: #fff;

  /*
   * Color variables based off the hue used by Tufte CSS for background
   */
  --color-neutral-50: var(--color-stock);
  --color-neutral-100: #e3e3dd;
  --color-neutral-200: #e3e3dd;
  --color-neutral-300: #9a9a96;
  --color-neutral-400: #4e4e4c;
  --color-neutral-500: #78786d;

  background-color: var(--color-stock);
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  color: var(--color-key);

  > :--authors {
    padding-left: 0;
    max-width: var(--max-width);

    :--author,
    :--Organization {
      :--emails::after,
      :--members::before {
        color: var(--color-key);
        font-size: var(--font-size-80);
        font-style: italic;
        line-height: 1;
        vertical-align: super;
      }

      :--emails::after {
        content: '\00a0 Email';
      }

      :--members::before {
        content: '\00a0 Members';
      }
    }
  }

  > :--authors :--author :--affiliations :--affiliation {
    font-size: var(--font-size-80);
  }
}

button {
  font-weight: normal;
}

stencila-toolbar {
  --background: var(--color-stock);

  border-bottom: 1px solid var(--color-neutral-300);
}

:--CodeChunk {
  --background: var(--color-stock-pure);
}

:--title {
  max-width: var(--max-width);
}

:--content {
  > * {
    max-width: var(--max-width-media);
  }

  > :not(:--MediaTypes) {
    max-width: var(--max-width);
  }

  > :--Heading {
    margin-top: 5rem;

    & + :--Heading {
      margin-top: 0;
    }
  }

  > :--datePublished {
    display: block;
    width: 20em;
    margin: 0 auto;
    text-align: center;
    font-size: var(--font-size-110);
  }

  > [data-itemprop='about'],
  > [data-itemprop='genre'],
  > :--identifiers,
  > :--keywords {
    display: none;
  }

  > :--identifiers {
    display: none;
  }

  :--Figure,
  :--Table {
    margin: var(--spacer-lg) auto 0 0;
    max-width: 90%;

    :--ImageObject {
      display: block;
      max-height: 700px;
      margin-left: auto;
      margin-right: auto;
    }

    figcaption,
    caption {
      margin-left: auto;
      margin-right: auto;

      > * {
        text-align: justify;
        font-size: var(--font-size-90);
        line-height: 150%;
      }
    }
  }

  figure {
    [slot='label'],
    figcaption {
      padding: 0 var(--spacer-md);
      max-width: var(--max-width);
    }
  }

  > :--references {
    :--reference {
      margin-top: var(--spacer-md);
    }
  }

  code,
  :--CodeExpression,
  output,
  :--CodeExpression > output {
    font-size: var(--font-size-inline-code) !important;
    line-height: 1 !important;
    vertical-align: middle;
    vertical-align: text-bottom;
  }

  /*
  * The Tufte style has several rules for offset sections and figures.
  * But those don't work very well with the HTML that Encoda generates.
  * The following rules override those styles for a more traditional
  * single column layout.
  */

  section > p,
  section > footer,
  section > table,
  section > ol,
  section > ul,
  pre > code {
    width: inherit;
  }

  figure,
  figcaption {
    max-width: 100%;
    float: none;
  }
}
