@import '../skeleton/styles.css';

:--root {
  --max-width: 800px;
  --max-width-media: 800px;
  --font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-title: var(--font-family-sans);
  --font-family-body: var(--font-family-sans);
  --font-family-display: var(--font-family-sans);
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-size-90: 0.9em;
  --font-size-80: 0.8em;
  --font-size-75: 0.75em;
  --font-size-h1: 26px;
  --font-size-h2: 21px;
  --font-size-h3: 19px;
  --font-size-h4: 18px;
  --font-size-h5: 17px;
  --font-size-h6: 16px;
  --font-size-body: 16px;
  --font-size-em: 1em;
  --color-brand: #3d913a;
  --color-stock: #fff;
  --color-accent: #22749b;
  --color-key: #000000bd;
  --color-headings: #333;
  --color-secondary: #212a34;
  --color-secondary-dark: #151b21;
  --color-primary-100: var(--color-brand);
  --color-primary-light: var(--color-brand);
  --color-neutral-100: #f4f6f7;
  --color-neutral-200: #f4f6f7;
  --color-neutral-300: #e6e6e6;
  --color-neutral-400: #e4e4e4;
  --color-neutral-500: #adadad;
  --color-neutral-600: #a2a2a2;
  --color-neutral-700: #909090;
  --color-neutral-800: #888;
  --color-neutral-900: #666;

  stencila-executable-document-toolbar {
    --background: var(--color-brand);

    .sc-stencila-toolbar-default {
      max-width: var(--max-width);
      margin: 0 auto;
    }

    &[position='fixed'] + * {
      margin-top: 3rem;
    }

    .executableDocumentStatus {
      color: var(--color-stock) !important;
    }
  }

  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.7em;

  & > :--title {
    color: var(--color-headings);
    font-family: var(--font-family-title);
    font-size: var(--font-size-h1);
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
  }

  & > :--authors {
    font-size: var(--font-size-90);
    :--givenNames,
    :--familyNames {
      color: var(--color-headings);
    }
  }

  & > [data-itemprop='affiliations'],
  & > :--datePublished {
    font-size: var(--font-size-90);
  }

  & > [data-itemprop='about'],
  & > [data-itemprop='genre'],
  & > :--identifiers,
  & > :--keywords {
    display: none;
  }

  & > [data-itemprop='description'] {
    padding: 20px;
    margin-top: 40px;
    box-shadow: inset -1px 0 6px 7px #f5f5f5;

    h2 {
      font-weight: 500;
    }
  }

  :--Heading,
  :--references > h2 {
    color: var(--color-headings);
    margin-top: 2%;
    font-weight: 600;
    border-right: 5px solid transparent;
    border-bottom: 1px solid var(--color-brand);
    line-height: 1.3;
  }

  h2:--Heading {
    font-size: var(--font-size-h2);
    margin-top: 1em;
  }

  h3:--Heading {
    font-size: var(--font-size-h3);
  }

  h4:--Heading {
    font-size: var(--font-size-h4);
  }

  h5:--Heading {
    font-size: var(--font-size-h4);
  }

  h6:--Heading {
    font-size: var(--font-size-h6);
  }

  :--Paragraph {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  a,
  :--Link {
    &:link,
    &:visited {
      font-style: normal;
      text-decoration: none;
      color: var(--color-brand);
    }
  }

  :--Cite {
    color: var(--color-primary-100);
  }

  /* Default to numeric citation format for cite group fallback text */
  :--CiteGroup {
    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }

    :--Cite {
      &:not(:last-child)::after {
        content: ',\00a0';
        order: 100;
      }
    }

    :--Cite > a > :first-child {
      display: inline;
    }

    :--Cite > a > :last-child {
      display: none;
    }

    /* Ensure that at least one citation format is visible */
    :--Cite > a > :only-child {
      display: inline;
    }
  }

  :--Figure,
  :--Table caption {
    background: #ecf5e3;
    border-left: 3px solid var(--color-brand);
    padding: 5px;
    text-align: left;

    :--label {
      color: var(--color-brand);
      font-weight: 500;
    }

    :--caption,
    figcaption {
      :--Heading {
        border-bottom: none;
      }
    }
  }

  :--Figure {
    display: flex;
    flex-direction: column;

    :--label {
      order: -2;
      margin-left: 0;
    }

    :--caption,
    figcaption {
      order: -1;
      padding-top: 0;
      padding-left: var(--spacer-sm);
    }
  }

  :--Table {
    width: 100%;
  }

  :--Table,
  :--TableRow,
  :--TableCell {
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

  thead,
  tbody {
    font-size: var(--font-size-75);
  }

  thead > :--TableRow,
  :--TableRow:nth-child(even) {
    background-color: var(--color-neutral-100);
  }

  :--TableCell {
    padding: 0.25rem;
  }

  :--references {
    & > h2 {
      font-size: var(--font-size-h4);
    }

    & > ol {
      padding-left: 25px;
      list-style: decimal;
      list-style-position: outside;
      margin-top: 0;

      :--reference {
        margin-top: var(--spacer-md);
        margin-bottom: var(--spacer-md);
        min-height: 68px;

        &:first-child {
          margin-top: 0;
        }
      }

      :--authors {
        & > :--Person:not(:only-child):not(:first-child) {
          display: none;
        }

        & > :--Person:first-child:not(:only-child) {
          &::after {
            content: '\00a0 et al.';
            white-space: nowrap;
          }
        }
      }

      :--title {
        color: var(--color-accent);
      }
    }
  }

  :--reference {
    font-size: var(--font-size-80);
    font-weight: 400;
    line-height: 21.76px;
  }
}
