@import url('https://fonts.googleapis.com/css?family=Lato');

body,
input,
textarea {
  font-family: 'Avenir Next', Lato, 'Nunito Sans', Helvetica, Arial, Verdana, sans-serif;
}

.app-nav,
.app-nav.no-badge {
	margin: 0;
	border-top: 5px solid #2568ef;
	border-bottom: 1px solid #BBB;
	text-align: right;
    padding: 10px 1em;
}

.app-nav .project {
	font-weight: bold;
	font-size: 1.2rem;
}

/* Dropdown */
.app-nav li ul {
	overflow-y: auto;
}

.sidebar {
	margin-top: 5em;
	font-size: 1.1em;
	border: none;
	min-width: 10em;
}

.sidebar .sidebar-nav a:hover {
	text-decoration: none;
	color: #0e51da;
}

.sidebar .search,
.sidebar .sidebar-nav {
	margin: 1em;
	border-bottom: none;
}

.sidebar .search input {
	font-size: 1em;
	color: #777;
	border: 1px solid #DDD;
}

.sidebar .search .results-panel {
	border: 1px solid #DDD;
	border-top: 0;
}

.sidebar .search .results-panel .matching-post,
.sidebar .search .results-panel .empty {
	margin: 0;
	text-align: left;
	padding: 0.5em;
}

.sidebar ul li {
	margin: 0 0 0 15px;
	line-height: 1.5em;
}

.sidebar ul li a {
	font-size: 1em;
	line-height: 1.5em;
	color: #2568ef;
}

.sidebar ul li.active > a {
	color: #2568ef;
	border-right: none;
}

.markdown-section {
	margin-top: 1.5em;
	color: #777;
}

.markdown-section a,
.markdown-section a:hover {
	text-decoration: none;
}

.markdown-section code {
	color: #4d7d40;
	font-size: 1em;
}

.markdown-section pre code {
	font-size: 0.9em;
	color: grey;
}

.markdown-section pre::after {
  font-size: 0.8rem;
}

.markdown-section blockquote {
	border-left: 4px solid #4255b9;
	padding-left: 0;
	background: #3489ff1a;
}

.markdown-section blockquote p {
	font-weight: inherit;
	margin-left: 0;
	padding: 1rem;
}

.markdown-section p.warn {
	background: #5aff5c1a;
	border-bottom-right-radius: 2px;
    border-left: 4px solid #7aff66;
    border-top-right-radius: 2px;
}

.markdown-section p.tip {
	background: #ffe6e6;
}

.button {
    padding: 0.9em;
    color: white;
    background: #2568ef;
    border-radius: 3px;
}

.button:hover {
	background: #2a5fca;
	color: #DDD;
}

/* Mini code highlighting */

.token.function {
	color: green;
}

.token.symbol {
	color: #e144e7;
	font-style: italic;
}
