.stencil-figure {

  border: 1px solid #E8E8E8;
  padding: 1em;

  .header {
    font-weight: bold;
    font-size: 1.1em;

      .label {
        color: #999;
      }
      .label:after {
        content: ": ";
      }
  }

  button {
    @extend .stencil-exec-button;
  }

  .image {
    display: block;
    margin: 0 auto;
    width: 100%;
    // Note that individual images may have max-height and max-width
    // specified by the stencil author
  }

}


