[package]
name = "schema-gen"
version = "0.0.0"
edition = "2021"

[features]
default = ["docs"]
docs = ["codecs", "schema"]

[dependencies]
codecs = { path = "../codecs", optional = true }
common = { path = "../common" }
schema = { path = "../schema", optional = true }
schemars = { version = "0.8.17", features = ["indexmap2"] }
status = { path = "../status" }
lazy_static = { version = "1.4.0", features = [] }
topological-sort = "0.2.2"
