[data-comment] {
  // So that there is no "flash" of content appearance befor Javascript is fully loaded
  // don't display comments when static mode
  display: none;
}

.sc-comment {
  max-width: 30em;
  font-size: 90%;

  & > .se-header {
    background: #dcdcdc;
    padding: 0.1em 0.5em 0 0.5em;
    color: #777;

    .se-who {
      display: inline-block;
    }

    .se-when {
      display: inline-block;
      float: right;
    }
  }

  // Hide slugs (not relevant for this out-of-flow component?)
  & > .se-slug {
    display: none;
  }

  & > .se-container.sm-disabled {
    background: #f1f1f1;
  }

  .sc-container-editor {
    padding: 0.5em;

    line-height: 1.1em;

    .sc-paragraph:last-child {
        padding: 0;
    }
  }
}
