[data-comment] {
  // So that there is no "flash" of content appearance before Javascript is fully loaded
  // don't display comments when static mode
  display: none;
}

&.sc-visual-editor .sc-comment {
  min-width: 20em;
  max-width: 30em;
  font-size: 90%;

  & > .se-header {
    background: #dcdcdc;
    padding: .1em .5em 0;
    color: #777;

    .se-who {
      display: inline-block;
    }

    .se-when {
      display: inline-block;
      float: right;
    }
  }

  // Hide slugs (not relevant for this out-of-flow component?)
  & > .se-slug {
    display: none;
  }

  & > .se-container.sm-disabled {
    background: #f1f1f1;
  }

  .sc-container-editor {
    padding: .5em;

    line-height: 1.1em;

    .sc-paragraph:last-child {
      padding: 0;
    }
  }
}

&.sc-code-editor .sc-comment {

  & > .se-header {
    .se-who {
      display: inline-block;
      color: #666;
    }

    .se-when {
      display: inline-block;
      color: #666;
      margin-left: 1em;
    }
  }

  // Hide slugs
  & > .se-slug {
    display: none;
  }

  // Remove outline and make full width
  & > .se-container {
    outline: none !important;
    width: 100%;
  }

  .sc-container-editor {
    color: #aaa;
    font-style: italic;
  }
}
