/**
 * This and font files from https://google-webfonts-helper.herokuapp.com/fonts
 * but with SVG support for legacy iOS removed because those files are quite large (~200k)
 */

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lato-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('./fonts/lato-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       ;
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/lato-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('./fonts/lato-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       ;
}
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/lato-v11-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url('./fonts/lato-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       ;
}
