#Ignore version.hpp and stencila/DESCRIPTION and NAMESPACE files (Which get generated during build. See Makefile)
version.hpp
stencila/DESCRIPTION
stencila/NAMESPACE

#Ignore files created by build
*.o
*.so
*.dll
stencila/src/symbols.rds
stencila/man/*.Rd
stencila*.tar.gz
stencila*.zip
repo

#Ignore testing files and directory
*.Rcheck
testing

#Ignore IDE files
.Rhistory
stencila_r.project
