#Ignore version.hpp and stencila/DESCRIPTION files (Which get generated during build. See Makefile)
version.hpp
stencila/DESCRIPTION

#Ignore files created by R build and check process
builds
stencila.Rcheck
*.o
*.so
stencila/src/symbols.rds
stencila/man/*.Rd

#Ignore IDE files
.Rhistory
stencila_r.project