/* HACK: Ensure texture uses up all available space */
.sc-publication .sc-document-editor {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.sc-publication .sc-editor {
  /*top: 50px;
  border-top: 1px solid #e1e4e8;*/
}

.sc-publication .se-header {
  /*display: flex;*/
  display: none;
  padding: 10px;
  background: #eef0f2;
}

.sc-publication .se-header input {
  font-size: 14px;
  padding: 0px 5px;
  margin-right: 20px;
}

.sc-publication .se-header button {
  font-size: 12px;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 30px;
  margin-left: 5px;
}

.sc-publication .se-header button:hover {
  background: #fff;
}

.sc-publication .se-header button.sm-active {
  background: #444;
  color: white;
}
