.sc-stencil-figure {
  .source {
    background: #2B303B;

    margin-left: -20px;
    margin-right: -20px;
    color: rgba(255,255,255,0.9);
    padding: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;    
  }
}


