.sc-stencil-figure {
  position: relative;

  .source {
    background: #2B303B;

    margin-left: -20px;
    margin-right: -20px;
    color: rgba(255,255,255,0.9);
    padding: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;    
  }

  .se-action {
    position: absolute;
    right: 15px;
    top: 15px;

    font-size: 12px;
    font-weight: bold;
    position: absolute;
    color: #888;
    padding: 10px;
    cursor: pointer;

    &:hover {
      color: #222;
    }
  }
}


