# Workflow for publishing docs and other artifacts to GitHub Pages

name: Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: github-pages

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create archive to upload
        run: |
          tar --dereference --hard-dereference \
              -cvf ${{ runner.temp }}/archive.tar \
              ./install.sh -C json . -C ../docs .

      - name: Upload the archive as a `github-pages` artifact
        # upload-artifact@v4 is available but does not appear
        # to be compatable with actions/deploy-pages@v3
        uses: actions/upload-artifact@v3
        with:
            name: github-pages
            path: ${{ runner.temp }}/archive.tar
            retention-days: 1
            if-no-files-found: error

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
