# Workflow for running linting, tests and builds
#
# Actual release builds are done on tags by the `release.yml` workflow.
# This just performs builds on Linux to reduce the proability that they
# will fail in the release workflow.

name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  RUST_VERSION: '1.71.0'
  CARGO_TERM_COLOR: always
  NODE_VERSION: '20'
  PYTHON_VERSION: '3.11'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_VERSION }}
          components: clippy,rustfmt

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup Poetry
        uses: snok/install-poetry@v1
        
      - name: Install dependencies
        run: make install

      - name: Run linting
        run: make lint

      - name: Run tests
        run: make test

      - name: Run checks
        run: make checks

      - name: Make generated files
        run: make generated

      - name: Commit generated files
        if: github.ref == 'refs/heads/main'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore(*): Update generated files"
