# Workflow for running linting, tests, and other checks

name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  RUST_VERSION: '1.71.0'
  CARGO_TERM_COLOR: always
  NODE_VERSION: '20'
  PYTHON_VERSION: '3.11'

jobs:
  test:
    runs-on: ubuntu-latest-m

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        # Skip because on `ubuntu-latest-m` seems to be detrimental
        if: false
        with:
          root-reserve-mb: '4096'
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_VERSION }}
          components: clippy,rustfmt,llvm-tools

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup Poetry
        uses: snok/install-poetry@v1

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
      - run: which chrome
      
      - name: Show disk usage
        run: df -h && du -hd1
        
      - name: Install dependencies
        run: make install

      - name: Run linting
        run: make lint

      - name: Run tests with coverage
        run: make cover

      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          verbose: true

      - name: Run accessibility checks
        run:	make a11y

      - name: Run dependency audits
        run: make audit

      - name: Run package publishing checks
        run: make pubcheck

      - name: Make generated files
        run: make generated

      - name: Pull branch before commit
        if: github.ref == 'refs/heads/main'
        run: git pull origin main

      - name: Commit generated files
        if: github.ref == 'refs/heads/main'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(*): Update generated files"

      - name: Show disk usage
        run: df -h && du -hd1
