@import '../../extensions/cite-apa/styles.css';
@import '../../extensions/code/styles.css';
@import '../../extensions/math/styles.css';
@import '../../extensions/pages/styles.css';
@import '../../extensions/person/styles.css';
@import '../../extensions/organization/styles.css';

:--root {
  @import 'https://raw.githubusercontent.com/davidrzs/latexcss/9264a50c252d47fbe6d4998dbc5581882d79ab3c/latex.css';

  --spacer-medium: 1em;
  --spacer-large: 6em;
  --color-stock: #fff;
  --color-key: #000;
  --font-family-body: 'Latin Modern Roman', serif;
  --font-family-display: var(--font-family-display);
  --font-size-body: 13pt;
  --max-width: 720px;

  background-color: var(--color-stock);
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  color: var(--color-key);
  counter-reset: theorem;
  counter-reset: definition;
  max-width: var(--max-width);
  margin: 2em auto;
  text-align: justify;
  hyphens: auto;
  padding: 0 1em;

  @media (min-width: 43.75em) {
    padding: 0;
  }

  :--ImageObject {
    max-width: 100%;
    height: auto;
  }

  > :--authors :--author {
    /* latexcss has a few classes, one of which is for authors of the
     * article, so use that... */
    @extend .author;

    &:not(:last-child)::after {
      content: ', ';
      order: 100;
    }
  }

  > :--datePublished {
    display: block;
    width: 20em;
    margin: 0 auto;
    text-align: center;
  }

  > [data-itemprop='about'],
  > [data-itemprop='genre'],
  > :--identifiers,
  > :--keywords {
    display: none;
  }

  > :--identifiers {
    display: none;
  }

  :--Figure,
  :--Table {
    margin-top: var(--spacer-large);
    margin-bottom: var(--spacer-large);
  }

  > :--references {
    :--reference {
      margin-top: var(--spacer-medium);
      text-align: left;
    }
  }
}
