.sc-link-tool {
	input {
		outline: none;
		border: none;
		padding: 0.2em;

	    background: hsla(0,0%,100%,0.5);
	    line-height: 1em;
	    height: 1em;
	    font-size: 1em;
	    margin-right: 0.3em;
	}
}
